DaOffice - Копирайтер.json
{
  "updatedAt": "2026-03-20T09:18:13.216Z",
  "createdAt": "2026-03-11T06:28:11.511Z",
  "id": "2Uct4DZlKoA95E9L",
  "name": "DaOffice - Копирайтер",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -736,
        -128
      ],
      "id": "4c5caf1d-4a00-4194-97c8-4cc6a6241c7a",
      "name": "Старт"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17DWV3w_bQFE4n1_Q0Qz9LGJKgFgRNlZRgZQcBIV9IBU",
          "mode": "list",
          "cachedResultName": "MDC-SEO-ТЗ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17DWV3w_bQFE4n1_Q0Qz9LGJKgFgRNlZRgZQcBIV9IBU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "kt-domodedovo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17DWV3w_bQFE4n1_Q0Qz9LGJKgFgRNlZRgZQcBIV9IBU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -400,
        -128
      ],
      "id": "d0329cb9-7386-480e-9596-94f58fbc95bc",
      "name": "Sheets — Читаем строки",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a9QZU9EqwzLuJGIO",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -208,
        -128
      ],
      "id": "f98f76d4-8f2a-4c34-ad51-6c83bbbff70b",
      "name": "Loop — По строкам"
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\n\n// Пропускаем если Копирайт уже заполнен или ТЗ пустой\nif (row['Копирайт'] || !row['ТЗ'] || row['ТЗ'].trim() === '') {\n  return [];\n}\n\nconst url = row['ТЗ'] || '';\nconst match = url.match(/\\/d\\/([a-zA-Z0-9-_]+)/);\nconst docId = match ? match[1] : null;\n\nif (!docId) {\n  throw new Error('Не удалось извлечь ID документа из URL: ' + url);\n}\n\nreturn [{ json: { ...row, docId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -240
      ],
      "id": "f230b19e-a209-4525-af6e-7447fec48744",
      "name": "Code — Извлекаем ID документа"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.docId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        160,
        -240
      ],
      "id": "bdc6299b-1258-466d-a44e-4b34718157e5",
      "name": "Docs — Читаем ТЗ",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "REernUZwFdyG0YaB",
          "name": "Google Docs API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst text = item.content || item.docText || '';\n\n// H1\nconst h1Match = text.match(/H1[:\\s]+([^\\n]+)/i);\nconst h1 = h1Match ? h1Match[1].trim() : (item['H1 (главный ключ)'] || '');\n\n// Объём\nconst volMatch = text.match(/Рекомендуемый объём[:\\s]+([^\\n]+)/i);\nconst volume = volMatch ? volMatch[1].trim() : '~3000 символов';\n\n// Тональность\nconst toneMatch = text.match(/Тональность[:\\s]+([^\\n]+)/i);\nconst tone = toneMatch ? toneMatch[1].trim() : 'Информативный, экспертный';\n\n// LSI-фразы\nconst lsiSectionMatch = text.match(/LSI-фразы[\\s\\S]*?\\n[^\\n]+\\n([^\\n]+)/i);\nconst lsiRaw = lsiSectionMatch ? lsiSectionMatch[1] : '';\nconst lsiPhrases = lsiRaw.split(';').map(s => s.trim()).filter(s => s.length > 2);\n\n// Топ-фразы конкурентов — ищем все строки с паттерном \"фраза: N / N -- avg\"\nconst freqTargets = {};\nconst freqLines = text.matchAll(/^([^\\n:]+?):\\s*[\\d\\s\\/]+--\\s*([\\d.]+)\\s*$/gm);\nfor (const m of freqLines) {\n  freqTargets[m[1].trim().toLowerCase()] = parseFloat(m[2]);\n}\n\n// Форматируем для промпта\nconst freqTargetsText = Object.entries(freqTargets)\n  .map(([phrase, avg]) => phrase + ': max ' + Math.ceil(avg))\n  .join('\\n');\n\n// Структура страницы\nconst structStart = text.indexOf('Структура страницы');\nconst structEnd = text.indexOf('Обязательные блоки');\nconst structure = (structStart > -1 && structEnd > -1)\n  ? text.slice(structStart, structEnd).trim() : '';\n\n// Обязательные блоки\nconst mandStart = text.indexOf('Обязательные блоки');\nconst mandEnd = text.indexOf('Чего нет у конкурентов');\nconst mandatoryBlocks = (mandStart > -1)\n  ? text.slice(mandStart, mandEnd > -1 ? mandEnd : mandStart + 800).trim() : '';\n\n// Чего нет у конкурентов\nconst uniqueStart = text.indexOf('Чего нет у конкурентов');\nconst uniqueEnd = text.indexOf('Нейроанализ', uniqueStart);\nconst uniqueBlocks = (uniqueStart > -1)\n  ? text.slice(uniqueStart, uniqueEnd > -1 ? uniqueEnd : uniqueStart + 500).trim() : '';\n\n// Нейроанализ\nconst neuroStart = text.indexOf('Нейроанализ');\nconst neuroAnalysis = neuroStart > -1 ? text.slice(neuroStart).trim() : '';\n\nreturn [{\n  json: {\n    h1,\n    volume,\n    tone,\n    lsiPhrases,\n    lsiPhrasesText: lsiPhrases.join('\\n'),\n    freqTargets,\n    freqTargetsText,\n    structure,\n    mandatoryBlocks,\n    uniqueBlocks,\n    neuroAnalysis,\n    rowNumber: item.row_number || 2,\n    docId: item.docId || item.documentId,\n    originalH1: item['H1 (главный ключ)'] || h1,\n    fullTZ: text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -240
      ],
      "id": "055d705f-42b3-4241-bc9f-c072c904975c",
      "name": "Code — Парсим ТЗ"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {
          "maxTokens": 12000,
          "temperature": 0.65
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        784,
        -368
      ],
      "id": "ceecd0c8-d206-4731-b345-f641da781924",
      "name": "Model — Claude Sonnet 4.5",
      "credentials": {
        "openRouterApi": {
          "id": "SJfOtcHEhZz2rEvu",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {
          "maxTokens": 16000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1056,
        -368
      ],
      "id": "f04b4526-09d7-4a9c-8b89-85567447fc3a",
      "name": "Model — Gemini Flash (Редактор)",
      "credentials": {
        "openRouterApi": {
          "id": "SJfOtcHEhZz2rEvu",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {
          "maxTokens": 2000,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1840,
        -368
      ],
      "id": "df955d48-e6dd-416e-9582-6eaabb766f4a",
      "name": "Model — Gemini Flash (Проверка)",
      "credentials": {
        "openRouterApi": {
          "id": "SJfOtcHEhZz2rEvu",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "url": "https://cooqqmlorcxvhghpcwrb.supabase.co/rest/v1/company_context?key=eq.main",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvb3FxbWxvcmN4dmhnaHBjd3JiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMDMyOTIsImV4cCI6MjA4ODc3OTI5Mn0.kPv9DDO_dzzeGrIO0i9CvXrp9lA5QGITu50f1RnXQTE"
            },
            {
              "name": "Authorization",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvb3FxbWxvcmN4dmhnaHBjd3JiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzIwMzI5MiwiZXhwIjoyMDg4Nzc5MjkyfQ.th9yfvUdukkETANLUBFVAXZupSCsPohvaCeeopF969I"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -560,
        -112
      ],
      "id": "a7134a0f-b5cd-4cee-81f5-8684abb5972b",
      "name": "Supabase connect"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// Берём Ключевые из ноды где ещё была строка Sheets\nconst prevNode = $('Code — Извлекаем ID документа').first().json;\nconst keysRaw = prevNode['Ключевые'] || '';\n\nconst toStringSafe = v => (v == null ? \"\" : String(v));\n\nconst tokenize = s => {\n  const m = toStringSafe(s).toLowerCase().match(/\\p{L}[\\p{L}\\p{Nd}-]*/gu);\n  return m || [];\n};\n\nconst ngrams = (tokens, n) => {\n  const res = [];\n  for (let i = 0; i <= tokens.length - n; i++) {\n    res.push(tokens.slice(i, i + n).join(\" \"));\n  }\n  return res;\n};\n\nconst keysArr = toStringSafe(keysRaw)\n  .split(/[\\n;,]+/)\n  .map(s => s.trim())\n  .filter(Boolean);\n\nconst grams2 = new Set();\nconst grams3 = new Set();\n\nfor (const k of keysArr) {\n  const toks = tokenize(k);\n  ngrams(toks, 2).forEach(g => grams2.add(g));\n  ngrams(toks, 3).forEach(g => grams3.add(g));\n}\n\nreturn [{\n  json: {\n    ...item,\n    keywords: keysArr,\n    ngrams2: Array.from(grams2),\n    ngrams3: Array.from(grams3),\n    // Тащим Нейроанализ тоже — пригодится для Писателя\n    neuroAnalysis: prevNode['Нейроанализ'] || '',\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -240
      ],
      "id": "480a61ae-a900-4b0f-95bc-6d5c88ff2683",
      "name": "N-граммы"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ЧАСТЬ 1: ВХОДНЫЕ ДАННЫЕ\n\n- **Рекомендуемый объём:**\n{{ $json.volume }}\n⚠️ VOLUME_LOCK: Целевое кол-во слов = {{ Math.round($json.volume.match(/\\d+/)[0] / 4) }} слов. Пиши именно столько. Не меньше.\n\n### Модуль 1: SEO и Семантика\n- **Основные ключевые слова и кол-во вхождений к ним:**\n!Важно: показан ключ и кол-во вхождений по нему. Необходимо употребить в указанном диапазоне НО НЕ БОЛЬШЕ, ЧТОБЫ НЕ ПЕРЕСПАМИТЬ.\n{{ $json.freqTargetsText }}\n\n- **LSI-слова (для тематики): основные и с нейроанализатора:**\n{{ $json.lsiPhrases }}\n{{ $json.lsiPhrasesText }}\n\n1) Точное вхождение уникальных вариаций из биграмм, триграмм — не более 1 раза на всю страницу. Если встречается чаще — оставь 1, остальные замени на естественные морфо‑вариации/LSI/синонимы, или убери как «ковёр».\n**1.1. НИКОГДА НЕ ВПИСЫВАЙ ЦЕЛЫЕ КЛЮЧЕВЫЕ СЛОВА 1В1 В ТЕКСТ БЕЗ АДАПТАЦИИ ИХ ФОРМУЛИРОВКИ ПОД ПРАВИЛА ЯЗЫКА.**\n**1.2. КАТЕГОРИЧЕСКИ ЗАПРЕЩЕНО СОЗДАВАТЬ ВОДЯНИСТЫЕ ПРЕДЛОЖЕНИЯ С КЛЮЧЕВЫМИ СЛОВАМИ ТИПА \"Раскрутка сайта по продаже металлопроката требует четких правил.\", \"купить смартфоны в москве можно у нас\"**\n**1.3. Разбивай длинные ключевые фразы из более чем 4 слов на короткие и вписывай их в одно предложение или пассаж. Пример \"арматура а3 в москве\" -> \"..арматура а3..в москве..\".**\n**1.4. Не используй коммерческие добавки по тексту особенно когда это становится неестественно. Коммерческие хвосты (\"в домодедово\", \"цена\", \"стоимость\") вписывай только там где органично — можно разнести по разным частям текста.**\n\n---\n\n### Модуль 2: Стратегическая Основа\n\n- **Стратегический Бриф / Нейроанализ (изучи, впитай экспертизу по теме):**\n{{ $json.neuroAnalysis }}\n\n- **Тема страницы / H1:**\n{{ $json.h1 }}\n\n- **Рекомендуемый объём:**\n{{ $json.volume }}\n\n- **Тональность:**\n{{ $json.tone }}\n\n---\n\n### Модуль 3: Персона и Голос\n\n- **Персона AI (внутренний ориентир — не упоминается в тексте напрямую):**\nВнутренний голос — врач-диагност с 25+ летним стажем, кандидат и доктор медицинских наук. Пишет с позиции глубокой экспертизы: точно, без воды, с уважением к пациенту. Задаёт уровень экспертности текста — но в тексте от врача лично ничего не пишется.\n\n- **Эталонный стиль (критически важно для голоса):**\nЭкспертный, спокойный, конкретный. Никакой рекламной восторженности.\nТон — как у клиники с репутацией: чётко, по делу, с заботой о пациенте.\nФакты вместо эпитетов. Короткие ёмкие предложения.\nКлиника называется MDC — используй это название вместо «мы» где уместно.\nОборудование: японский томограф Toshiba 64 среза — упоминать как преимущество там, где органично.\nЦены — «без переплат», «по разумной цене». Не «дёшево».\nТекст пишется от лица клиники MDC, не от врача лично.\n\n---\n\n### Модуль 4: Информация о компании\n{{ $('Supabase connect').item.json.value }}\n---\n\n### Модуль 5: Структура страницы\n\n**Структура страницы (что раскрывать и как):**\n{{ $json.structure }}\n\n**Обязательные блоки контента:**\n{{ $json.mandatoryBlocks }}\n\n**Чего нет у конкурентов (уникальные блоки — включить органично):**\n{{ $json.uniqueBlocks }}",
        "options": {
          "systemMessage": "=## ЗАДАНИЕ ДЛЯ AI И МОДУЛИ ГЕНЕРАЦИИ\nВозьми на себя роль коммерческого копирайтера компании Domos Expert. Ты пишешь тексты для посадочных страниц сайта Domos Expert. Пиши тексты от лица компании.\n\n### Модуль 1: Основная Задача\nТвоя задача — взять входные данные из Части 1 и, строго следуя им, сгенерировать полноценный SEO-текст страницы. Пиши исключительно на русском языке, регион RU.\n\nСтруктура текста — строго на основе данных из Модуля 5 входных данных (структура, обязательные блоки, уникальные блоки). Включай ТОЛЬКО те блоки, которые явно присутствуют в структуре из входных данных. Никаких блоков от себя — ни \"Советов по выбору клиники\", ни \"Оборудования\", ни \"Подготовки\", ни \"Как проходит процедура\", если их нет в структуре ТЗ.\n\n### Модуль 2: Внутренний Мыслительный Процесс\nПрежде чем начать писать, выполни следующую последовательность действий \"внутри себя\":\n1. **Глубокий Анализ:** Полностью погрузись в Нейроанализ (модуль 2), Базу Знаний (модуль 4) и Эталонный стиль (модуль 3). Пойми боли ЦА (~85% коммерческий интент) и впитай заданный голос.\n2. **Проектирование:** Мысленно сверься со структурой из модуля 5. Убедись, что логика повествования ведёт читателя от проблемы к решению.\n3. **Подсчёт объёма:** Вычисли целевое количество слов по формуле: [целевые символы] ÷ 6.5. Распредели слова равномерно между блоками.\n4. **Написание:** Только после этого приступай к генерации текста.\n\n### Модуль 3: Иерархия Приоритетов\n1. **Структура и обязательные блоки из модуля 5** входных данных — главная команда.\n2. **Нейроанализ из модуля 2** — используй для понимания стратегии, аудитории, семантики и пробелов конкурентов.\n3. **База Знаний из модуля 4** — ОСНОВНОЙ источник для конкретных фактов о компании. Не придумывай ничего, чего там нет.\n4. **Эталонный стиль из модуля 3** — камертон для голоса и тональности.\n\n### Модуль 4: Редакционная Политика и Стиль (НЕУКОСНИТЕЛЬНОЕ СОБЛЮДЕНИЕ)\n\n- **Приоритет Редактуры:** Если ключевое слово из модуля 1 противоречит правилам редактуры, отдай предпочтение правилам — переформулируй или найди органичный синоним.\n\n- **Принцип \"Ценность для ЦА\":** Никогда не оставляй характеристику без объяснения выгоды для пациента.\n  - Плохо: «Используем томограф 64 среза.»\n  - Хорошо: «Томограф на 64 среза сканирует почки за 3 минуты — меньше лучевой нагрузки, точнее снимок.»\n\n- **Запрещённые слова и конструкции (СТОП-СЛОВА):**\n  - Фразы-паразиты: \"в современном мире\", \"на самом деле\", \"в действительности\", \"ни для кого не секрет\"\n  - Усилители: максимально, очень, абсолютно, самый, наиболее (заменяй фактами)\n  - Вводные конструкции: допустим, скажем, например, в целом, в общем\n  - Оценочные определения: прелестный, роскошный, уникальный (доказывай уникальность фактами)\n  - Штампы: шаг за шагом, завоевать доверие, динамично развивающийся, индивидуальный подход\n  - Отглагольные существительные: \"осуществлять диагностику\" → \"диагностируем\"; \"оказание услуг\" → \"помогаем\"\n  - Страдательный залог: \"было проведено исследование\" → \"провели исследование\"\n\n- **Лицо и Тональность:** Пиши от лица клиники. Используй «мы», «наш», «MDC». Избегай «компания предлагает» — только «MDC предлагает» или «мы предлагаем».\n\n- **Ограничение на частоту слова «Мы»:** Не более 2 вхождений в абзаце. Остальные случаи переформулируй через:\n  - Название клиники MDC\n  - «специалисты», «врачи-диагносты», «команда»\n  - Активные глаголы в безличной форме («диагностируем», «проводим», «выдаём»)\n  - Конструкции, где субъект понятен из контекста\n\n- **Общие Правила:**\n  - Ясность: одно предложение — одна мысль. Предложения длиннее 20 слов — разбивай.\n  - Конкретика: вместо оценок — факты, цифры из Базы Знаний.\n  - Структура: короткие абзацы (3–5 строк). Логичные переходы.\n  - Живой язык: больше глаголов (действий), чем прилагательных.\n  - Пунктуация: длинное тире (—) для смыслового разделения, дефис (-) для составных слов.\n\n**Ритмическое кадрирование:**\n1. **Вариативность длины предложений.** После длинного предложения (≈20–25 слов) — 1–2 коротких удара (3–8 слов): итог, ценность, следующий шаг.\n2. **Мостики (feature → benefit → value).** После плотного блока — переход к выгоде. Не повторяйся.\n3. **Один абзац — одна ценность.** Ядро формулируется одним предложением.\n4. **Ритм CTA.** Завершай смысловые блоки коротким призывом (2–6 слов): «Записаться на КТ», «Получить результат за 24 часа».\n5. **Микродоказательства сразу после обещаний.** Цифра, факт, характеристика оборудования. Формула: обещание → доказательство в 1–2 фразах.\n6. **Сканируемость.** Подзаголовки ≤6 слов, списки по 3–5 пунктов, ключевые слова впереди.\n7. **Тон и лексика.** Конкретика вместо эпитетов; сроки, технические характеристики.\n\n**Использование H3:**\n- H3 применяй в 1–2 самых объёмных блоках текста — там, где тема требует разбивки на подтемы.\n- Не используй H3 в каждом блоке — только там, где это логично по содержанию.\n- Чередуй между текстами: если в одном тексте H3 в \"Показаниях\" — в следующем H3 в другом блоке.\n- Примеры органичных H3 в \"Показаниях\": \"Когда нужна срочная диагностика\", \"Плановые направления\", \"После травмы и осложнений\".\n- Примеры H3 в \"Что показывает КТ\": \"Онкологический поиск\", \"Мочекаменная болезнь\", \"Врождённые аномалии\".\n- H3 не должны дублировать H2 — они раскрывают подтему, не повторяют её название.\n- Минимум 2 абзаца текста под каждым H3.\n\n**Структурные правила блоков:**\n\nАНОНС (текст сразу под H1, до первого H2):\n- Актуализирует основную информацию страницы — о чём она, что получит пациент.\n- Объём: 2–3 развёрнутых предложения.\n- Обязательно: минимум 1 n-грамма из списка ключей — вписать органично.\n- Обязательно: 1 упоминание топонима (Домодедово или Москва) — один раз, естественно.\n- Запрещено: цены, перечисления услуг, маркированные списки.\n\nМАРКИРОВАННЫЕ СПИСКИ:\n- Минимум 2, максимум 4 маркированных списка на весь текст.\n- В каждом списке — богатое описание пунктов, не сухие однословные перечисления.\n- Обязательно включить в текст заболевания и патологии, при которых назначают процедуру по теме H1 — оформить маркированным списком с развёрнутым описанием каждого пункта.\n- Остальной текст — связные абзацы, не списки.\n\nБЛОК ЦЕН (под заголовком \"Цены на [H1]\"):\n- Только 1–2 коротких предложения. Никаких таблиц.\n- Никаких конкретных цифр стоимости в тексте — цены отображаются отдельным блоком сайта.\n- Никаких сравнений со средними ценами по рынку или конкурентами.\n- Если H1 страницы — процедура без контраста, не упоминать контрастирование в этом блоке.\n\nFAQ:\n- КАТЕГОРИЧЕСКИ ЗАПРЕЩЕНО генерировать блок FAQ в любом виде.\n- Не включать вопросы и ответы ни в каком формате — ни списком, ни в тексте.\n- FAQ формируется отдельной нодой.\n\nОБОРУДОВАНИЕ, ПОДГОТОВКА, КАК ПРОХОДИТ ПРОЦЕДУРА, СОВЕТЫ ПО ВЫБОРУ КЛИНИКИ:\n- Включать ТОЛЬКО если блок явно прописан в структуре из входных данных (Модуль 5).\n- Если блока нет в ТЗ — не включать ни под каким предлогом.\n\n### Модуль 5: Формат Вывода\n- Выводи связный текст с подзаголовками H2/H3 строго по структуре из входных данных.\n- В конце текста обязательно укажи: **Символов без пробелов: [число]**\n- Не выводи внутренние размышления, комментарии, пояснения к тексту.\n- Не выводи плейсхолдеры в фигурных скобках — всегда подставляй реальные данные из входных данных.\n\nVOLUME_LOCK:\nЦелевой объём — строго значение из поля \"Рекомендуемый объём\" входных данных (±10%).\n- Перед написанием вычисли целевое количество слов: [целевые символы] ÷ 6.5\n- Каждый блок H2 должен содержать минимум 100–150 слов.\n- Основа каждого блока — связный прозаический текст. Списки — вспомогательный элемент.\n- После написания подсчитай символы без пробелов. Если отклонение более 10% — перепиши слабые блоки.\n- Превышение целевого объёма более чем на 10% — текст невалиден, сократи.\n\n### Модуль 6: Интеграция ключевых слов (в виде n-грамм)\n\n*КОЛ-ВО вхождений*\nЗапрос и кол-во употреблений запроса в тексте указано здесь:{{ $json.freqTargetsText }}\n!!!НЕЛЬЗЯ ИСПОЛЬЗОВАТЬ ВХОЖДЕНИЕ ЛЮБОГО КЛЮЧА, ОСОБЕННО ОСНОВНОГО, БОЛЬШЕ ЧЕМ 11 РАЗ В ЛЮБОЙ СЛОВОФОРМЕ!!!\n!!!НЕЛЬЗЯ ИСПОЛЬЗОВАТЬ ВХОЖДЕНИЕ ЛЮБОГО КЛЮЧА, ОСОБЕННО ОСНОВНОГО, БОЛЬШЕ ЧЕМ 11 РАЗ В ЛЮБОЙ СЛОВОФОРМЕ!!!\n!!!НЕЛЬЗЯ ИСПОЛЬЗОВАТЬ ВХОЖДЕНИЕ ЛЮБОГО КЛЮЧА, ОСОБЕННО ОСНОВНОГО, БОЛЬШЕ ЧЕМ 11 РАЗ В ЛЮБОЙ СЛОВОФОРМЕ!!!\n\n**Термины:**\n- n-грамма — 1–3 слова подряд (уникальные би/триграммы считаем отдельно).\n- Точное вхождение — дословное совпадение формы и порядка слов.\n- LSI/синонимы — смысловые варианты, морфо-формы, перестановки, родственные термины.\n\n**1) Принципы:**\n1. Естественность прежде всего. Ключи вписываем так, чтобы не ломать смысл и ритм; перечисления/«ковры» запрещены.\n2. Релевантность блока. Если ключ не к месту — используем мягкую форму или опускаем.\n3. Без визуального акцента. Не выделяем ключи (CAPS, кавычки, болд).\n\n**2) Покрытие ключей:**\n1. Цель по охвату: включить большинство релевантных ключей (ориентир: ≥80%).\n2. Не гонимся за 1-в-1. Достаточно уникальной би/триграммы из запроса; допускаются морфологические изменения и перестановки.\n3. Канонизация вариантов. При множестве близких форм оставляем 1 каноничную.\n\n**3) Частота и плотность:**\n1. Точное вхождение каждого уникального ключа/n-граммы — ≤1 раза на страницу.\n2. Повторные упоминания — через морфо-варианты/LSI/синонимы.\n3. Плотности: точные n-граммы — от 1% до 1,5% от слов страницы; ключи + LSI вместе — до 20%.\n\n**4) Вариативность и форма:**\n1. Смело нормализуем: исправляем ошибки, меняем порядок слов, добавляем предлоги/союзы.\n2. Контекстная подстановка: вместо точного ключа можно вписать релевантное родовое слово.\n3. Семантическое разнообразие: после первого точного вхождения — синонимы, гиперонимы/гипонимы.\n\n**5) Запреты и анти-паттерны:**\n- Никаких «ковров» (цепочек ключей через запятые/слэши/скобки).\n- Не вставляем ключ 1:1 в нерелевантный абзац.\n\n### Модуль 7: Типовые ошибки вписывания ключевых слов\n- **Контекст ключей:** ключевые слова должны соответствовать услуге клиники, а не деятельности пациента.\n- **Лексические повторы:** не повторяй мысли и фразы из других блоков текста.\n\n### Модуль 8: Использование Базы Знаний компании\nВсе факты о компании бери ТОЛЬКО из Модуля 4 входных данных. Не выдумывай характеристики, цены, оборудование и специалистов, которых там нет.\nСТРОГО ЗАПРЕЩЕНО упоминать бренды и модели оборудования, которых нет в Базе Знаний. Единственный томограф в MDC — японский Toshiba 64 среза. Никакого Siemens и других аппаратов.\n\n### Модуль 9: Контроль Качества\n\n#### LANG_LOCK:\nПиши строго на русском языке. Исключение — общепризнанные бренды (Toshiba).\n\n#### PLACEHOLDER_POLICY:\nЗапрещено выводить плейсхолдеры в фигурных скобках. Всегда подставляй тему из H1. Остатков {…} быть не должно.\n\n#### DEDUP_POLICY:\nНе повторяй мысли из предыдущих блоков текста.\n\n#### KEYWORD_POLICY:\nГлавный ключ — ≤1 точного вхождения на страницу, далее вариации/морфология/LSI. Суммарная плотность ключей ≤1,5%. Запрещены «ковры» из ключей.\n\n#### ПОСЛЕПРОВЕРКА И СЛУЖЕБНЫЕ МАРКЕРЫ:\n##### KEYS_USED: перечисли n-граммы, использованные в точном вхождении (≤1 раз/ключ).\n##### PLACEHOLDERS_REMAINING: 0\n##### QUALITY_SCORE: [0–10] — краткая причина. При <9 перепиши слабые фрагменты.\n\n### Модуль 10: УТП компании и Salient-термины (QBST/Navboost)\n\n**Задача модуля.** В каждом блоке текста ясно подсвечивай одно конкретное УТП клиники MDC и подкрепляй его доказательствами из Базы знаний. Одновременно насыщай текст ожидаемыми тематическими терминами по запросу (salient terms), чтобы страница выглядела «полной» и закрывала следующий вопрос пациента.\n\n#### 10.1 Карта УТП → распределение по блокам\n1. Составь внутреннюю карту из 3–5 сильных УТП MDC — бери формулировки из Базы знаний компании.\n2. Для каждого блока текста выбери ровно одно релевантное УТП, чтобы не повторяться дословно.\n3. В блоках с ценами, подготовкой — раскрывай разные грани УТП (процессы, сроки, доступность).\n\n#### 10.2 Формула аргументации: «Офер → Доказательство → Выгода»\n- **Офер** — кратко и без оценочных клише.\n- **Доказательство** — 1–2 конкретики: факт, характеристика оборудования, срок.\n- **Выгода** — понятный практический результат для пациента (снятая боль, экономия времени).\n\n#### 10.3 Salient-термины по QBST\n- Используй в каждом блоке 2–4 тематически ожидаемых термина (co-occurring words: функции, характеристики, сценарии применения).\n- Встраивай естественно, чтобы закрывать сопутствующие вопросы пациента; не делай перечислений.\n- Цель — семантическая полнота блока, а не механическое повторение ключей.\n\n#### 10.4 Самопроверка УТП-фокуса (внутренне, перед выдачей каждого блока)\n- Видно ли какое именно УТП подсвечивается в этом блоке?\n- Есть ли одно чёткое доказательство из Базы знаний (факт/цифра/характеристика)?\n- Добавлены ли ожидаемые тематические термины (без перечислений)?\n- Станет ли пациенту проще принять решение (снято возражение/показана выгода)?\n\n## Финальная Самопроверка\nПрежде чем выдать ответ, мысленно оцени текст по 10-балльной шкале. Цель — не ниже 9. Если оценка ниже — перепиши слабые фрагменты.",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        640,
        -240
      ],
      "id": "be5fe535-2b19-4ee4-8369-291e75919a4a",
      "name": "Писатель",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "folderId": "1uyt5a2JAwVtiNckOja2ameFUuPBarpYq",
        "title": "=DaOffice - Статья: {{ $json.title }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        160,
        -16
      ],
      "id": "44355648-4a72-4479-882a-05c02950b492",
      "name": "GDoc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "REernUZwFdyG0YaB",
          "name": "Google Docs API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawEditor = $('Корректор').item.json.output;\nconst checkerOutput = $('Проверка ТЗ').item.json.output;\nconst h1 = $('Code — Парсим ТЗ').item.json.h1;\nconst lsiPhrases = $('Code — Парсим ТЗ').item.json.lsiPhrases || [];\n\nconst mdMatch = rawEditor.match(/```markdown\\n([\\s\\S]*?)```/);\nlet editorOutput = mdMatch ? mdMatch[1].trim() : rawEditor;\n\n// Чистим ссылки и скобки\neditorOutput = editorOutput.replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1');\neditorOutput = editorOutput.replace(/\\[([^\\]]+)\\]/g, '$1');\n\n// Убираем \"Символов без пробелов\"\neditorOutput = editorOutput.replace(/\\n\\*{0,2}Символов без пробелов[^\\n]+\\n?/gi, '');\n\n// Убираем служебные хвосты KEYS_USED / QUALITY_SCORE / PLACEHOLDERS\neditorOutput = editorOutput.replace(/\\n#{3,5}\\s*(KEYS_USED|PLACEHOLDERS_REMAINING|QUALITY_SCORE|ПРАВКИ)[^\\n]*[\\s\\S]*?(?=\\n#|\\n---\\n|$)/gi, '');\neditorOutput = editorOutput.replace(/\\n---\\s*$/, '').trim();\n\nconst divider = '\\n\\n' + '═'.repeat(50) + '\\nОТЧЁТ ПРОВЕРКИ ТЗ\\n' + '═'.repeat(50) + '\\n\\n';\nconst fullContent = editorOutput + divider + checkerOutput;\n\nreturn [{\n  json: {\n    title: h1,\n    content: fullContent,\n    editorOutput,\n    checkerOutput,\n    lsiPhrases,\n    rowNumber: $('Code — Парсим ТЗ').item.json.rowNumber,\n    originalH1: $('Code — Парсим ТЗ').item.json.originalH1\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -16
      ],
      "id": "e7c1935d-b9fa-489a-9d56-fc4545714194",
      "name": "Готовим контент"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ЛИМИТЫ ВХОЖДЕНИЙ (не превышать — среднее по конкурентам)\n{{ $('Code — Парсим ТЗ').item.json.freqTargetsText }}\n\nЗАДАЧА ПО ЧАСТОТАМ: посчитай вхождения каждого слова из списка выше.\nЕсли превышает лимит — замени лишние синонимами/морфо-формами/LSI.\n\"почек\" считается отдельно от \"кт почек\".\n\n# LSI-фразы (должны присутствовать минимум 1 раз)\n{{ $('Code — Парсим ТЗ').item.json.lsiPhrasesText }}\n\n# ОБЯЗАТЕЛЬНЫЕ БЛОКИ\n{{ $('Code — Парсим ТЗ').item.json.mandatoryBlocks }}\n\n# СТРУКТУРА ДЛЯ КОНТРОЛЯ ОБЪЁМОВ\n{{ $('Code — Парсим ТЗ').item.json.structure }}\n\n# ВХОДНОЙ ТЕКСТ ДЛЯ РЕДАКТУРЫ\n{{ $json.output }}",
        "options": {
          "systemMessage": "СТРОГО ЗАПРЕЩЕНО выводить цепочку рассуждений, планы, анализ или любые мета-комментарии.\nВыводи ТОЛЬКО готовый отредактированный текст в Markdown — без предисловий, без пояснений перед текстом.\n\nТЫ — SEO РЕДАКТОР-ЭКСПЕРТ, КОТОРОМУ ДОВЕРЯЮТ ТОП-МЕДИА. ТВОЯ МИССИЯ — ДООБРАБАТЫВАТЬ УЖЕ НАПИСАННЫЙ ТЕКСТ, УСТРАНЯТЬ ЛИШНЮЮ РЕКЛАМУ, ПРАВИТЬ ОШИБКИ И СТИЛЬ, НО НЕ ПЕРЕПИСЫВАТЬ ЕГО С НУЛЯ И НЕ УМЕНЬШАТЬ ЕГО ОБЪЁМ.\nТы пишешь на русском языке, регион RU.\n\n### ИНСТРУКЦИИ ДЛЯ ПРАВКИ\n- СОХРАНЯЙ исходную структуру заголовков, абзацев, нумерации.\n- КОНТРОЛИРУЙ объём каждого блока по структуре из ТЗ. Если мало — дополняй. Если много — сжимай. Порог: 90–100%.\n- СЖИМАЙ «воду» не путём сокращения объёма, а заменой общих фраз на конкретику.\n\n### КАК ОТЖИМАТЬ ВОДУ\n- Каждый абзац должен закрывать конкретный поисковый интент. Если у абзаца нет чёткой задачи — перепиши его.\n- Вода: «В современном быстро меняющемся мире медицины...» (нет интента).\n\n- Приоритет редактуры: если слово противоречит правилам — найди синоним или переформулируй.\n- Принцип «Ценность для ЦА»: никогда не оставляй характеристику без объяснения выгоды для пациента.\n  - Плохо: «Используем томограф 64 среза.»\n  - Хорошо: «Томограф на 64 среза сканирует почки за 3 минуты — меньше лучевой нагрузки, точнее снимок.»\n\n### СТОП-СЛОВА (убирай/заменяй)\n- Фразы-паразиты: в современном мире, в наши дни, на самом деле, в настоящее время\n- Усилители: максимально, очень, абсолютно, самый, наиболее\n- Вводные конструкции: допустим, скажем, например, в целом, в общем\n- Оценочные определения: прелестный, роскошный, уникальный (доказывай фактами)\n- Штампы: шаг за шагом, завоевать доверие, динамично развивающийся, индивидуальный подход\n- Отглагольные существительные: «осуществлять диагностику» → «диагностируем»; «оказание услуг» → «помогаем»\n- Страдательный залог: «было проведено исследование» → «провели исследование»\n\n### ПУНКТУАЦИЯ\n- Длинное тире (—) для смыслового разделения, дефис (-) для составных слов.\n- Не более 1 списка на 1000–1500 символов.\n\n### РИТМИЧЕСКОЕ КАДРИРОВАНИЕ\n1. Вариативность длины: после длинного (≈20–25 слов) — 1–2 коротких удара (3–8 слов).\n2. Мостики (feature → benefit → value). После плотного блока — переход к выгоде. Не повторяйся.\n3. Один абзац — одна ценность.\n4. Ритм: завершай смысловые блоки коротким итогом (2–6 слов).\n5. Микродоказательства сразу после обещаний: цифра, факт, характеристика оборудования.\n6. Сканируемость: подзаголовки ≤6 слов, списки по 3–5 пунктов.\n\n### ЗАПРЕТЫ\n- НЕ переписывать полностью.\n- НЕ уменьшать общий объём.\n- НЕ добавлять HTML-разметку.\n- НЕ менять авторский стиль и тональность без необходимости.\n- НЕ убирать блоки с инструкциями по вставке элементов.\n- НЕ добавлять FAQ и перелинковку.\n- НЕ добавлять ссылки на внешние ресурсы, сторонние сайты или любые URL — в тексте не должно быть ни одной гиперссылки.\n\n### ФОРМАТ ВЫВОДА\nИСКЛЮЧИТЕЛЬНО отредактированный текст в исходном формате Markdown. В конце — краткий список правок (5–10 пунктов). БЕЗ комментариев и подводок."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        928,
        -240
      ],
      "id": "702f4aec-792c-4210-b86f-62a281209632",
      "name": "Редактор"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ТЕКСТ ДЛЯ ПРОВЕРКИ\n{{ $json.output }}\n\n# LSI-ФРАЗЫ ИЗ ТЗ (нужно проверить наличие каждой, с учётом морфологии)\n{{ $('Code — Парсим ТЗ').item.json.lsiPhrasesText }}\n\n# ОБЯЗАТЕЛЬНЫЕ БЛОКИ ИЗ ТЗ\n{{ $('Code — Парсим ТЗ').item.json.mandatoryBlocks }}\n\n# РЕКОМЕНДУЕМЫЙ ОБЪЁМ\n{{ $('Code — Парсим ТЗ').item.json.volume }}",
        "options": {
          "systemMessage": "Ты - SEO-ревизор. Проверяешь текст на соответствие ТЗ. Только отчёт - без рекомендаций по переписыванию.\n\nПРОВЕРЬ:\n1. LSI-фразы - для каждой: ✅ найдена (с учётом морфологии) / ❌ отсутствует\n2. Обязательные блоки - каждый блок: название + плановый объём vs фактический символов + ✅/❌ (порог ±15%)\n3. Общая структура - все ли обязательные блоки присутствуют\n4. Стоп-слова - есть ли нарушения\n\nФОРМАТ:\n=== ОТЧЁТ ПРОВЕРКИ ТЗ ===\n\nLSI-ФРАЗЫ:\n[каждая фраза: статус]\n\nБЛОКИ:\n[название — план Х симв. vs факт Х симв. — статус]\n\nСТРУКТУРА:\n✅ Все блоки присутствуют / ❌ Отсутствуют: [список]\n\nСТОП-СЛОВА:\n✅ Нарушений нет / ❌ Найдено: [список]\n\nИТОГ: X/Y пунктов выполнено\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1712,
        -240
      ],
      "id": "857a7f43-8995-4e5a-b1a9-3a55e8f7d77c",
      "name": "Проверка ТЗ"
    },
    {
      "parameters": {
        "jsCode": "const documentId = $('GDoc').item.json.id;\nconst raw = $('Готовим контент').item.json.editorOutput;\n\nlet content = raw;\n\n// Ищем первый H1 — одиночный # не окружённый другими #\nconst h1Pos = raw.search(/(?<![#])# (?!#)/);\nif (h1Pos !== -1) {\n  content = raw.slice(h1Pos);\n}\n\n// Убираем служебные хвосты\ncontent = content\n  .replace(/\\nВнесённые правки[\\s\\S]*/i, '')\n  .replace(/\\n---\\n[\\s\\S]*?Внесённые правки[\\s\\S]*/i, '')\n  .replace(/\\n#{5,}[^\\n]*/g, '')\n  .replace(/\\n-{3,}\\n/g, '\\n')\n  .trim();\n\nconst insertRequests = [];\nconst styleRequests = [];\nlet idx = 1;\n\nfunction ins(text) {\n  const start = idx;\n  insertRequests.push({ insertText: { location: { index: idx }, text } });\n  idx += text.length;\n  return start;\n}\n\nfunction parseInline(text) {\n  let clean = '';\n  const boldRanges = [];\n  let i = 0;\n  while (i < text.length) {\n    if (text[i] === '*' && i + 1 < text.length && text[i+1] === '*') {\n      const start = clean.length;\n      i += 2;\n      while (i < text.length && !(text[i] === '*' && i + 1 < text.length && text[i+1] === '*')) {\n        clean += text[i++];\n      }\n      boldRanges.push([start, clean.length]);\n      i += 2;\n    } else {\n      clean += text[i++];\n    }\n  }\n  return { clean, boldRanges };\n}\n\nfunction insLine(text, heading, bullet, numbered) {\n  const { clean, boldRanges } = parseInline(text);\n  const start = ins(clean + '\\n');\n\n  if (heading) {\n    styleRequests.push({\n      updateParagraphStyle: {\n        range: { startIndex: start, endIndex: idx - 1 },\n        paragraphStyle: { namedStyleType: heading },\n        fields: 'namedStyleType'\n      }\n    });\n  }\n  if (bullet) {\n    styleRequests.push({\n      createParagraphBullets: {\n        range: { startIndex: start, endIndex: idx },\n        bulletPreset: 'BULLET_DISC_CIRCLE_SQUARE'\n      }\n    });\n  }\n  if (numbered) {\n    styleRequests.push({\n      createParagraphBullets: {\n        range: { startIndex: start, endIndex: idx },\n        bulletPreset: 'NUMBERED_DECIMAL_ALPHA_ROMAN'\n      }\n    });\n  }\n  for (const [bs, be] of boldRanges) {\n    styleRequests.push({\n      updateTextStyle: {\n        range: { startIndex: start + bs, endIndex: start + be },\n        textStyle: { bold: true },\n        fields: 'bold'\n      }\n    });\n  }\n}\n\nfor (const line of content.split('\\n')) {\n  const h4m = line.match(/^#### (.+)/);\n  const h3m = line.match(/^### (.+)/);\n  const h2m = line.match(/^## (.+)/);\n  const h1m = line.match(/^# (.+)/);\n  const bm  = line.match(/^[-*] (.+)/);\n  const nm  = line.match(/^\\d+\\. (.+)/);\n\n  if (h4m) { insLine(h4m[1], 'HEADING_4'); continue; }\n  if (h3m) { insLine(h3m[1], 'HEADING_3'); continue; }\n  if (h2m) { insLine(h2m[1], 'HEADING_2'); continue; }\n  if (h1m) { insLine(h1m[1], 'HEADING_1'); continue; }\n  if (bm)  { insLine(bm[1], null, true);   continue; }\n  if (nm)  { insLine(nm[1], null, false, true); continue; }\n  if (line.trim() === '') { ins('\\n'); continue; }\n\n  insLine(line);\n}\n\nconst requests = [...insertRequests, ...styleRequests];\nreturn [{ json: { documentId, requestsJson: JSON.stringify({ requests }) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -16
      ],
      "id": "b3bfa72f-5728-4f87-a436-ce5447000b45",
      "name": "Парсим Markdown"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.documentId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestsJson }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        480,
        -16
      ],
      "id": "12e99c8b-6311-4d2a-a5a1-70ff67a959ec",
      "name": "BatchUpdate",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wXLd8XdwEmZyUm0d",
          "name": "NotionKey"
        },
        "googleDocsOAuth2Api": {
          "id": "REernUZwFdyG0YaB",
          "name": "Google Docs API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Данные компании из Supabase\nconst supaVal = $('Supabase connect').first().json.value || '';\nconst companyMatch = supaVal.match(/Название:\\s*([^\\r\\n]+)/);\nconst addressMatch = supaVal.match(/Адрес:\\s*[^,]+,\\s*([^,]+)/); // берём город\n\nconst companyName = companyMatch ? companyMatch[1].trim() : '';\n// Топоним — первое слово после \"г.\" или \"г \" в адресе\nconst toponymRaw = addressMatch ? addressMatch[0] : '';\nconst toponymMatch = toponymRaw.match(/г\\.?\\s+([А-ЯЁа-яё\\-]+)/);\nconst toponym = toponymMatch ? toponymMatch[1].trim() : '';\n\n// Ключи и LSI\nconst keywords = $('N-граммы').first().json.keywords || [];\nconst lsiPhrases = $('Code — Парсим ТЗ').first().json.lsiPhrases || [];\n\n// Стоп-слова (хардкод — редко меняются)\nconst stopWords = [\n  'надёжный', 'качественный', 'лучший', 'уникальный',\n  'эффективный', 'доступный', 'профессиональный', 'современный'\n];\n\n// Собираем все фразы в один список для Gemini\nconst allPhrases = {\n  keywords: keywords,\n  lsi: lsiPhrases,\n  toponym: toponym ? [toponym] : [],\n  company: companyName ? [companyName] : [],\n  stopWords: stopWords\n};\n\n// documentId и docUrl для следующих нод\nconst documentId = $('GDoc').first().json.id;\nconst docUrl = 'https://docs.google.com/document/d/' + documentId + '/edit';\nconst rowNumber = $('Code — Парсим ТЗ').first().json.rowNumber;\nconst originalH1 = $('Code — Парсим ТЗ').first().json.originalH1;\n\nreturn [{\n  json: {\n    allPhrases,\n    phrasesJson: JSON.stringify(allPhrases),\n    documentId,\n    docUrl,\n    rowNumber,\n    originalH1,\n    companyName,\n    toponym\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -16
      ],
      "id": "256f48f4-7234-4a93-9f41-c8a9235e5194",
      "name": "Собираем фразы для AI"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.parse($json.requestBody) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        -16
      ],
      "id": "d46c6eae-6fcd-4d45-a362-bc2fdc36fde6",
      "name": "Анализ ключей"
    },
    {
      "parameters": {
        "jsCode": "const allPhrases = $json.allPhrases;\nconst editorOutput = $('Готовим контент').item.json.editorOutput;\n\nconst prompt = \"Вот текст статьи и список фраз по категориям.\\n\\n\" +\n  \"Найди в тексте все вхождения каждой фразы с учётом морфологии и синонимов. \" +\n  \"Верни ТОЛЬКО валидный JSON без markdown и пояснений:\\n\" +\n  \"{\\\"keywords\\\": [...], \\\"lsi\\\": [...], \\\"toponym\\\": [...], \\\"company\\\": [...], \\\"stopWords\\\": [...]}\\n\\n\" +\n  \"Каждый массив — только те строки которые реально есть в тексте (в той форме как они написаны).\\n\\n\" +\n  \"ФРАЗЫ ПО КАТЕГОРИЯМ:\\n\" +\n  JSON.stringify(allPhrases) +\n  \"\\n\\nТЕКСТ СТАТЬИ:\\n\" +\n  editorOutput;\n\nconst body = {\n  model: \"google/gemini-2.5-flash\",\n  max_tokens: 4000,\n  messages: [{ role: \"user\", content: prompt }]\n};\n\nreturn [{\n  json: {\n    documentId: $json.documentId,\n    docUrl: $json.docUrl,\n    rowNumber: $json.rowNumber,\n    originalH1: $json.originalH1,\n    allPhrases: allPhrases,\n    requestBody: JSON.stringify(body)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -16
      ],
      "id": "0f266c81-98de-4d18-8a74-110dcefc066d",
      "name": "Готовим запрос Gemini"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices[0].message.content;\n\n// Убираем markdown-обёртку\nconst match = raw.match(/```json\\n([\\s\\S]*?)```/);\nconst jsonStr = match ? match[1].trim() : raw.trim();\n\nlet found;\ntry {\n  found = JSON.parse(jsonStr);\n} catch(e) {\n  throw new Error('Не удалось распарсить ответ Gemini: ' + jsonStr.substring(0, 200));\n}\n\n// Тащим метаданные из предыдущей ноды\nconst prev = $('Готовим запрос Gemini').item.json;\n\nreturn [{\n  json: {\n    found,\n    documentId: prev.documentId,\n    docUrl: prev.docUrl,\n    rowNumber: prev.rowNumber,\n    originalH1: prev.originalH1\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -16
      ],
      "id": "5a00a5dd-4c6f-4cfd-bd56-1b82a7c9914b",
      "name": "Парсим ответ Gemini"
    },
    {
      "parameters": {
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.documentId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1392,
        -16
      ],
      "id": "dba399b3-5486-44dd-83d3-409f8d0ac2cb",
      "name": "HTTP Request",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "REernUZwFdyG0YaB",
          "name": "Google Docs API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const docContent = $input.first().json.body.content;\nconst found = $('Парсим ответ Gemini').item.json.found;\nconst prev = $('Парсим ответ Gemini').item.json;\n\n// Цвета по категориям\nconst colors = {\n  keywords:  { red: 1,     green: 0.949, blue: 0.4   }, // жёлтый\n  lsi:       { red: 0.714, green: 0.914, blue: 0.655  }, // зелёный\n  toponym:   { red: 0.643, green: 0.855, blue: 0.957  }, // голубой\n  company:   { red: 1,     green: 0.753, blue: 0.4    }, // оранжевый\n  stopWords: { red: 0.957, green: 0.522, blue: 0.518  }  // красный\n};\n\n// Собираем все textRuns с абсолютными индексами\nconst textRuns = [];\nfor (const block of docContent) {\n  if (!block.paragraph) continue;\n  for (const el of block.paragraph.elements) {\n    if (el.textRun && el.textRun.content) {\n      textRuns.push({\n        start: el.startIndex,\n        end: el.endIndex,\n        content: el.textRun.content\n      });\n    }\n  }\n}\n\nconst requests = [];\nconst counts = {}; // { phrase: { category, count } }\n\n// Ищем каждую фразу по категориям\nfor (const [category, phrases] of Object.entries(found)) {\n  const color = colors[category];\n  if (!color) continue;\n\n  for (const phrase of phrases) {\n    if (!phrase || phrase.length < 2) continue;\n    const lowerPhrase = phrase.toLowerCase();\n    let totalCount = 0;\n\n    for (const run of textRuns) {\n      const lowerContent = run.content.toLowerCase();\n      let pos = 0;\n      while (true) {\n        const idx = lowerContent.indexOf(lowerPhrase, pos);\n        if (idx === -1) break;\n        \n        const absStart = run.start + idx;\n        const absEnd = absStart + phrase.length;\n        \n        requests.push({\n          updateTextStyle: {\n            range: { startIndex: absStart, endIndex: absEnd },\n            textStyle: {\n              backgroundColor: {\n                color: { rgbColor: color }\n              }\n            },\n            fields: 'backgroundColor'\n          }\n        });\n        \n        totalCount++;\n        pos = idx + lowerPhrase.length;\n      }\n    }\n\n    if (totalCount > 0) {\n      counts[phrase] = { category, count: totalCount };\n    }\n  }\n}\n\nreturn [{\n  json: {\n    documentId: prev.documentId,\n    docUrl: prev.docUrl,\n    rowNumber: prev.rowNumber,\n    originalH1: prev.originalH1,\n    requestsJson: JSON.stringify({ requests }),\n    counts,\n    totalHighlights: requests.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        -16
      ],
      "id": "1c29c779-cc02-4bc3-a847-7942a3f1aea2",
      "name": "Подсветка"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.documentId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestsJson }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1744,
        -16
      ],
      "id": "ad7af3e2-e107-45e2-a93b-3b1781102de3",
      "name": "Подсвечиваем",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "REernUZwFdyG0YaB",
          "name": "Google Docs API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $('Редактор').item.json.output;\nconst freqTargets = $('N-граммы').item.json.freqTargets;\n\nconst overLimit = [];\nconst stats = {};\n\nfor (const [phrase, limit] of Object.entries(freqTargets)) {\n  const escaped = phrase.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const regex = new RegExp(escaped, 'gi');\n  const matches = text.match(regex);\n  const count = matches ? matches.length : 0;\n  const max = Math.ceil(limit);\n  stats[phrase] = { count, max };\n  if (count > max) {\n    overLimit.push(`\"${phrase}\": найдено ${count}, лимит ${max}, убрать ${count - max}`);\n  }\n}\n\nconst needFix = overLimit.length > 0;\n\n// Название компании из Supabase\nconst supaVal = $('Supabase connect').item.json.value || '';\nconst companyMatch = supaVal.match(/Название:\\s*([^\\r\\n]+)/);\nif (companyMatch) {\n  const companyName = companyMatch[1].trim();\n  const companyRegex = new RegExp(companyName.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&'), 'g');\n  const companyCount = (text.match(companyRegex) || []).length;\n  const companyMax = 5;\n  stats[companyName] = { count: companyCount, max: companyMax };\n  if (companyCount > companyMax) {\n    overLimit.push(`\"${companyName}\": найдено ${companyCount}, лимит ${companyMax}, убрать ${companyCount - companyMax}`);\n  }\n}\n\nreturn [{\n  json: {\n    text,\n    stats,\n    overLimit,\n    needFix,\n    overLimitText: overLimit.join('\\n'),\n    documentId: $('N-граммы').item.json.docId,\n    rowNumber: $('N-граммы').item.json.rowNumber,\n    originalH1: $('N-граммы').item.json.originalH1\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -240
      ],
      "id": "2446e850-fbcf-4a47-bf63-9bb960e7ee2b",
      "name": "Проверка частот"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Текст содержит переспам ключевых слов. Замени лишние вхождения на естественные синонимы или морфо-формы.\n\nПРЕВЫШЕНИЯ:\n{{ $json.overLimitText }}\n\nПРАВИЛА:\n- Меняй только лишние вхождения, первые допустимые оставь\n- Заголовки H1/H2 (строки начинающиеся с # или ##) не трогай\n- Смысл и структуру текста не меняй\n- Выведи ТОЛЬКО исправленный текст без комментариев\n\nТЕКСТ:\n{{ $json.text }}",
        "options": {
          "systemMessage": "Ты — редактор текста. Выводи только текст без пояснений.\nНужно оставить всё как есть, в том же объёме - работа только с ключевыми и их вхождениями."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1408,
        -240
      ],
      "id": "6884de7a-b72c-4f04-a900-29d0ee7dfd88",
      "name": "Корректор"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {
          "maxTokens": 12000,
          "temperature": 0.65
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1536,
        -368
      ],
      "id": "14b411bb-0259-4f77-a5b6-ce9db0485078",
      "name": "Model — Claude Sonnet 4.",
      "credentials": {
        "openRouterApi": {
          "id": "SJfOtcHEhZz2rEvu",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $('Готовим контент').item.json.editorOutput.toLowerCase();\nconst documentId = $('Подсветка').item.json.documentId;\nconst docUrl = $('Подсветка').item.json.docUrl;\nconst rowNumber = $('Подсветка').item.json.rowNumber;\nconst originalH1 = $('Подсветка').item.json.originalH1;\n\n// Пересчитываем из финального текста, а не из stats Редактора\nconst statsOld = $('Проверка частот').item.json.stats || {};\nconst freqRows = Object.entries(statsOld).map(([phrase, data]) => {\n  const escaped = phrase.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const count = (text.match(new RegExp(escaped, 'gi')) || []).length;\n  return {\n    label: phrase,\n    count: String(count),\n    limit: String(data.max),\n    ok: count <= data.max\n  };\n});\n\nconst lsiPhrases = $('Code — Парсим ТЗ').item.json.lsiPhrases || [];\nconst lsiRows = lsiPhrases.map(phrase => ({\n  label: phrase,\n  ok: text.includes(phrase.toLowerCase())\n}));\n\nconst structure = $('Code — Парсим ТЗ').item.json.structure || '';\nconst mandatoryBlocks = $('Code — Парсим ТЗ').item.json.mandatoryBlocks || '';\nconst thesisLines = (structure + '\\n' + mandatoryBlocks)\n  .split('\\n')\n  .map(l => l.replace(/^[-*•\\d.]+\\s*/, '').trim())\n  .filter(l => \n    l.length > 15 &&\n    !/^(структура|обязательные|блок|раздел)/i.test(l) &&\n    !/\\d{1,2}:\\d{2}/.test(l) &&\n    !/\\d+\\s*(руб|р\\.|₽)/i.test(l) &&\n    !/~\\s*\\d/.test(l) &&\n    !/от\\s+\\d/i.test(l) &&\n    !/siemens|philips|ge |canon|hitachi/i.test(l)\n  );\n\nconst thesisRows = thesisLines.map(thesis => {\n  const keywords = thesis.toLowerCase().match(/[а-яё]{5,}/g) || [];\n  const covered = keywords.length > 0 && keywords.some(kw => text.includes(kw));\n  return { label: thesis, ok: covered };\n});\n\nreturn [{ json: { documentId, docUrl, rowNumber, originalH1, freqRows, lsiRows, thesisRows } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        -16
      ],
      "id": "a4e92887-c336-40d3-80c7-68f0d6560614",
      "name": "Отчет"
    },
    {
      "parameters": {
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.documentId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        208
      ],
      "id": "561c58aa-376f-41f1-a368-e1cbc1970838",
      "name": "Читаем документ",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "REernUZwFdyG0YaB",
          "name": "Google Docs API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const docContent = $input.first().json.body.content;\nconst data = $('Отчет').item.json;\n\nlet endIndex = 1;\nfor (const block of docContent) {\n  if (block.endIndex) endIndex = block.endIndex;\n}\nconst idx = Math.max(endIndex - 1, 1);\n\nconst header = '\\n\\n' + '═'.repeat(50) + '\\nАНАЛИЗ СООТВЕТСТВИЯ ТЗ\\n' + '═'.repeat(50) + '\\n\\nТОП-ФРАЗЫ (ЧАСТОТНОСТЬ)\\n';\nconst freqRowCount = data.freqRows.length + 1;\n\nconst requests = [\n  { insertText: { location: { index: idx }, text: header } },\n  { insertTable: { rows: freqRowCount, columns: 3, location: { index: idx + header.length } } }\n];\n\nreturn [{ json: {\n  documentId: data.documentId, docUrl: data.docUrl,\n  rowNumber: data.rowNumber, originalH1: data.originalH1,\n  requestsJson: JSON.stringify({ requests })\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        208
      ],
      "id": "9a2725ea-8601-4e14-861a-bbd4d3ef615e",
      "name": "Вставляем таблицу1"
    },
    {
      "parameters": {
        "jsCode": "const docContent = $input.first().json.body.content;\nconst data = $('Отчет').item.json;\n\nlet endIndex = 1;\nfor (const block of docContent) {\n  if (block.endIndex) endIndex = block.endIndex;\n}\nconst idx = Math.max(endIndex - 1, 1);\n\nconst header = '\\n\\nLSI-ФРАЗЫ\\n';\nconst lsiRowCount = data.lsiRows.length + 1;\n\nconst requests = [\n  { insertText: { location: { index: idx }, text: header } },\n  { insertTable: { rows: lsiRowCount, columns: 2, location: { index: idx + header.length } } },\n  { insertText: { endOfSegmentLocation: { segmentId: '' }, text: '\\n\\n' } }\n];\n\nreturn [{ json: {\n  documentId: data.documentId, docUrl: data.docUrl,\n  rowNumber: data.rowNumber, originalH1: data.originalH1,\n  requestsJson: JSON.stringify({ requests })\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        208
      ],
      "id": "6befbcd9-6d27-47f9-8def-fbdba2c79b1d",
      "name": "Вставляем таблицу 2"
    },
    {
      "parameters": {
        "jsCode": "const docContent = $input.first().json.body.content;\nconst data = $('Отчет').item.json;\n\nconst tables = docContent.filter(b => b.table);\nconst freqTable = tables[tables.length - 2];\nconst lsiTable  = tables[tables.length - 1];\n\nconst sections = [\n  {\n    tableData: freqTable,\n    headers: ['Фраза', 'Вхождений', 'Лимит'],\n    rows: data.freqRows,\n    cols: 3,\n    getCells: r => [r.label, r.count, r.limit],\n    isOk: r => r.ok\n  },\n  {\n    tableData: lsiTable,\n    headers: ['Фраза', 'Статус'],\n    rows: data.lsiRows,\n    cols: 2,\n    getCells: r => [r.label, r.ok ? 'есть ✅' : 'нет ❌'],\n    isOk: r => r.ok\n  }\n];\n\nconst allCellInserts = [];\nconst colorMeta = [];\n\nfor (const section of sections) {\n  if (!section.tableData) continue;\n  const tableStartIndex = section.tableData.startIndex;\n  const tableRows = section.tableData.table.tableRows;\n\n  for (let c = 0; c < section.cols; c++) {\n    const cell = tableRows[0].tableCells[c];\n    allCellInserts.push({ index: cell.content[0].startIndex, text: section.headers[c], rowIndex: 0, colIndex: c, isHeader: true, ok: true, tableStartIndex });\n  }\n  for (let r = 0; r < section.rows.length; r++) {\n    const row = section.rows[r];\n    const cells = section.getCells(row);\n    const ok = section.isOk(row);\n    for (let c = 0; c < section.cols; c++) {\n      const cell = tableRows[r + 1].tableCells[c];\n      allCellInserts.push({ index: cell.content[0].startIndex, text: cells[c], rowIndex: r + 1, colIndex: c, isHeader: false, ok, tableStartIndex });\n    }\n  }\n}\n\n// Глобальная сортировка — все ячейки обеих таблиц вместе\nallCellInserts.sort((a, b) => b.index - a.index);\n\nconst insertRequests = [];\nfor (const ci of allCellInserts) {\n  insertRequests.push({ insertText: { location: { index: ci.index }, text: ci.text } });\n  colorMeta.push({ rowIndex: ci.rowIndex, colIndex: ci.colIndex, isHeader: ci.isHeader, ok: ci.ok, tableStartIndex: ci.tableStartIndex });\n}\n\nconst thesisText = '\\n\\nСТРУКТУРА И ТЕЗИСЫ:\\n' +\n  data.thesisRows.map(r => `${r.ok ? '✅' : '❌'} ${r.label}`).join('\\n');\n\nreturn [{ json: {\n  documentId: data.documentId,\n  requestsJson: JSON.stringify({ requests: insertRequests }),\n  colorMeta: JSON.stringify(colorMeta),\n  thesisText,\n  docUrl: data.docUrl,\n  rowNumber: data.rowNumber,\n  originalH1: data.originalH1\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        208
      ],
      "id": "a9eb23cb-dde9-4918-bc06-851da83f3612",
      "name": "Заполняем таблицы2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.documentId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestsJson }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        128,
        208
      ],
      "id": "35cd07fc-488f-403c-be58-461a12003414",
      "name": "Таблица1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "REernUZwFdyG0YaB",
          "name": "Google Docs API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://docs.googleapis.com/v1/documents/{{ $('Отчет').item.json.documentId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        208
      ],
      "id": "b52ba4b8-6c79-4e4b-8232-bed29f93b548",
      "name": "Читаем документ ",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "REernUZwFdyG0YaB",
          "name": "Google Docs API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.documentId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestsJson }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        208
      ],
      "id": "b601c275-124b-4302-86a5-2224bf3c07be",
      "name": "Таблица2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "REernUZwFdyG0YaB",
          "name": "Google Docs API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://docs.googleapis.com/v1/documents/{{ $('Отчет').item.json.documentId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        864,
        208
      ],
      "id": "2140ff54-7716-44ae-9478-0361ff6ca419",
      "name": "Читаем документ 3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "REernUZwFdyG0YaB",
          "name": "Google Docs API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.documentId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestsJson }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        208
      ],
      "id": "7f16a127-8d43-45aa-b261-cfa8201c2e67",
      "name": "Заполняем",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "REernUZwFdyG0YaB",
          "name": "Google Docs API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Заполняем таблицы2').item.json;\n\nreturn [{ json: {\n  documentId: prev.documentId,\n  requestsJson: JSON.stringify({ requests: [{\n    insertText: {\n      endOfSegmentLocation: { segmentId: '' },\n      text: prev.thesisText\n    }\n  }]}),\n  colorMeta: prev.colorMeta,\n  docUrl: prev.docUrl,\n  rowNumber: prev.rowNumber,\n  originalH1: prev.originalH1\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        208
      ],
      "id": "4e40de8c-b32e-41ef-a031-9f402688fec8",
      "name": "Тезисы"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $('Заполняем таблицы2').item.json.documentId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestsJson }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1568,
        208
      ],
      "id": "f75b2c47-8db6-40b0-b73b-1bb42af5225a",
      "name": "Post Тезисы",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "REernUZwFdyG0YaB",
          "name": "Google Docs API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17DWV3w_bQFE4n1_Q0Qz9LGJKgFgRNlZRgZQcBIV9IBU",
          "mode": "list",
          "cachedResultName": "MDC-SEO-ТЗ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17DWV3w_bQFE4n1_Q0Qz9LGJKgFgRNlZRgZQcBIV9IBU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "kt-domodedovo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17DWV3w_bQFE4n1_Q0Qz9LGJKgFgRNlZRgZQcBIV9IBU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "H1 (главный ключ)": "={{ $('Заполняем таблицы2').item.json.originalH1 }}",
            "Копирайт": "=https://docs.google.com/document/d/{{ $('GDoc').first().json.id }}/edit"
          },
          "matchingColumns": [
            "H1 (главный ключ)"
          ],
          "schema": [
            {
              "id": "№",
              "displayName": "№",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "H1 (главный ключ)",
              "displayName": "H1 (главный ключ)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Тип",
              "displayName": "Тип",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ключевые",
              "displayName": "Ключевые",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Нейроанализ",
              "displayName": "Нейроанализ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Конкуренты ТОП-10",
              "displayName": "Конкуренты ТОП-10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ТЗ",
              "displayName": "ТЗ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Копирайт",
              "displayName": "Копирайт",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1728,
        208
      ],
      "id": "1954bda9-8d80-4062-82f0-546f4cd91db7",
      "name": "Записываем ссылку",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a9QZU9EqwzLuJGIO",
          "name": "Google Sheets API"
        }
      }
    }
  ],
  "connections": {
    "Старт": {
      "main": [
        [
          {
            "node": "Supabase connect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets — Читаем строки": {
      "main": [
        [
          {
            "node": "Loop — По строкам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop — По строкам": {
      "main": [
        [
          {
            "node": "Code — Извлекаем ID документа",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code — Извлекаем ID документа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Извлекаем ID документа": {
      "main": [
        [
          {
            "node": "Docs — Читаем ТЗ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docs — Читаем ТЗ": {
      "main": [
        [
          {
            "node": "Code — Парсим ТЗ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Парсим ТЗ": {
      "main": [
        [
          {
            "node": "N-граммы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model — Claude Sonnet 4.5": {
      "ai_languageModel": [
        [
          {
            "node": "Писатель",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model — Gemini Flash (Редактор)": {
      "ai_languageModel": [
        [
          {
            "node": "Редактор",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model — Gemini Flash (Проверка)": {
      "ai_languageModel": [
        [
          {
            "node": "Проверка ТЗ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase connect": {
      "main": [
        [
          {
            "node": "Sheets — Читаем строки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N-граммы": {
      "main": [
        [
          {
            "node": "Писатель",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Писатель": {
      "main": [
        [
          {
            "node": "Редактор",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Готовим контент": {
      "main": [
        [
          {
            "node": "GDoc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Редактор": {
      "main": [
        [
          {
            "node": "Проверка частот",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка ТЗ": {
      "main": [
        [
          {
            "node": "Готовим контент",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDoc": {
      "main": [
        [
          {
            "node": "Парсим Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Парсим Markdown": {
      "main": [
        [
          {
            "node": "BatchUpdate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BatchUpdate": {
      "main": [
        [
          {
            "node": "Собираем фразы для AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Собираем фразы для AI": {
      "main": [
        [
          {
            "node": "Готовим запрос Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Готовим запрос Gemini": {
      "main": [
        [
          {
            "node": "Анализ ключей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Анализ ключей": {
      "main": [
        [
          {
            "node": "Парсим ответ Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Парсим ответ Gemini": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Подсветка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подсветка": {
      "main": [
        [
          {
            "node": "Подсвечиваем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка частот": {
      "main": [
        [
          {
            "node": "Корректор",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Корректор": {
      "main": [
        [
          {
            "node": "Проверка ТЗ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model — Claude Sonnet 4.": {
      "ai_languageModel": [
        [
          {
            "node": "Корректор",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Подсвечиваем": {
      "main": [
        [
          {
            "node": "Отчет",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отчет": {
      "main": [
        [
          {
            "node": "Читаем документ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем документ": {
      "main": [
        [
          {
            "node": "Вставляем таблицу1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вставляем таблицу1": {
      "main": [
        [
          {
            "node": "Таблица1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вставляем таблицу 2": {
      "main": [
        [
          {
            "node": "Таблица2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Таблица1": {
      "main": [
        [
          {
            "node": "Читаем документ ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем документ ": {
      "main": [
        [
          {
            "node": "Вставляем таблицу 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Таблица2": {
      "main": [
        [
          {
            "node": "Читаем документ 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем документ 3": {
      "main": [
        [
          {
            "node": "Заполняем таблицы2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Заполняем таблицы2": {
      "main": [
        [
          {
            "node": "Заполняем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Заполняем": {
      "main": [
        [
          {
            "node": "Тезисы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тезисы": {
      "main": [
        [
          {
            "node": "Post Тезисы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Тезисы": {
      "main": [
        [
          {
            "node": "Записываем ссылку",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Записываем ссылку": {
      "main": [
        [
          {
            "node": "Loop — По строкам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "00e6800b-e5b9-48ba-9bc6-23bae4f8cfb4",
  "activeVersionId": null,
  "versionCounter": 93,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-11T06:28:11.515Z",
      "createdAt": "2026-03-11T06:28:11.515Z",
      "role": "workflow:owner",
      "workflowId": "2Uct4DZlKoA95E9L",
      "projectId": "pyuqlYweDKoevpGi",
      "project": {
        "updatedAt": "2025-10-10T10:01:50.989Z",
        "createdAt": "2025-10-10T09:59:41.178Z",
        "id": "pyuqlYweDKoevpGi",
        "name": "iv tru11 <ivtru11@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}