Notion&Clockify [FIXED - Map by ID] copy.json
{
  "updatedAt": "2025-10-25T09:04:39.000Z",
  "createdAt": "2025-10-19T09:23:05.948Z",
  "id": "KBjF9Ixrx3PBKBXJ",
  "name": "Notion&Clockify [FIXED - Map by ID] copy",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1de96ec6-70e1-81a5-bf84-f9651fe27480",
          "mode": "id"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "STATUS|status",
              "condition": "does_not_equal",
              "statusValue": "Завершено"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        320,
        544
      ],
      "id": "5e316538-05f4-47a5-97d1-3f2f14cbea84",
      "name": "Get Notion Tasks",
      "credentials": {
        "notionApi": {
          "id": "hIKXNIltG3eAXNct",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем уникальные проекты из Notion\nconst items = $input.all();\n\nconst archivedProjects = ['Biznes-Hat', 'IvTru11', 'Oboltrade'];\n\nconst uniqueProjects = [...new Set(items.map(item => item.json.property_prj))];\n\nconst activeProjects = uniqueProjects.filter(p => \n  p && p !== null && !archivedProjects.includes(p)\n);\n\nreturn activeProjects.map(project => ({\n  json: {\n    project_name: project\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        544
      ],
      "id": "b9acfb1a-faae-4d64-ae00-53d3d4ed2e89",
      "name": "Extract Projects"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.clockify.me/api/v1/workspaces/68e89f2b631c3b32396fc00c/projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.project_name }}"
            },
            {
              "name": "color",
              "value": "#0000FF"
            },
            {
              "name": "isPublic",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        544
      ],
      "id": "a58c6931-8030-4c34-88de-7df27a3a7159",
      "name": "Create Projects in Clockify",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mDGRJLIwDJdEjled",
          "name": "Header Auth account Clockify&Notion"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api.clockify.me/api/v1/workspaces/68e89f2b631c3b32396fc00c/projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        544
      ],
      "id": "66c8fa21-46e5-47a4-86c2-dcfba78d2c72",
      "name": "Get All Projects from Clockify",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mDGRJLIwDJdEjled",
          "name": "Header Auth account Clockify&Notion"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://reports.api.clockify.me/v1/workspaces/68e89f2b631c3b32396fc00c/reports/detailed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"dateRangeStart\": \"2025-09-01T00:00:00.000Z\",\n  \"dateRangeEnd\": \"2025-10-15T23:59:59.999Z\",\n  \"detailedFilter\": {\n    \"page\": 1,\n    \"pageSize\": 1000\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        544
      ],
      "id": "da469a7a-a622-402e-85b1-731a512169a6",
      "name": "Get Time Report from Clockify",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mDGRJLIwDJdEjled",
          "name": "Header Auth account Clockify&Notion"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ИСПРАВЛЕННЫЙ КОД - МАПИТ ПО CLOCKIFY TASK ID!\n\nconst timeReport = $input.first().json;\nconst timeEntries = timeReport.timeentries || [];\n\n// Получаем задачи из Notion\nconst notionTasks = $('Get Notion Tasks').all();\n\n// Получаем проекты из Clockify\nconst clockifyProjects = $('Get All Projects from Clockify').all().map(item => item.json).flat();\n\n// Создаем маппинг времени по Task ID\nconst timeByTaskId = {};\n\ntimeEntries.forEach(entry => {\n  const taskId = entry.taskId;\n  if (!taskId) return;\n  \n  const duration = entry.timeInterval?.duration || 0;\n  const minutes = Math.round(duration / 60);\n  \n  if (!timeByTaskId[taskId]) {\n    timeByTaskId[taskId] = 0;\n  }\n  \n  timeByTaskId[taskId] += minutes;\n});\n\n// Создаем маппинг проектов: название -> ID\nconst projectNameToId = {};\nclockifyProjects.forEach(project => {\n  projectNameToId[project.name] = project.id;\n});\n\n// Разделяем задачи на 2 типа:\n// 1. Задачи С Clockify_Task_ID - обновляем TRACK\n// 2. Задачи БЕЗ Clockify_Task_ID - создаем в Clockify\n\nconst tasksToUpdate = [];\nconst tasksToCreate = [];\n\nnotionTasks.forEach(task => {\n  const clockifyTaskId = task.json.property_clockify_task_id;\n  const taskName = task.json.property_name;\n  const projectName = task.json.property_prj;\n  const notionId = task.json.id;\n  \n  if (clockifyTaskId) {\n    // Задача уже имеет ID - обновляем время если есть\n    const trackedMinutes = timeByTaskId[clockifyTaskId] || 0;\n    \n    tasksToUpdate.push({\n      json: {\n        notion_id: notionId,\n        clockify_task_id: clockifyTaskId,\n        tracked_minutes: trackedMinutes,\n        task_name: taskName\n      }\n    });\n  } else {\n    // Задача НЕ имеет ID - нужно создать в Clockify\n    const projectId = projectNameToId[projectName];\n    \n    if (projectId && taskName) {\n      tasksToCreate.push({\n        json: {\n          notion_id: notionId,\n          task_name: taskName,\n          project_name: projectName,\n          project_id: projectId,\n          tracked_minutes: 0\n        }\n      });\n    }\n  }\n});\n\n// Возвращаем оба типа задач\nreturn [\n  ...tasksToUpdate,\n  ...tasksToCreate\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        544
      ],
      "id": "0b76ef52-b361-46d2-8b81-a37b99e09c28",
      "name": "Map Time by Clockify Task ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-clockify-id",
              "leftValue": "={{ $json.clockify_task_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2208,
        544
      ],
      "id": "6cf771f1-c239-4d22-bb2c-559ad4cb2a57",
      "name": "Has Clockify ID?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clockify.me/api/v1/workspaces/68e89f2b631c3b32396fc00c/projects/{{ $json.project_id }}/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.task_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        432
      ],
      "id": "b3ba1cba-00dc-4e3a-8125-9a2e07ed5b27",
      "name": "Create Task in Clockify",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mDGRJLIwDJdEjled",
          "name": "Header Auth account Clockify&Notion"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// После создания задачи - сохраняем её ID\nconst items = $input.all();\n\nreturn items.map(item => {\n  const originalData = item.json;\n  \n  return {\n    json: {\n      notion_id: originalData.notion_id || item.json.notion_id,\n      clockify_task_id: item.json.id || item.json.clockify_task_id,\n      tracked_minutes: originalData.tracked_minutes || 0\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        544
      ],
      "id": "63bd8d4b-243a-4481-981c-c9e51b32c994",
      "name": "Prepare Data for Notion Update"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.notion_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Clockify_Task_ID\": {\n      \"rich_text\": [\n        {\n          \"type\": \"text\",\n          \"text\": {\n            \"content\": \"{{ $json.clockify_task_id }}\"\n          }\n        }\n      ]\n    },\n    \"TRACK\": {\n      \"number\": {{ $json.tracked_minutes }}\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        544
      ],
      "id": "696fdf22-ee03-496c-861c-6bc6315e4718",
      "name": "Update Notion Task",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mDGRJLIwDJdEjled",
          "name": "Header Auth account Clockify&Notion"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        96,
        544
      ],
      "id": "ca11cab8-b9f2-4fae-affb-db0647f844ff",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1584,
        544
      ],
      "id": "8c442a29-4a19-4e6b-829e-2bd0c58b410e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "=https://api.clockify.me/api/v1/workspaces/68e89f2b631c3b32396fc00c/projects/{{ $json.id }}/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        544
      ],
      "id": "7a0feeba-0d06-46d7-93ab-fced6d824bdf",
      "name": "HTTP Request6",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mDGRJLIwDJdEjled",
          "name": "Header Auth account Clockify&Notion"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем задачи из Clockify\nconst clockifyTasks = $input.all();\n\n// Получаем задачи из Notion\nconst notionTasks = $('Get Notion Tasks').all();\n\n// Получаем проекты из Clockify\nconst clockifyProjects = $('Get All Projects from Clockify').all();\n\n// Создаем маппинг: projectId -> projectName\nconst projectIdToName = {};\nclockifyProjects.forEach(project => {\n  projectIdToName[project.json.id] = project.json.name;\n});\n\n// Создаем маппинг: projectName + taskName -> clockify task\nconst clockifyTaskMap = {};\nclockifyTasks.forEach(task => {\n  const projectName = projectIdToName[task.json.projectId];\n  if (projectName && task.json.name) {\n    const key = `${projectName}|||${task.json.name}`;\n    clockifyTaskMap[key] = task.json.id;\n  }\n});\n\n// Сопоставляем с Notion\nconst result = [];\n\nnotionTasks.forEach(notionTask => {\n  const notionProjectName = notionTask.json.property_prj;\n  const notionTaskName = notionTask.json.property_name;\n  const existingClockifyId = notionTask.json.property_clockify_task_id;\n  \n  if (!notionProjectName || !notionTaskName) return;\n  \n  const key = `${notionProjectName}|||${notionTaskName}`;\n  const clockifyTaskId = clockifyTaskMap[key];\n  \n  if (clockifyTaskId && !existingClockifyId) {\n    // Нашли задачу в Clockify, но в Notion нет ID\n    result.push({\n      json: {\n        notion_id: notionTask.json.id,\n        clockify_task_id: clockifyTaskId,\n        task_name: notionTaskName,\n        project_name: notionProjectName,\n        action: 'update_id'\n      }\n    });\n  }\n});\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        544
      ],
      "id": "0655e915-07ed-4b97-bad1-55e15f820a09",
      "name": "Match Tasks with Notion"
    }
  ],
  "connections": {
    "Get Notion Tasks": {
      "main": [
        [
          {
            "node": "Extract Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Projects": {
      "main": [
        [
          {
            "node": "Create Projects in Clockify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Projects in Clockify": {
      "main": [
        [
          {
            "node": "Get All Projects from Clockify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Projects from Clockify": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Time Report from Clockify": {
      "main": [
        [
          {
            "node": "Map Time by Clockify Task ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Time by Clockify Task ID": {
      "main": [
        [
          {
            "node": "Has Clockify ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Clockify ID?": {
      "main": [
        [
          {
            "node": "Prepare Data for Notion Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Task in Clockify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task in Clockify": {
      "main": [
        [
          {
            "node": "Prepare Data for Notion Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data for Notion Update": {
      "main": [
        [
          {
            "node": "Update Notion Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get Notion Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get Time Report from Clockify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Match Tasks with Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Tasks with Notion": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e11aa6c4-177c-473c-a479-f95e07ee76a2",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-10-19T09:23:05.951Z",
      "createdAt": "2025-10-19T09:23:05.951Z",
      "role": "workflow:owner",
      "workflowId": "KBjF9Ixrx3PBKBXJ",
      "projectId": "pyuqlYweDKoevpGi",
      "project": {
        "updatedAt": "2025-10-10T10:01:50.989Z",
        "createdAt": "2025-10-10T09:59:41.178Z",
        "id": "pyuqlYweDKoevpGi",
        "name": "iv tru11 <ivtru11@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}