Notion&G.Calendar.json
{
  "updatedAt": "2025-10-25T09:04:45.000Z",
  "createdAt": "2025-10-16T11:09:40.751Z",
  "id": "JSQ3GROHZEUT1k4N",
  "name": "Notion&G.Calendar",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        96,
        288
      ],
      "id": "075b9107-87ac-44ed-815a-7060b3df057d",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "6a2077fd8349578291b1577786fe74285335bac947af9f0975e91df53be4379d@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "1. Kurort-Expert"
        },
        "timeMin": "=2025-10-01",
        "timeMax": "=2025-10-20",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        320,
        288
      ],
      "id": "a4178690-38fd-4ab9-86eb-e53138fa6f28",
      "name": "Получаем события",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RB4ftPy52hf84ldN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1de96ec670e181a5bf84f9651fe27480",
          "mode": "id"
        },
        "limit": 20,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "DATE|date",
              "condition": "on_or_after",
              "date": "2025-10-12T00:00:00"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        544,
        288
      ],
      "id": "ed1cca0d-dafd-42e0-a724-5a0870db06aa",
      "name": "Получаем задачи",
      "credentials": {
        "notionApi": {
          "id": "hIKXNIltG3eAXNct",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Получаем задачу\nconst task = $input.item.json;\n\n// Словарь проектов → календари\nconst PROJECT_TO_CALENDAR = {\n  \"Kurort-Expert\": \"6a2077fd8349578291b1577786fe74285335bac947af9f0975e91df53be4379d@group.calendar.google.com\",\n  \"RcReation\": \"1281f932c7f59f433e9c9577828e0dfd71eb0e6e3989711f392b26fa1abacdd5@group.calendar.google.com\",\n  \"DaOffice\": \"b9ccb71fcca4d2c1c238e2c24fd9a6d6ca5446f47345c914577da37105e4dd4a@group.calendar.google.com\",\n  \"SkyWay\": \"4d2ec315ab96d62d832c862f77d9fa07ebcda3c82ab17a880116fb0fbd23bc35@group.calendar.google.com\",\n  \"MRT-Чехов\": \"d2fd83447dafbf98d137f6f8b330aebf0774e5f0ca19d3a04559621dd1332754@group.calendar.google.com\",\n  \"МРТ-Домодедово\": \"c3f1c207199e76d3abded641a67b8243830d53f69ca807719397f8ba9cedabfb@group.calendar.google.com\",\n  \"КТ-Домодедово\": \"c301b9f111419f95804a4174f8b629e5fd5f4699af35141c7c6a8f1761f2bf60@group.calendar.google.com\",\n  \"Biznes-Hat\": \"1eb84f74d7fffaeacd18e6858881c12c5b477295c638d613b2dbb594bbd1581d@group.calendar.google.com\",\n  \"Parket-Step\": \"56bc9d22c56ec05ec1e6b093cd30196a0701957eeab6a3441b9d7c5d907fb944@group.calendar.google.com\"\n};\n\n// Извлекаем данные задачи\nconst title = task.property_name || 'Без названия';\nconst dueDate = task.property_date?.start || task.property_date?.end;\n\nif (!dueDate) {\n  return null; // Пропускаем задачи без даты\n}\n\n// Обрабатываем время\nlet startTime, endTime;\nif (dueDate.includes('T')) {\n  startTime = new Date(dueDate);\n  endTime = new Date(startTime.getTime() + 3600000);\n} else {\n  startTime = new Date(dueDate + 'T09:00:00');\n  endTime = new Date(dueDate + 'T10:00:00');\n}\n\n// Определяем проект\nconst projectName = task.property_prj || 'Kurort-Expert';\nconst calendarId = PROJECT_TO_CALENDAR[projectName];\n\n// Формируем описание\nconst description = task.property_task || '';\nconst tag = `[NotionTaskId:${task.id}]`;\nconst fullDescription = `${description}\\n\\n${tag}\\n\\nURL: ${task.url}`;\n\n// Возвращаем обработанные данные\nreturn {\n  notionId: task.id,\n  title: title,\n  startTime: startTime.toISOString(),\n  endTime: endTime.toISOString(),\n  description: fullDescription,\n  calendarId: calendarId,\n  tag: tag\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        288
      ],
      "id": "3719f338-7f2c-4a2c-909d-d543bc465919",
      "name": "Обработка задач"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Получаем текущую задачу\nconst task = $input.item.json;\n\n// Получаем ВСЕ события из календаря\nconst allEvents = $('Получаем события').all();\n\n// Ищем событие с тегом этой задачи\nconst existingEvent = allEvents.find(event => {\n  const description = event.json.description || '';\n  return description.includes(task.tag);\n});\n\n// Если событие найдено\nif (existingEvent) {\n  const expectedStart = new Date(task.startTime).getTime();\n  const actualStart = new Date(existingEvent.json.start.dateTime).getTime();\n  \n  if (expectedStart === actualStart) {\n    // Время не изменилось - ПРОПУСКАЕМ\n    return {\n      ...task,\n      action: 'skip'\n    };\n  } else {\n    // Время изменилось - ОБНОВЛЯЕМ\n    return {\n      ...task,\n      action: 'update',\n      eventId: existingEvent.json.id\n    };\n  }\n}\n\n// Событие не найдено - СОЗДАЁМ\nreturn { ...task, action: 'create' };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        288
      ],
      "id": "d3c53783-964b-49ef-9614-014d26bd4f0f",
      "name": "Определяем действия",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9b065609-421f-4a1c-abf0-1acde9cf7067"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e2233222-c541-4b2d-928c-56e5f1d3beec",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2c1b1ae8-dc0d-4e67-ae32-4aa6acc89d93",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "skip",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1136,
        272
      ],
      "id": "375398e1-f95a-4e5b-894a-33e6a8fe68c8",
      "name": "Switch"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "=6a2077fd8349578291b1577786fe74285335bac947af9f0975e91df53be4379d@group.calendar.google.com",
          "mode": "id"
        },
        "start": "={{ $json.startTime }}",
        "end": "={{ $json.endTime }}",
        "additionalFields": {
          "description": "={{ $json.description }}",
          "summary": "={{ $json.title }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1376,
        288
      ],
      "id": "a02289b0-01fa-4ef3-be5a-b12a8d24b7be",
      "name": "Создаём событие",
      "executeOnce": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RB4ftPy52hf84ldN",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Получаем события",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем события": {
      "main": [
        [
          {
            "node": "Получаем задачи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем задачи": {
      "main": [
        [
          {
            "node": "Обработка задач",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обработка задач": {
      "main": [
        [
          {
            "node": "Определяем действия",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определяем действия": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Создаём событие",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4a052628-d114-493f-b229-2a303cf090d8",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-10-16T11:09:40.757Z",
      "createdAt": "2025-10-16T11:09:40.757Z",
      "role": "workflow:owner",
      "workflowId": "JSQ3GROHZEUT1k4N",
      "projectId": "pyuqlYweDKoevpGi",
      "project": {
        "updatedAt": "2025-10-10T10:01:50.989Z",
        "createdAt": "2025-10-10T09:59:41.178Z",
        "id": "pyuqlYweDKoevpGi",
        "name": "iv tru11 <ivtru11@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}