Сборщик позиций_ Объект&Сателлит.json
{
  "updatedAt": "2026-03-23T12:32:47.335Z",
  "createdAt": "2026-03-22T06:03:33.948Z",
  "id": "NK3SIqnrDWlsVm4j",
  "name": "Сборщик позиций: Объект&Сателлит",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "2640cb58-7e54-4107-a274-900ff647fc50",
      "name": "Запуск",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2864,
        912
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "SPREADSHEET_ID",
              "value": "1NOjRBbYKbz8NZeurd4ZiHyvxt3hwReK8AmMobds5EFU",
              "type": "string"
            },
            {
              "id": "c2",
              "name": "INPUT_SHEET",
              "value": "ALL",
              "type": "string"
            },
            {
              "id": "c3",
              "name": "MAIN_SHEET",
              "value": "ALL",
              "type": "string"
            },
            {
              "id": "c4",
              "name": "YA_SHEET",
              "value": "Яндекс",
              "type": "string"
            },
            {
              "id": "c5",
              "name": "G_SHEET",
              "value": "Google",
              "type": "string"
            },
            {
              "id": "c6",
              "name": "XMLSTOCK_USER",
              "value": "13817",
              "type": "string"
            },
            {
              "id": "c7",
              "name": "XMLSTOCK_KEY",
              "value": "1430e4ccaebeb27eb65213e93a12ee7c",
              "type": "string"
            },
            {
              "id": "c8",
              "name": "YANDEX_REGION",
              "value": "213",
              "type": "string"
            },
            {
              "id": "c9",
              "name": "DELAY_MS",
              "value": 1500,
              "type": "number"
            },
            {
              "id": "d8db4c9d-dd66-43ca-89e2-08ba52865d6a",
              "name": "YA_S_SHEET",
              "value": "Яндекс-S",
              "type": "string"
            },
            {
              "id": "914287ef-18e3-4c6a-8a64-88c67dd3d1a2",
              "name": "G_S_SHEET",
              "value": "Google-S",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "37126b69-b196-4765-a763-40558587b771",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2704,
        912
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NOjRBbYKbz8NZeurd4ZiHyvxt3hwReK8AmMobds5EFU",
          "mode": "list",
          "cachedResultName": "Kurort-Expert.ru - Пробивка позиций по сателлитам",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOjRBbYKbz8NZeurd4ZiHyvxt3hwReK8AmMobds5EFU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ALL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOjRBbYKbz8NZeurd4ZiHyvxt3hwReK8AmMobds5EFU/edit#gid=0"
        },
        "options": {}
      },
      "id": "c715540a-50ab-463d-a3b7-ce77695d8a62",
      "name": "Читаем ключи",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2544,
        912
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a9QZU9EqwzLuJGIO",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 74747872,
          "mode": "list",
          "cachedResultName": "Яндекс",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOjRBbYKbz8NZeurd4ZiHyvxt3hwReK8AmMobds5EFU/edit#gid=74747872"
        },
        "options": {}
      },
      "id": "3ce6339d-8cd7-447d-9c61-0d16125bc116",
      "name": "Читаем Яндекс",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2192,
        912
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a9QZU9EqwzLuJGIO",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1495751475,
          "mode": "list",
          "cachedResultName": "Google",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOjRBbYKbz8NZeurd4ZiHyvxt3hwReK8AmMobds5EFU/edit#gid=1495751475"
        },
        "options": {}
      },
      "id": "256b0916-84d6-4682-9bad-64a3641d1426",
      "name": "Читаем Google",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2032,
        912
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a9QZU9EqwzLuJGIO",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NOjRBbYKbz8NZeurd4ZiHyvxt3hwReK8AmMobds5EFU",
          "mode": "list",
          "cachedResultName": "Kurort-Expert.ru - Пробивка позиций по сателлитам",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOjRBbYKbz8NZeurd4ZiHyvxt3hwReK8AmMobds5EFU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ALL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOjRBbYKbz8NZeurd4ZiHyvxt3hwReK8AmMobds5EFU/edit#gid=0"
        },
        "options": {}
      },
      "id": "7a837e15-7a0f-43a3-b4e5-0fc30e255fdc",
      "name": "Читаем ALL",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2368,
        912
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a9QZU9EqwzLuJGIO",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Config').first().json;\nconst DOMAIN = 'kurort-expert.ru';\n\nconst now = new Date();\nconst dd  = String(now.getDate()).padStart(2, '0');\nconst mm  = String(now.getMonth() + 1).padStart(2, '0');\nconst dateStr = `${dd}.${mm}`;\n\nfunction colLetter(n) {\n  let r = '';\n  while (n > 0) {\n    n--;\n    r = String.fromCharCode(65 + (n % 26)) + r;\n    n = Math.floor(n / 26);\n  }\n  return r;\n}\n\nconst allRows = $('Читаем ALL').all();\nconst allKeys = allRows.length > 0\n  ? Object.keys(allRows[0].json).filter(k => !k.startsWith('__') && k !== 'row_number')\n  : [];\nlet allColCount = Math.max(allKeys.length, 2);\n\n// Проверяем — есть ли уже столбец с сегодняшней датой\nconst todayYaHeader = `Я ${dateStr}`;\nlet mainYaCol, mainGCol, mainSatYaCol, mainSatGCol;\nlet isResume = false;\n\nif (allKeys.includes(todayYaHeader)) {\n  const colIndex = allKeys.indexOf(todayYaHeader);\n  mainYaCol    = colLetter(colIndex + 1);\n  mainGCol     = colLetter(colIndex + 2);\n  mainSatYaCol = colLetter(colIndex + 3);\n  mainSatGCol  = colLetter(colIndex + 4);\n  isResume = true;\n} else {\n  mainYaCol    = colLetter(allColCount + 1);\n  mainGCol     = colLetter(allColCount + 2);\n  mainSatYaCol = colLetter(allColCount + 3);\n  mainSatGCol  = colLetter(allColCount + 4);\n}\n\n// Строим множество уже заполненных строк\nconst filledRows = new Set();\nif (isResume) {\n  for (const row of allRows) {\n    const val = row.json[todayYaHeader];\n    if (val !== undefined && val !== null && val !== '') {\n      filledRows.add(String(row.json['row_number']));\n    }\n  }\n}\n\nconst yaRows = $('Читаем Яндекс').all();\nlet yaColCount = 2;\nif (yaRows.length > 0) {\n  const keys = Object.keys(yaRows[0].json).filter(k => !k.startsWith('__') && k !== 'row_number');\n  yaColCount = Math.max(keys.length, 2);\n}\nconst yaNextCol = isResume ? mainYaCol : colLetter(yaColCount + 1);\n\nconst gRows = $('Читаем Google').all();\nlet gColCount = 2;\nif (gRows.length > 0) {\n  const keys = Object.keys(gRows[0].json).filter(k => !k.startsWith('__') && k !== 'row_number');\n  gColCount = Math.max(keys.length, 2);\n}\nconst gNextCol = isResume ? mainGCol : colLetter(gColCount + 1);\n\nconst yaSRows = $('Читаем Яндекс-S').all();\nlet yaSColCount = 2;\nif (yaSRows.length > 0) {\n  const keys = Object.keys(yaSRows[0].json).filter(k => !k.startsWith('__') && k !== 'row_number');\n  yaSColCount = Math.max(keys.length, 2);\n}\nconst yaNextColS = isResume ? mainSatYaCol : colLetter(yaSColCount + 1);\n\nconst gSRows = $('Читаем Google-S').all();\nlet gSColCount = 2;\nif (gSRows.length > 0) {\n  const keys = Object.keys(gSRows[0].json).filter(k => !k.startsWith('__') && k !== 'row_number');\n  gSColCount = Math.max(keys.length, 2);\n}\nconst gNextColS = isResume ? mainSatGCol : colLetter(gSColCount + 1);\n\nconst isFirstRun = allRows.length === 0;\nconst inputRows = $('Читаем ключи').all();\nconst results = [];\nlet currentSatellite = '';\n\nfor (const item of inputRows) {\n  const kw = (item.json['Ключевой запрос'] || '').trim();\n  if (!kw) continue;\n  if (kw === 'Ключевой запрос') continue;\n\n  if (kw.includes('.рф')) {\n    const m = kw.match(/\\(([^)]+\\.рф)\\)/);\n    if (m) currentSatellite = m[1];\n    continue;\n  }\n\n  // Пропускаем уже заполненные строки\n  if (isResume && filledRows.has(String(item.json['row_number']))) continue;\n\n  results.push({\n    keyword:   kw,\n    demand:    item.json['Спрос'] || '',\n    rowNum:    item.json['row_number'],\n    domain:    DOMAIN,\n    satellite: currentSatellite,\n    dateStr,\n    mainYaCol, mainGCol, mainSatYaCol, mainSatGCol,\n    yaNextCol, gNextCol, yaNextColS, gNextColS,\n    isFirstRun,\n    yaUrl: `https://xmlstock.com/yandex/xml/?user=${cfg.XMLSTOCK_USER}&key=${cfg.XMLSTOCK_KEY}&query=${encodeURIComponent(kw)}&lr=${cfg.YANDEX_REGION}&groupby=100`,\n    gUrl:  `https://xmlstock.com/google/xml/?user=${cfg.XMLSTOCK_USER}&key=${cfg.XMLSTOCK_KEY}&query=${encodeURIComponent(kw)}&lr=ru&num=100&hl=ru`\n  });\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "095cacbe-97a0-44c2-b21c-678db2bdb99e",
      "name": "Prepare Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2864,
        1136
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2192,
        1136
      ],
      "id": "9be5e256-6ab9-4197-9820-9753149bb1c4",
      "name": "Split"
    },
    {
      "parameters": {
        "url": "={{ $('Split').item.json.yaUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1984,
        1136
      ],
      "id": "7e42e735-177a-4d58-a9e0-c43288d9c7a7",
      "name": "HTTP Яндекс",
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "={{ $('Split').item.json.gUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1984,
        1360
      ],
      "id": "91d653cf-bbf3-4e57-971b-10dba5a188d0",
      "name": "HTTP Google",
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function punycodeEncode(str) {\n  const base=36,tmin=1,tmax=26,skew=38,damp=700,initialBias=72,initialN=128;\n  const codePoints=Array.from(str).map(c=>c.codePointAt(0));\n  const basic=codePoints.filter(cp=>cp<128);\n  let handled=basic.length;\n  const output=basic.map(cp=>String.fromCodePoint(cp));\n  if(handled>0)output.push('-');\n  function adapt(delta,numPoints,first){delta=first?Math.floor(delta/damp):delta>>1;delta+=Math.floor(delta/numPoints);let k=0;while(delta>Math.floor(((base-tmin)*tmax)/2)){delta=Math.floor(delta/(base-tmin));k+=base;}return k+Math.floor(((base-tmin+1)*delta)/(delta+skew));}\n  function dig(d){return d+22+75*(d<26?1:0);}\n  let n=initialN,delta=0,bias=initialBias;\n  while(handled<codePoints.length){\n    const m=Math.min(...codePoints.filter(cp=>cp>=n));\n    delta+=(m-n)*(handled+1);n=m;\n    for(const cp of codePoints){\n      if(cp<n)delta++;\n      if(cp===n){let q=delta;for(let k=base;;k+=base){const t=k<=bias?tmin:k>=bias+tmax?tmax:k-bias;if(q<t)break;output.push(String.fromCodePoint(dig(t+(q-t)%(base-t))));q=Math.floor((q-t)/(base-t));}output.push(String.fromCodePoint(dig(q)));bias=adapt(delta,handled+1,handled===basic.length);delta=0;handled++;}\n    }\n    delta++;n++;\n  }\n  return output.join('');\n}\n\nfunction domainToASCII(domain) {\n  return domain.split('.').map(label=>\n    /[^\\x00-\\x7F]/.test(label)?'xn--'+punycodeEncode(label):label\n  ).join('.');\n}\n\nfunction parseXml(xmlStr, domain) {\n  if (!xmlStr || typeof xmlStr !== 'string') return { pos: null, url: null };\n  const docs = xmlStr.match(/<doc[\\s\\S]*?<\\/doc>/g) || [];\n  const domainLow  = domain.toLowerCase();\n  const domainPuny = domainToASCII(domain).toLowerCase();\n  for (let j = 0; j < docs.length; j++) {\n    const um = docs[j].match(/<url[^>]*>([^<]+)<\\/url>/);\n    if (!um) continue;\n    const urlLow = um[1].toLowerCase();\n    if (urlLow.includes(domainLow) || urlLow.includes(domainPuny)) {\n      return { pos: j + 1, url: um[1].trim() };\n    }\n  }\n  return { pos: null, url: null };\n}\n\nconst meta  = $('Split').item.json;\nconst yaXml = $('HTTP Яндекс').first().json.data || '';\nconst gXml  = $('HTTP Google').first().json.data || '';\n\nconst ya210 = yaXml.includes('code=\"210\"') || yaXml.includes('code=\"202\"');\nconst g210  = gXml.includes('code=\"210\"')  || gXml.includes('code=\"202\"');\n\n// DEBUG — собираем все коды ошибок\nconst yaErrors = (yaXml.match(/code=\"(\\d+)\"/g) || []);\nconst gErrors  = (gXml.match(/code=\"(\\d+)\"/g) || []);\n\nconst parsedY  = parseXml(yaXml, meta.domain);\nconst parsedG  = parseXml(gXml,  meta.domain);\nconst parsedSY = meta.satellite ? parseXml(yaXml, meta.satellite) : { pos: null, url: null };\nconst parsedSG = meta.satellite ? parseXml(gXml,  meta.satellite) : { pos: null, url: null };\n\nreturn {\n  keyword: meta.keyword, demand: meta.demand, rowNum: meta.rowNum,\n  domain: meta.domain, satellite: meta.satellite, dateStr: meta.dateStr,\n  mainYaCol: meta.mainYaCol, mainGCol: meta.mainGCol,\n  mainSatYaCol: meta.mainSatYaCol, mainSatGCol: meta.mainSatGCol,\n  yaNextCol: meta.yaNextCol, gNextCol: meta.gNextCol,\n  yaNextColS: meta.yaNextColS, gNextColS: meta.gNextColS,\n  isFirstRun: meta.isFirstRun,\n  ya210, g210,\n  yPos: parsedY.pos, yUrl: parsedY.url,\n  gPos: parsedG.pos, gUrl: parsedG.url,\n  syPos: parsedSY.pos, syUrl: parsedSY.url,\n  sgPos: parsedSG.pos, sgUrl: parsedSG.url,\n  _yaErrors: yaErrors,\n  _gErrors:  gErrors,\n};"
      },
      "id": "a0b1d879-5637-4d28-845d-da6c64bd4a9e",
      "name": "Parse Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2192,
        1616
      ],
      "notesInFlow": false
    },
    {
      "parameters": {
        "jsCode": "const r = $('Parse Results').first().json;\nconst cfg = $('Config').first().json;\nconst data = [];\nconst yVal  = r.yPos  ? `=HYPERLINK(\"${r.yUrl}\";\"${r.yPos}\")`   : (r.ya210 ? '210' : '—');\nconst gVal  = r.gPos  ? `=HYPERLINK(\"${r.gUrl}\";\"${r.gPos}\")`   : (r.g210  ? '210' : '—');\nconst syVal = r.syPos ? `=HYPERLINK(\"${r.syUrl}\";\"${r.syPos}\")` : (r.ya210 ? '210' : '—');\nconst sgVal = r.sgPos ? `=HYPERLINK(\"${r.sgUrl}\";\"${r.sgPos}\")` : (r.g210  ? '210' : '—');\ndata.push({ range: `${cfg.MAIN_SHEET}!${r.mainYaCol}${r.rowNum}`,    values: [[yVal]] });\ndata.push({ range: `${cfg.MAIN_SHEET}!${r.mainGCol}${r.rowNum}`,     values: [[gVal]] });\ndata.push({ range: `${cfg.MAIN_SHEET}!${r.mainSatYaCol}${r.rowNum}`, values: [[syVal]] });\ndata.push({ range: `${cfg.MAIN_SHEET}!${r.mainSatGCol}${r.rowNum}`,  values: [[sgVal]] });\nreturn [{ json: { body: { valueInputOption: 'USER_ENTERED', data } } }];"
      },
      "id": "cae7e260-b3a8-4bea-9885-9495129db703",
      "name": "Body Main1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        1616
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $('Parse Results').first().json;\nconst cfg = $('Config').first().json;\nconst val = r.yPos ? `=HYPERLINK(\"${r.yUrl}\";\"${r.yPos}\")` : (r.ya210 ? '210' : '—');\nreturn [{ json: { body: { valueInputOption: 'USER_ENTERED', data: [\n  { range: `${cfg.YA_SHEET}!${r.yaNextCol}${r.rowNum}`, values: [[val]] }\n] } } }];"
      },
      "id": "58781196-b289-4b7a-92fe-dfe85ca67793",
      "name": "Body Яндекс1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        1616
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $('Parse Results').first().json;\nconst cfg = $('Config').first().json;\nconst val = r.gPos ? `=HYPERLINK(\"${r.gUrl}\";\"${r.gPos}\")` : (r.g210 ? '210' : '—');\nreturn [{ json: { body: { valueInputOption: 'USER_ENTERED', data: [\n  { range: `${cfg.G_SHEET}!${r.gNextCol}${r.rowNum}`, values: [[val]] }\n] } } }];"
      },
      "id": "f7969d20-26fb-4459-b582-3c0fa0209fe3",
      "name": "Body Google1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2192,
        1824
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $('Config').first().json.SPREADSHEET_ID + '/values:batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "24d06581-c0ff-4776-8d3b-a2eccb80ab28",
      "name": "Write Main1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1776,
        1616
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a9QZU9EqwzLuJGIO",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $('Config').first().json.SPREADSHEET_ID + '/values:batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "4de3178e-aba9-463d-b545-d8b010356218",
      "name": "Write Яндекс1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1392,
        1616
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a9QZU9EqwzLuJGIO",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $('Config').first().json.SPREADSHEET_ID + '/values:batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "c10fe0c1-fba5-4c87-8a6c-b8f08f5605cd",
      "name": "Write Google1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1984,
        1824
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a9QZU9EqwzLuJGIO",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1765592049,
          "mode": "list",
          "cachedResultName": "Яндекс-S",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOjRBbYKbz8NZeurd4ZiHyvxt3hwReK8AmMobds5EFU/edit#gid=1765592049"
        },
        "options": {}
      },
      "id": "b7529139-d0d2-4c7c-a97e-90d98b665aad",
      "name": "Читаем Яндекс-S",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1856,
        912
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a9QZU9EqwzLuJGIO",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1140483193,
          "mode": "list",
          "cachedResultName": "Google-S",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOjRBbYKbz8NZeurd4ZiHyvxt3hwReK8AmMobds5EFU/edit#gid=1140483193"
        },
        "options": {}
      },
      "id": "84494c97-4540-4c0b-83cd-eee1bc6ce097",
      "name": "Читаем Google-S",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1680,
        912
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a9QZU9EqwzLuJGIO",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $('Parse Results').first().json;\nconst cfg = $('Config').first().json;\nconst val = r.syPos ? `=HYPERLINK(\"${r.syUrl}\";\"${r.syPos}\")` : (r.ya210 ? '210' : '—');\nreturn [{ json: { body: { valueInputOption: 'USER_ENTERED', data: [\n  { range: `${cfg.YA_S_SHEET}!${r.yaNextColS}${r.rowNum}`, values: [[val]] }\n] } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        1824
      ],
      "id": "7777550e-54e1-499c-a913-852b47353558",
      "name": "Body Яндекс-S"
    },
    {
      "parameters": {
        "jsCode": "const r = $('Parse Results').first().json;\nconst cfg = $('Config').first().json;\nconst val = r.sgPos ? `=HYPERLINK(\"${r.sgUrl}\";\"${r.sgPos}\")` : (r.g210 ? '210' : '—');\nreturn [{ json: { body: { valueInputOption: 'USER_ENTERED', data: [\n  { range: `${cfg.G_S_SHEET}!${r.gNextColS}${r.rowNum}`, values: [[val]] }\n] } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        1824
      ],
      "id": "f8d0bfb0-bd31-4883-8903-1572041ee5da",
      "name": "Body Google-S1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $('Config').first().json.SPREADSHEET_ID + '/values:batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "fc5c329f-0fc7-475b-9832-bf1a3bdf83cc",
      "name": "Write Яндекс",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1584,
        1824
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a9QZU9EqwzLuJGIO",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $('Config').first().json.SPREADSHEET_ID + '/values:batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "9da2d251-11f3-4d06-bc32-5d547da8a87d",
      "name": "Write Google",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1168,
        1824
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a9QZU9EqwzLuJGIO",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cfg     = $('Config').first().json;\nconst results = $('Prepare Keywords').all().map(i => i.json);\nif (!results.length) return $input.all();\n\nconst r    = results[0];\nconst date = r.dateStr;\nconst data = [];\n\nconst sheets = [\n  { sheet: cfg.MAIN_SHEET,  cols: [r.mainYaCol, r.mainGCol, r.mainSatYaCol, r.mainSatGCol], labels: [`Я ${date}`, `G ${date}`, `Сат Я ${date}`, `Сат G ${date}`] },\n  { sheet: cfg.YA_SHEET,    cols: [r.yaNextCol],  labels: [date] },\n  { sheet: cfg.G_SHEET,     cols: [r.gNextCol],   labels: [date] },\n  { sheet: cfg.YA_S_SHEET,  cols: [r.yaNextColS], labels: [date] },\n  { sheet: cfg.G_S_SHEET,   cols: [r.gNextColS],  labels: [date] },\n];\n\nfor (const s of sheets) {\n  for (let i = 0; i < s.cols.length; i++) {\n    data.push({ range: `${s.sheet}!${s.cols[i]}1`, values: [[s.labels[i]]] });\n  }\n}\n\nreturn [{ json: { body: { valueInputOption: 'USER_ENTERED', data } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2704,
        1136
      ],
      "id": "aa17dc4b-bced-402e-9853-25ae0ead5021",
      "name": "Write Headers"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $('Config').first().json.SPREADSHEET_ID + '/values:batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2544,
        1136
      ],
      "id": "f9064b5f-fbaf-4bb2-9e71-97d04da59141",
      "name": "Write (batchUpdate)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a9QZU9EqwzLuJGIO",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $('Prepare Keywords').all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2368,
        1136
      ],
      "id": "776c072c-9801-4013-871e-a550c5a6841a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1552,
        1120
      ],
      "id": "2bc61629-89df-4c4b-9494-03f128464e7c",
      "name": "Wait",
      "webhookId": "4ed8f683-48be-4b71-980e-662f70c200fa"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5a62f5cc-46d7-4109-bccd-c6b67265a1f6",
              "leftValue": "={{ $json.data }}",
              "rightValue": "code=\"210\"",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "667f6c41-81d1-483d-98a7-4bc73b57f8ad",
              "leftValue": "={{ $json.data }}",
              "rightValue": "code=\"202\"",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1760,
        1136
      ],
      "id": "dc9093c3-962c-44e6-92f9-6a692e4c353a",
      "name": "If 210 Яндекс"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e0bf67d0-9a7d-4013-ae22-ac77fa91e5d7",
              "leftValue": "={{ $json.data }}",
              "rightValue": "code=\"210\"",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b9c0e6e6-1212-4ea9-975e-221397ca8c65",
              "leftValue": "={{ $json.data }}",
              "rightValue": "code=\"202\"",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1760,
        1360
      ],
      "id": "85691c10-d8be-4070-872b-16e9c94b0d52",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1552,
        1344
      ],
      "id": "f93a6485-d2cc-4a1b-bb1a-dfad4feb0917",
      "name": "Wait1",
      "webhookId": "957a174a-1faf-4aca-8f98-1ecf3e50f632"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -960,
        1824
      ],
      "id": "d11ff918-2015-4527-aa3a-9b4a8ed6793a",
      "name": "Wait2",
      "webhookId": "4c0df261-5d23-445a-960f-53cb2a12cadc"
    }
  ],
  "connections": {
    "Запуск": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Читаем ключи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем ключи": {
      "main": [
        [
          {
            "node": "Читаем ALL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем Яндекс": {
      "main": [
        [
          {
            "node": "Читаем Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем Google": {
      "main": [
        [
          {
            "node": "Читаем Яндекс-S",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем ALL": {
      "main": [
        [
          {
            "node": "Читаем Яндекс",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Keywords": {
      "main": [
        [
          {
            "node": "Write Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "HTTP Яндекс",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Яндекс",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Яндекс": {
      "main": [
        [
          {
            "node": "If 210 Яндекс",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Google": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Results": {
      "main": [
        [
          {
            "node": "Body Main1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Body Main1": {
      "main": [
        [
          {
            "node": "Write Main1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Body Яндекс1": {
      "main": [
        [
          {
            "node": "Write Яндекс1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Body Google1": {
      "main": [
        [
          {
            "node": "Write Google1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем Яндекс-S": {
      "main": [
        [
          {
            "node": "Читаем Google-S",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем Google-S": {
      "main": [
        [
          {
            "node": "Prepare Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Body Яндекс-S": {
      "main": [
        [
          {
            "node": "Write Яндекс",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Body Google-S1": {
      "main": [
        [
          {
            "node": "Write Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Headers": {
      "main": [
        [
          {
            "node": "Write (batchUpdate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Main1": {
      "main": [
        [
          {
            "node": "Body Яндекс1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Яндекс1": {
      "main": [
        [
          {
            "node": "Body Google1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Google1": {
      "main": [
        [
          {
            "node": "Body Яндекс-S",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Яндекс": {
      "main": [
        [
          {
            "node": "Body Google-S1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Google": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write (batchUpdate)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Яндекс",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If 210 Яндекс": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b7f0f2fc-d1cc-471e-9053-33adb05c592b",
  "activeVersionId": null,
  "versionCounter": 80,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-22T06:03:33.952Z",
      "createdAt": "2026-03-22T06:03:33.952Z",
      "role": "workflow:owner",
      "workflowId": "NK3SIqnrDWlsVm4j",
      "projectId": "pyuqlYweDKoevpGi",
      "project": {
        "updatedAt": "2025-10-10T10:01:50.989Z",
        "createdAt": "2025-10-10T09:59:41.178Z",
        "id": "pyuqlYweDKoevpGi",
        "name": "iv tru11 <ivtru11@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}