Убийца копирайтера для статей V2 (общая версия с большим количеством комментов).json
{
  "updatedAt": "2026-03-20T09:19:03.507Z",
  "createdAt": "2025-11-23T08:25:19.238Z",
  "id": "BxX2mGHQmS2H2yuf",
  "name": "Убийца копирайтера для статей V2 (общая версия с большим количеством комментов)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2752,
        1440
      ],
      "id": "8a270a35-ed53-4415-8c1a-6bda60a7ea81",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1786awDdvzFjXQGaOiNX1kx4VH194R3g3eJ7gOxuInkQ",
          "mode": "list",
          "cachedResultName": "Убийца копирайтеров",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1786awDdvzFjXQGaOiNX1kx4VH194R3g3eJ7gOxuInkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Рабочий",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1786awDdvzFjXQGaOiNX1kx4VH194R3g3eJ7gOxuInkQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Готово?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2352,
        1440
      ],
      "id": "c80b0778-6677-43ae-b0c1-7762cfb55627",
      "name": "SEO ТЗ из таблицы"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# РОЛЬ\nТы — первоклассный SEO-эксперт и контент-стратег с 15-летним опытом в создании структур страниц, которые занимают ТОП-1 в Google. Твоя главная сила — в умении анализировать поисковый интент (намерение пользователя) и структуры конкурентов, чтобы создать идеальный макет страницы, который будет максимально полным, логичным и полезным для пользователя.\n\n# КОНТЕКСТ\nЯ работаю над созданием новой страницы и хочу, чтобы ее структура была лучше, чем у всех существующих конкурентов. Я предоставляю тебе тему страницы, ее тип и детальные структуры 10 ключевых конкурентов из поисковой выдачи.\n\n* **Тема страницы: {{ $('SEO ТЗ из таблицы').first().json['Главный ключ'] }}** \n* **Тип страницы: {{ $('SEO ТЗ из таблицы').first().json['Тип'] }}** \n* **Структуры конкурентов:**\n{{ $('Сбор структур конкурентов в 1').first().json.h }}\n\n# ЗАДАЧА\nТвоя задача — проанализировать все набор структур конкурентов и, основываясь на этом анализе, создать единую, эталонную структуру для моей страницы, которая бы полностью раскрывала бы эту тему. Эта новая структура должна объединять лучшие идеи конкурентов, быть логически выстроенной и полностью охватывать заданную тему, но не уходить за ее рамки.\n\n# ИНСТРУКЦИИ\n1.  **Анализируй и Декомпозируй:** Изучи каждый из 10 предоставленных планов. Определи все уникальные заголовки (H2, H3, H4) и темы, которые они затрагивают.\n2.  **Определи Важность:** Оцени каждый пункт структуры по следующим критериям:\n    * **Частота:** Как часто этот или похожий по смыслу пункт встречается у конкурентов? Пункты, которые есть у большинства, вероятно, важны для раскрытия темы.\n    * **Соответствие Интенту:** Насколько этот пункт отвечает на потенциальный вопрос пользователя по основной теме?\n    * **Релевантность Типу Страницы:** Соответствует ли пункт указанному типу страницы? (Например, для информационной статьи не нужны блоки \"Способы оплаты\" или \"Адрес склада\").\n3.  **Фильтруй \"Мусор\":** Исключи из рассмотрения нерелевантные или \"сервисные\" блоки, которые не относятся к основному контенту. Примеры для фильтрации:\n    * \"О компании\", \"Контакты\", \"Отзывы клиентов\" (если это не страница отзывов).\n    * Навигационные элементы: \"Главная\", \"Хлебные крошки\".\n    * Неинформативные призывы к действию (CTA): \"Купить сейчас\", \"Подписаться\" (если они не являются логическим завершением раздела).\n4.  **Синтезируй и Группируй:**\n    * Объедини схожие по смыслу пункты от разных конкурентов под одним, наиболее точным и полным заголовком.\n    * Сгруппируй все отобранные важные пункты в логические блоки (H2). Внутри каждого блока размести подтемы (H3, H4).\n    * Построй структуру так, чтобы она вела пользователя от общего к частному, от основной проблемы к ее решению.\n5.  **Добавь Ценность:** Подумай, какой важный блок или вопрос упустили все конкуренты. Предложи 1-2 новых уникальных пункта, которые сделают мою структуру еще более полной и полезной (например, \"Частые ошибки при выборе\", \"Сравнительная таблица по ключевым параметрам\" или \"Мнение эксперта\").\n\n# ФОРМАТ ВЫВОДА\nПредоставь итоговую структуру в виде иерархического списка, используя Markdown для разметки заголовков:\n* `# H1: [Основной заголовок страницы, основанный на теме]`\n* `## H2: [Название большого раздела]`\n* `### H3: [Название подраздела]`\n* `#### H4: [Название еще более узкого подраздела]`\n\nСтруктура должна быть готова для прямой передачи копирайтеру. Не пиши больше ничего сопутсвующего.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        480,
        1136
      ],
      "id": "cdf33681-8318-4e63-a9ea-275e5889cc3e",
      "name": "Анализ структуры конкурентов",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -208,
        1296
      ],
      "id": "f4a42554-a96d-43d6-a042-90f06e1a963d",
      "name": "Auto-fixing Output Parser1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"intent\": { \"type\": \"string\" },\n    \"Taxonomy\": { \"type\": \"string\" },\n    \"Attention\": { \"type\": \"string\" },\n    \"structura\": { \"type\": \"string\" }\n  },\n  \"required\": [\"intent\", \"Taxonomy\", \"Attention\", \"structura\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -112,
        1472
      ],
      "id": "3f191960-faf6-44e3-8d8b-40c654ff142c",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Роль:\n\nПредставь, что ты -- SEO-стратег, глубоко понимающий семантику веб-поиска и способный моделировать внутренние процессы современного поискового ИИ (Трансформеры, Сущности, Онтологии, Таксономии, Внимание), а также преобразовывать это понимание в прикладные рекомендации по оптимизации контента.\n\n# Задача:\n\nТвоя задача -- выполнить двойной анализ поискового запроса:\n1. Смоделировать, как современный поисковый ИИ, скорее всего, интерпретирует и представляет этот запрос внутренне (реверс-инжиниринг).\n2. На основе этого моделирования дать конкретные, прикладные рекомендации по оптимизации контента и структуры веб-страницы, чтобы она идеально отвечала на данный запрос с точки зрения ИИ, включая выдачу рекомендуемой структуры страницы.\n\n# Проанализируй следующий поисковый запрос Google Поиске:\n\n`[ТИП СТРАНИЦЫ:{{ $('SEO ТЗ из таблицы').first().json['Тип'] }} ] + [ЗАПРОС: {{ $('SEO ТЗ из таблицы').first().json['Ключи'] }}]. + пояснение если нужно`\n\nОбязательно выполни по этому запросу поиск в Google для получения контекста.\n\n# Выполни следующие шаги:\n\n## Шаг 1: Моделирование Интерпретации Запроса Поисковым ИИ (Реверс-инжиниринг)\n\nПредставь, как ИИ, вероятно, \"видит\" и обрабатывает запрос.\n\n### 1.1. Распознавание Сущностей (NER) и Ключевых Атрибутов:\n* Обнаруженные Сущности: Тип, нормализованная форма.\n* Извлеченные Атрибуты: Явные и неявно подразумеваемые атрибуты, связанные с сущностями/интентом.\n\n### 1.2. Контекстуализация через Онтологию и Таксономию:\n* Активированная Таксономическая Ветка: Основная категория, вышестоящие категории.\n* Ключевые Узлы Релевантной Онтологии: Связанные сущности, концепции, отношения, их ключевые атрибуты.\n\n### 1.3. Определение Интента и Фокуса Внимания:\n* Предполагаемый Интент(ы): Основной, вторичные.\n* Распределение Внимания (Salience): Ключевые слова/сущности с наибольшим весом.\n* Семантические Связи в Запросе: Как ИИ связывает элементы запроса.\n\n### 1.4. Внутреннее Представление и Ожидания ИИ:\n* Расширенная/Нормализованная Форма Запроса: Как ИИ может переформулировать запрос.\n* Семантический \"Чек-лист\" Ожиданий от Контента: Набор информации, который ИИ ожидает найти.\n* Ключевые Сигналы Релевантности: На какие семантические маркеры ИИ будет обращать внимание.\n* Обработка Неоднозначности (Если есть): Как ИИ может обрабатывать двусмысленность.\n* Концептуальная Оценка Уверенности: Насколько ИИ уверен в интерпретации.\n\n## Шаг 2: Прикладные Рекомендации по Оптимизации Страницы\n* На основе анализа из Шага 1, дай конкретные рекомендации для создания/оптимизации страницы.\n\n### 2.1. Содержание (Сущности, Атрибуты, Онтологический Контекст):\n* Какие именованные сущности (из запроса и онтологии), их ключевые атрибуты и важные онтологические связи должны быть заметно упомянуты и раскрыты?\n* Как контент должен отражать контекст (связь с другими сущностями)?\n\n### 2.2. Структура Страницы (Отражение Таксономии и Интента):\n* Как структура (H1-H6, разделы, порядок) должна отражать таксономическое положение темы и удовлетворять интент?\n* Какие конкретные разделы необходимы (исходя из сущностей, атрибутов, связей, интента)?\n* Какие структурные элементы (таблицы, списки, FAQ, схемы и т.д.) использовать?\n* Важно: Представь рекомендуемую итоговую структуру страницы в виде иерархического списка с уровнями заголовков (H1, H2, H3...), подобно примеру таксономии, чтобы наглядно показать организацию контента.\n\n### 2.3. Тип Контента:\n* Какой основной тип контента/формат страницы лучше всего подходит?\n\n### 2.4. Ключевые Слова и Фразы:\n* Какие ключевые слова/фразы (отражающие все аспекты анализа из Шага 1) должны быть интегрированы?\n\n### 2.5. Как страница должна быть взаимосвязана с другими именованными сущностями из общей структуры сайта.\n\nОбратись к предыдущим шагам анализа струкутры\n\n# Важно:\n\n* Шаг 1 описывает модель интерпретации ИИ, Шаг 2 дает прикладные рекомендации на основе этой модели.\n* Фокусируйся только на семантическом соответствии контента и структуры запросу, как его понял бы ИИ. Не учитывай другие факторы SEO.\n* Используй русский язык и региональные особенности России, если релевантно.\n* Будь точным, информативным и объективным.\n* Если на входе запрос для интернет магазина, то сделай дополнительно глубокую проработку структуры SEO текста.\n\n# JSON для выходных данных\nВыдели Json, которые будет содержать только структуру страницы, интенты, граф знаний. Все остальные размышления должны быть вне этого JSON.\n\n**Строго Всегда отдавай такой JSON:**\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"intent\": { \"type\": \"string\" },\n    \"Taxonomy\": { \"type\": \"string\" },\n    \"Attention\": { \"type\": \"string\" },\n    \"structura\": { \"type\": \"string\" }\n  },\n  \"required\": [\"intent\", \"Taxonomy\", \"Attention\", \"structura\"]\n}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -272,
        1136
      ],
      "id": "a08687ad-11d0-4baf-bcf5-ce343bf221b2",
      "name": "AI анализ структуры",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Ключевые слова\n{{ $('SEO ТЗ из таблицы').first().json[\"Ключи\"] }}\n\n# Важные фразы для страницы\nВыдели из этих фраз уникальные сущности, объедини их в отдельные домены и напиши указание, как построить структуру, чтобы закрыть эти сущности и домены.\n{{ $('SEO ТЗ из таблицы').first().json.LSI }}\n",
        "options": {
          "systemMessage": "=# РОЛЬ\nТы — эксперт по SEO и архитектуре контента. Твоя специализация — анализ семантического ядра и проектирование структуры веб-страниц, которая максимально полно отвечает на поисковые запросы пользователей.\n\n# КОНТЕКСТ\nПользователь предоставит тебе список ключевых слов, который может содержать множество синонимов, словоформ и очень похожих по смыслу запросов. Твоя задача — не писать контент, а спроектировать идеальную структуру страницы на основе уникальных поисковых интентов, извлеченных из этого списка.\n\n# ЗАДАЧА\nТвоя работа состоит из двух последовательных шагов:\n1.  **Кластеризация и Дедупликация:** Сначала проанализируй ВЕСЬ список ключевых слов. Сгруппируй (кластеризуй) их по общему смыслу и пользовательскому намерению (интенту). Выдели из каждой группы один основной запрос или опиши суть группы. Игнорируй полные дубликаты и очень близкие синонимы, объединяя их в одну смысловую группу.\n2.  **Проектирование Структуры:** Затем, для каждой уникальной смысловой группы ключей, определи наиболее подходящий тип контентного блока, который лучше всего удовлетворит соответствующий запрос пользователя.\n\nУчитывай типп страницы: {{ $('SEO ТЗ из таблицы').first().json['Тип'] }}\n\n# ПРАВИЛА ПРИНЯТИЯ РЕШЕНИЙ\n- Для информационных интентов (например, \"что такое\", \"как работает\", \"преимущества\", \"инструкция\") предлагай заголовки (H2, H3), текстовые блоки, списки или пошаговые инструкции.\n- Для сравнительных интентов (например, \"X против Y\", \"сравнение\", \"альтернативы\") предлагай блок \"Таблица сравнения\".\n- Для интентов, связанных с данными или статистикой (например, \"статистика\", \"динамика цен\", \"рынок\"), предлагай блок \"График\", \"Диаграмма\" или \"Инфографика\".\n- Для интентов, требующих расчета (например, \"калькулятор\", \"расчет стоимости\"), предлагай блок \"Интерактивный калькулятор\".\n- Для коммерческих или транзакционных интентов (например, \"купить\", \"цена\", \"заказать\", \"стоимость\", \"отзывы\"), предлагай блоки \"Карточки товаров/услуг\", \"Таблица с ценами\", \"Блок с отзывами\", \"Форма заказа\" или \"Кнопка призыва к действию (CTA)\".\n\n# ФОРМАТ ВЫВОДА\n- Твой ответ должен быть СТРОГО в формате нумерованного списка.\n- НЕ добавляй никаких вступлений, приветствий, заключений или пояснений. Только нумерованный список.\n- Каждый пункт списка должен иметь точный вид: `N. Для группы ключей [ОПИСАНИЕ ИЛИ ОСНОВНОЙ КЛЮЧ ИЗ ГРУППЫ] требуется блок \"[НАЗВАНИЕ БЛОКА]\"`.\n\n# ПРИМЕР\n## Входные данные:\n\"что такое промпт-инженер\", \"купить курс по промпт-инжинирингу\", \"промпт инженер это\", \"сравнение GPT-4 и Claude 3\", \"prompt engineering курсы цена\", \"статистика зарплат промпт-инженеров\", \"gpt-4 vs claude 3\", \"записаться на курс по промптам\"\n\n## Идеальный ответ, который ты должен предоставить:\n1. Для группы ключей \"что такое промпт-инженер\" требуется блок \"Заголовок H2 и вводный текстовый абзац\".\nЗаголовок должен быть с ключом:\nТекст блока должен содержать эти ключи: Выдели n-граммы (все 1-граммы и популярные 2-граммы) для вписывания в текст.\nТекст должен быть объема: объем текста блока, чтобы ответить на вопрос и охватить всее ключи. Не раздувай рекомендованный объем слова блоках! Этот объём должен быть золотой серединой: достаточным для захвата featured snippets и генерации SGE, но не избыточным, чтобы не утомлять потенциального клиента.\n2. Для группы ключей \"сравнение GPT-4 и Claude 3\" требуется блок \"Таблица сравнения\".\nЗаголовок должен быть с ключом:\nТекст блока должен содержать эти ключи: Выдели n-граммы (все 1-граммы и популярные 2-граммы) для вписывания в текст.\nТекст должен быть объема: объем текста блока, чтобы ответить на вопрос и охватить всее ключи. Не раздувай рекомендованный объем слова блоках! Этот объём должен быть золотой серединой: достаточным для захвата featured snippets и генерации SGE, но не избыточным, чтобы не утомлять потенциального клиента.\n3. Для группы ключей \"статистика зарплат промпт-инженеров\" требуется блок \"График или диаграмма\".\nЗаголовок должен быть с ключом:\nТекст блока должен содержать эти ключи: Выдели n-граммы (все 1-граммы и популярные 2-граммы) для вписывания в текст.\nТекст должен быть объема: объем текста блока, чтобы ответить на вопрос и охватить всее ключи. Не раздувай рекомендованный объем слова блоках! Этот объём должен быть золотой серединой: достаточным для захвата featured snippets и генерации SGE, но не избыточным, чтобы не утомлять потенциального клиента.\n4. Для группы ключей \"купить курс по промпт-инжинирингу\" требуется блок \"Карточки курсов с ценами и кнопкой 'Купить'\".\nЗаголовок должен быть с ключом:\nТекст блока должен содержать эти ключи: Выдели n-граммы (все 1-граммы и популярные 2-граммы) для вписывания в текст.\nТекст должен быть объема: объем текста блока, чтобы ответить на вопрос и охватить всее ключи. Не раздувай рекомендованный объем слова блоках! Этот объём должен быть золотой серединой: достаточным для захвата featured snippets и генерации SGE, но не избыточным, чтобы не утомлять потенциального клиента.\n\nОпиши как можно подробнее, чтобы охватить все ключевые слова. И напиши формулировки заголовков, чтобы они охватывали ключевые слова.\nне ограничивайся 4-5 блоками. Твоя задача дать инструкцию по охвату всех типом ключей и интентом.\nНе раздувай рекомендованный объем слова блоках! Этот объём должен быть золотой серединой: достаточным для захвата featured snippets и генерации SGE, но не избыточным, чтобы не утомлять потенциального клиента."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        144,
        1136
      ],
      "id": "a0bec882-1662-4cbb-930f-cc84b94fe07a",
      "name": "Анализ кластера запросов для разработки \"Чанков\"",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "content": "## Разработка структуры страницы\n\n## Изменения в версиях\n\n### v2. В промт разработки структуры на основе ключевых слов добавлен анализ тематических фраз",
        "height": 800,
        "width": 1528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        928
      ],
      "typeVersion": 1,
      "id": "e74e7c04-5fc7-4c50-a360-ad49ae298328",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# РОЛЬ:\nТы — элитный контент-стратег и SEO-архитектор, специализирующийся на создании контента для доминации в эру AI-поиска (Google SGE) и традиционных поисковых систем. Твоя экспертиза лежит в плоскости анализа данных, психологии пользователя и применения передовых методик контент-оптимизации.\n\n# ЗАДАЧА:\nТвоя главная задача — на основе двух предоставленных наборов данных (агрегированная структура конкурентов и AI-анализ) создать исчерпывающее, детализированное и готовое к работе ТЗ на структуру страницы. Эта структура должна быть спроектирована для максимального охвата релевантных интентов, доминирования в поисковой выдаче и обеспечения высочайшего уровня доверия (E-E-A-T). Отдавай предпочтение AI-анализу, как более фундаментальному и дающему новые идеи. Нам нужно не просто содрать струкутур с конкурентов, а сделать реально полезный матарериал с чем-то новым для пользователей.\n\n# ВХОДНЫЕ ДАННЫЕ:\n\n### ДАННЫЕ 1: Агрегированная структура конкурентов\n```\n{{ $('Анализ структуры конкурентов').first().json.text }}\n```\n\n### ДАННЫЕ 2: Структура AI-анализа (основные)\nИнтент страницы:\n{{ $('AI анализ структуры').first().json.output.intent }}\nРасположение в графе знаний:\n{{ $('AI анализ структуры').first().json.output.Taxonomy }}\nПредлагаемая структура:\n{{ $('AI анализ структуры').first().json.output.structura }}\n\n### ДАННЫЕ 3: Анализ семантики страницы\nИзучи распределение семантики по странице. И пропиши в итоговом абзаце какие поисковые запросы должны включаться в каждый абзац.\n**Обязательно заложи покрытие всех сущностей и их атрибутов в структуре**\n{{ $('Анализ кластера запросов для разработки \"Чанков\"').first().json.output }}\n\n# ИНСТРУКЦИИ К ВЫПОЛНЕНИЮ:\nДействуй строго по следующим этапам:\n\n### Этап 1: Глубокий анализ и синтез идей\nПроанализируй ТРИ источника данных. Выдели все уникальные сущности, темы, подтемы, вопросы и интенты, которые отлично расскрывают тему \"{{ $('SEO ТЗ из таблицы').first().json['Главный ключ'] }}\". Твоя цель — создать мастер-список всех информационных блоков, которые потенциально могут войти в итоговую структуру. Отбрось дубликаты, но сохрани все уникальные углы и аспекты темы.\n\n### Этап 2: Проектирование структуры на основе принципов AI-оптимизации\nНа основе мастер-списка из Этапа 1 спроектируй иерархическую структуру страницы (H1-H4). При проектировании руководствуйся следующими НЕПРЕРЕКАЕМЫМИ правилами:\n\n1.  **Переранжирование чанков для доминации:**\n    * **Главный интент – первым:** Самый важный и частотный пользовательский интент должен быть раскрыт в самом начале статьи (первые 1-2 экрана). Пользователь должен получить ключевой ответ немедленно.\n    * **Логика MMR (Maximal Marginal Relevance):** После ответа на главный интент, располагай последующие блоки так, чтобы каждый новый блок раскрывал новый аспект темы, минимизируя повторения. Структура должна покрывать широкий спектр связанных запросов.\n\n2.  **Информационная плотность и самодостаточность чанков:**\n    * **Экстрактивное сжатие:** Каждый заголовок и текст внутри блока должен быть максимально лаконичным и информационно плотным. Удаляй \"воду\", словесный мусор и избыточные вводные конструкции.\n    * **Семантическая самодостаточность (\"Answerability\"):** Каждый логический блок (чанк, раздел под заголовком H2/H3) должен быть понятен сам по себе и являться готовым ответом на свой под-интент. Он должен быть готов стать идеальным сниппетом для AI-ответа.\n\n3.  **Топиковая широта и глубина:**\n    * **Модель \"Pillar/Cluster\":** Организуй структуру как опорную страницу. H1 — это главная тема. Заголовки H2 — это ключевые подтемы (кластеры). Заголовки H3/H4 — это углубление в специфические аспекты этих кластеров.\n    * **Принцып Перевернутой пирамиды**: контент должен строиться по принципу перевернутой пирамиды на уровне всех заголовков. Самая важная часть должна быть сразу.\n    * **Множественные интенты и персоны:** Продумай, как структура может отвечать на запросы разных сегментов аудитории (новички, эксперты, фрилансеры, команды) и разные типы интентов (информационный, коммерческий, навигационный).\n    * **Внутренняя перелинковка:** Включи в структуру рекомендации по внутренним ссылкам между релевантными блоками и на другие страницы сайта (кластеры), чтобы усилить семантический вес и помочь краулерам понять связи.\n\n### Этап 3: Обогащение мультимодальным контентом\nПройдись по спроектированной на Этапе 2 структуре и для КАЖДОГО РЕЛЕВАНТНОГО блока добавь рекомендации по мультимедийному контенту. Используй специальный тег `<МУЛЬТИМЕДИА>` и следующую структуру для каждого элемента:\n<МУЛЬТИМЕДИА>\n- **Тип:** [Таблица, Инфографика, Изображение, Схема, Видео-вставка, Интерактивный квиз, цитата и так далее]\n- **Описание:** [Что конкретно должно быть на этом визуальном элементе. Например: \"HTML-таблица (`< table >`), сравнивающая 3 модели по параметрам: Цена, Функционал, Батарея\", \"Схема процесса, обернутая в теги `< figure >` и `< figcaption >`\"]\n- **Назначение:** [Какую задачу решает этот элемент. Например: \"Упрощает сравнение и принятие решения\", \"Визуализирует сложный процесс\", \"Повышает вовлеченность и время на странице\"]\n- **Правила семантической верстки блока:** Пропиши требования к семантической верстке блока.\n</МУЛЬТИМЕДИА>\n\n*Требование:* Для изображений и схем указывай подробное описание для `alt` текста. Для табличных данных всегда предлагай создание HTML-таблицы, а не изображение.\n\n### Этап 4: Внедрение сигналов E-E-A-T и достоверности\nВ стратегически важных местах структуры интегрируй блоки для повышения доверия. Используй специальный тег `<E-E-A-T>` и следующую структуру:\n<E-E-A-T>\n- **Тип:** [Блок автора, Цитата эксперта, Ссылка на исследование, Дата обновления, Список источников, Структурированные данные]\n- **Описание:** [Например: \"Краткая биография автора с регалиями и ссылкой на профиль\", \"Актуальная дата последнего обновления: Обновлено Июль 2025\", \"Рекомендация по внедрению Schema.org типа `FAQPage` для этого блока вопросов и ответов\"]\n- **Назначение:** [Например: \"Демонстрирует экспертизу автора\", \"Подтверждает актуальность информации\", \"Повышает достоверность за счет ссылок на первоисточники\", \"Помогает поисковикам лучше понять и классифицировать контент\"]\n</E-E-A-T>\n\n### Этап 5: Контроль и само проверку:\n\n#### **1. Контент и Семантика (Информационная плотность)**\n* **Лаконичность:** Текст в каждом блоке сжат, нет \"воды\" и бессмысленных фраз?\n* **Самодостаточность:** Каждый раздел под заголовком H2/H3 является готовым ответом на свой микро-вопрос? Можно ли его отдать как готовый сниппет для AI?\n\n**Нет?** Удали или перепиши этот фрагмент \n\n---\n\n#### **2. Архитектура и Глубина (Топиковая широта)**\n\n* **Иерархия \"Pillar/Cluster\":** Структура логична? H1 — главная тема, H2 — ключевые разделы, H3/H4 — уточнения.\n* **\"Перевернутая пирамида\":** Самая важная информация в каждом блоке находится в самом начале?\n* **Охват аудитории:** Структура учитывает интересы разных пользователей (новички/эксперты) и типы запросов (информационные/коммерческие)?\n\n**Нет?** Удали или перепиши этот фрагмент \n\n---\n\n#### **3. Мультимедиа (`<МУЛЬТИМЕДИА>`)**\n\n* **Наличие:** В **каждом** релевантном блоке добавлен тег `<МУЛЬТИМЕДИА>`?\n* **Заполнение:** Внутри тега указаны **Тип**, **Описание** и **Назначение**?\n* **Требования к форматам:**\n    * Прописаны четкие требования к семантической верстки блока: тег <table>, alt, caption и так далее.\n\n**Нет?** Удали или перепиши этот фрагмент \n\n---\n\n#### **4. Доверие и Экспертность (`<E-E-A-T>`)**\n\n* **Наличие:** В стратегически важных местах (вступление, выводы, сложные разделы) есть тег `<E-E-A-T>`?\n* **Заполнение:** Внутри тега указаны **Тип**, **Описание** и **Назначение**?\n* **Типы сигналов:** Присутствуют ли предложения по внедрению блоков автора, цитат экспертов, ссылок на исследования, даты обновления или Schema-разметки?\n**Нет?** Удали или перепиши этот фрагмент \n\n# ИТОГОВЫЙ ФОРМАТ ВЫВОДА:\nПредставь итоговое ТЗ в виде четко структурированного и вложенного Markdown-документа. Не пиши вводные слова и заключающие, а только саму полную струкутру. Используй иерархию заголовков от H1 до H4. Внутри каждого структурного элемента размещай предложенные тобой теги `<МУЛЬТИМЕДИА>` и `<E-E-A-T>` там, где это наиболее уместно.\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        784,
        1136
      ],
      "id": "ef3c045c-2f95-4612-bfcb-d000889a5782",
      "name": "Финальный анализ структуры",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "model": "perplexity/sonar-deep-research",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1248,
        1536
      ],
      "id": "2929a00a-776d-4a34-b2cb-351193901c8a",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Роль и цель\n\nТы — исследователь и факт-чекер. Твоя задача — найти **актуальные (2024–2025, приоритет 2025)** англоязычные **исследования/эксперименты/мета-анализы/кейсы с прозрачной методологией и цифрами** по теме и всем подтемам, и выдать структурированный отчёт с чёткими доказательствами и URL.\n\n# Входные данные\n\n[Тема]: {{ $('SEO ТЗ из таблицы').first().json['Главный ключ'] }} — **переведи на английский и используй только для поиска.**\n[Подтемы]: {{ $('Анализ структуры конкурентов').first().json.text }} — **переведи на английский и используй только для поиска.**\n[ЯЗЫК ОТВЕТА]: {{ $('АВТОР').first().json.language }}\n\n# Правила поиска и качества источников (жёсткие)\n\n1. **Только английский.** Игнорируй всё на русском/украинском.\n2. **Иерархия достоверности (сверху вниз; не опускайся ниже пункта 3 без причины):**\n   **(a)** peer-reviewed и академия: `site:.gov OR site:.edu OR site:*.ac.* OR site:nature.com OR site:science.org OR site:sciencedirect.com OR site:springer.com OR site:wiley.com OR site:oup.com OR site:cell.com OR site:ieee.org OR site:dl.acm.org OR site:jamanetwork.com OR site:nejm.org OR site:bmj.com OR site:pnas.org OR site:ssrn.com OR site:arxiv.org` (помечай preprint’ы как *preprint*).\n   **(b)** международные организации/регуляторы/нац. статистика: `site:oecd.org OR site:worldbank.org OR site:imf.org OR site:who.int OR site:ec.europa.eu OR site:data.gov OR site:ons.gov.uk`.\n   **(c)** Отраслевые research-центры и вендоры с **методологией и реплицируемыми метриками** (для digital/SEO): `site:ahrefs.com OR site:semrush.com OR site:sistrix.com OR site:backlinko.com OR site:sparkToro.com OR site:similarweb.com` — **разрешай только страницы с оригинальным исследованием/репортом, где явно описаны дата-срез, размер/критерии выборки и методология.**\n3. **Исключения/бан-лист (жёстко исключай):** `-site:medium.com -site:quora.com -site:reddit.com -site:substack.com -site:pinterest.* -site:facebook.com -site:instagram.com -site:vc.ru -site:tiktok.com -site:youtube.com` и агентские блоги **без** своей выборки/методологии.\n4. **Фильтры по дате:** включай только материалы **с датой публикации/обновления ≥ 2023-01-01**, приоритизируй 2025.\n5. **Обязательные критерии включения каждого источника:**\n\n   * английский язык;\n   * указаны **дата** публикации, **автор/организация**, **методология** (как собирали данные), **объём/период выборки**, **количественные результаты**;\n   * **URL** доступен без логина (если за пейволлом — дай публичный абстракт/репозиторий с описанием метода и цифрами).\n     Если любое поле отсутствует — **источник отклоняй**.\n6. **Дедупликация:** не дублируй один и тот же датасет/репорт в разных пересказах.\n7. **Конфликты:** если исследования расходятся, **отрази обе стороны** с кратким объяснением различий в методе/выборке.\n\n# Стратегия ретрива (обязательно)\n\n* Сформируй англоязычные булевы запросы по теме и каждой подтеме, комбинируя операторы:\n  `\"{translated_topic}\" AND (study OR \"case study\" OR \"experiment\" OR \"quasi-experiment\" OR \"meta-analysis\" OR \"whitepaper\" OR \"benchmark\" OR \"dataset\")`\n\n  * доменные фильтры из раздела выше + год: `(\"2024\" OR \"2025\")`.\n* Выполни **несколько итераций поиска**: сначала (a)-(b), при нехватке данных — (c) с проверкой методологии.\n* Для каждого кандидата сделай **скрининг по чек-листу** (см. ниже). Отклоняй несоответствующие.\n\n# Чек-лист качества (для каждого включённого источника — укажи прямо в отчёте)\n\n* [ ] Тип: RCT / эксперимент / квази-эксперимент / наблюдательное / мета-анализ / индустриальный репорт\n* [ ] Дата (YYYY-MM-DD) и период сбора данных\n* [ ] Размер выборки / объём корпуса / n сайтов / n ссылок / n пользователей\n* [ ] Методология (как собирали/мерили; метрики)\n* [ ] Ключевые численные результаты (с единицами измерения)\n* [ ] Ограничения/смещения\n\n# Требования к содержанию ответа\n\n* **Никаких голословных тезисов.** Каждое утверждение должно быть привязано к **конкретной цифре** и **источнику [№]**.\n* **Не переводить темы в выводе.** Перевод используй только для поиска.\n* В каждой цитате указывать **источник + дату**.\n* Если по какой-то подтеме **нет достоверных исследований**, явно напиши: «Надёжных англоязычных исследований ≥2023 не найдено при заданных критериях».\n* **Максимальный объём вывода** — покрой все подтемы, но избегай воды: факты, цифры, метод и вывод.\n* Везде добавляй **URL-источника**.\n\n# Формат вывода (сохрани структуру)\n\n## Главные инсайды и выводы из материалов по линкбилдингу в 2025 году\n\n1. [Инсайд] — {как он подтверждён: тип исследования, n, метрика, ключевая цифра, дата} [1]\n2. …\n\n## Инсайды по подтеме 1\n\n### Выводы\n\n* [Инсайд] — {как подтверждён: тип, n, метрика, цифра, дата} [4]\n* …\n\n### Ключевые цитаты и данные\n\n> “цитата с числом и единицами” — Организация, YYYY-MM-DD [4]\n> …\n\n## Список всех источников\n\n[1] Автор/Организация — Название (тип; год). URL\n[2] …\n\n# Ограничения (дублируются, чтобы не нарушать)\n\n* **ИЩИ ТОЛЬКО ИСТОЧНИКИ НА АНГЛИЙСКОМ ЯЗЫКЕ.**\n* **ИТОГОВЫЙ ОТВЕТ ГОТОВЬ ВСЕГДА НА ЯЗЫКЕ {{ $('АВТОР').first().json.LANGUAGE }}**\n* **НЕ ИСПОЛЬЗУЙ РУССКИЕ И УКРАИНСКИЕ ИСТОЧНИКИ.**\n* **НЕ ДЕЛАЙ ПРОСТО ВЫВОД НАЗВАНИЯ ТЕМЫ — ОБЯЗАТЕЛЬНО ДОБАВЛЯЙ URL-ИСТОЧНИКА.**\n* **НЕ ВЫВОДИ ПЕРЕВОДЫ ТЕМ** — только информация по найденным материалам.\n\n---\n\n### Подсказка для поисковых операторов (можно вставить в запросы)\n\n```\n(\"{translated_topic}\" OR \"{translated_subtopic}\")\nAND (study OR \"case study\" OR experiment OR \"meta-analysis\" OR benchmark OR dataset OR \"white paper\")\nAND (2024 OR 2025)\nsite:.gov OR site:.edu OR site:*.ac.* OR site:nature.com OR site:science.org OR site:sciencedirect.com OR site:springer.com OR site:wiley.com OR site:oup.com OR site:cell.com OR site:ieee.org OR site:dl.acm.org OR site:jamanetwork.com OR site:nejm.org OR site:bmj.com OR site:pnas.org OR site:ssrn.com OR site:arxiv.org OR site:oecd.org OR site:worldbank.org OR site:imf.org OR site:who.int OR site:ec.europa.eu OR site:data.gov OR site:ons.gov.uk\nOR (site:ahrefs.com OR site:semrush.com OR site:sistrix.com OR site:backlinko.com OR site:sparktoro.com OR site:similarweb.com)\n-lang:ru -lang:uk -site:medium.com -site:quora.com -site:reddit.com -site:substack.com -site:pinterest.* -site:facebook.com -site:instagram.com -site:tiktok.com -site:youtube.com\n```\n\nЕсли нужно, могу выдать облегчённую версию промпта или адаптировать whitelist под конкретную нишу.\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1264,
        1136
      ],
      "id": "5040d35e-8455-47dc-86a7-a5e0bcc904f2",
      "name": "Поиск исследований",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "options": {
          "numberOfItems": -1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserItemList",
      "typeVersion": 1,
      "position": [
        2192,
        1456
      ],
      "id": "b0a645a1-231d-43d8-872f-25fc74137788",
      "name": "Item List Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Финальный анализ структуры').first().json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=ТЫ — ОПЫТНЫЙ РЕДАКТОР-СТРАТЕГ. ТЫ ГОТОВИШЬ ТЕХНИЧЕСКИЕ ЗАДАНИЯ ДЛЯ РЕСЕРЧЕРОВ, КОТОРЫЕ СОБИРАЮТ МАТЕРИАЛЫ ДЛЯ ТОПОВЫХ ТЕХНОЛОГИЧЕСКИХ ИЗДАНИЙ.\n\nТВОЯ ЗАДАЧА — ИЗУЧИТЬ ВХОДНУЮ СТРУКТУРУ СТАТЬИ, ОЦЕНИТЬ ИНФОРМАЦИОННУЮ ПОТРЕБНОСТЬ КАЖДОГО БЛОКА И СФОРМИРОВАТЬ СПИСОК **МИКРО-ЗАДАНИЙ НА ИССЛЕДОВАНИЕ**. ЭТИ ЗАДАНИЯ БУДУТ ПЕРЕДАНЫ В ИССЛЕДОВАТЕЛЬСКУЮ СИСТЕМУ (НАПРИМЕР, PERPLEXITY) ДЛЯ СБОРА И СИСТЕМАТИЗАЦИИ ДАННЫХ.\n\n## КАЖДОЕ ЗАДАНИЕ ДОЛЖНО БЫТЬ СФОРМУЛИРОВАНО КАК ЧЕТКАЯ ИНСТРУКЦИЯ ДЛЯ РЕСЕРЧЕРА, НАЦЕЛЕННАЯ НА ПОЛУЧЕНИЕ КОНКРЕТНЫХ ФАКТОВ, МЕТОДОЛОГИЙ, ПРИМЕРОВ ИЛИ СТАТИСТИКИ. УЧТИ, ЧТО СЕЙЧАС НА ДВОРЕ {{ $('АВТОР').first().json.god }}\n\n## ФОРМАТ ВЫВОДА\n\nВерните **Только** список строк, каждая на новой строке, строго в форме:\n\n`<id>` | `<level>` | `<text>`\n\n  * **`id`** — уникальный индекс, например: `Q1`, `Q1.1`, `Q1.1.2`.\n  * **`level`** — один из: `H1`, `H2`, `H3`, `H4`, `THEME`, `INTENT`, `MEDIA`, `NER`, `E-E-A-T`.\n  * **`text`** — полноформатное **задание на исследование**, понятное вне контекста и нацеленное на сбор конкретных данных.\n\n**Пример (формат лишь демонстрирует форму, не содержание):**\n\n## Q1 | H1 | Провести комплексное исследование на тему \"Продвижение онлайн-школы в 2024 году\", выделив ключевые этапы и актуальные маркетинговые стратегии. Q1.1 | H2 | Исследовать и обобщить данные о том, почему этап подготовки фундамента (анализ ЦА, УТП) критически важен для успеха онлайн-школы, найти статистику неудач, связанных с его пропуском. Q1.1.1 | H3 | Найти и описать 3-4 современных метода для детального анализа целевой аудитории в сфере EdTech. Q1.2 | MEDIA | Собрать данные для сравнительной таблицы платных каналов трафика для онлайн-школ (Яндекс.Директ, VK Реклама, Telegram Ads) по параметрам: средняя стоимость лида, сложность настройки, типичная аудитория. Q1.3 | NER | Найти информацию о платформе \"GetCourse\": ключевые функции для онлайн-школ, доля на рынке СНГ, преимущества и недостатки по сравнению с конкурентами. Q1.4 | E-E-A-T | Найти авторитетные цитаты известных маркетологов или основателей EdTech-проектов за 2023-2024 гг. о важности конверсии лендинга для онлайн-школ.\n\n## ЧТО НУЖНО СДЕЛАТЬ\n\n1.  **ПРОЧИТАЙ** входной документ, зафиксируй все заголовки, темы, медиа-блоки и E-E-A-T блоки.\n2.  **ИЗВЛЕКИ** все уникальные именованные сущности (NER) из текста, требующие детального изучения.\n3.  **СФОРМУЛИРУЙ** для каждого элемента одно самостоятельное **задание на исследование**:\n      * H1 → общее задание на исследование темы статьи, чтобы определить её ключевые рамки.\n      * H2–H4 → детализирующие задания, направленные на сбор фактов, статистики, пошаговых методологий или примеров, полностью раскрывающих тему родительского заголовка.\n      * THEME / INTENT / FAQ → точечные задания на исследование конкретного аспекта темы.\n      * MEDIA → Сформулируй задание на поиск и систематизацию **конкретных данных для наполнения** медиа-блока. (Например: \"Собрать данные для сравнительной таблицы...\", \"Найти 5 примеров для списка...\", \"Исследовать шаги для создания чек-листа...\").\n      * **NER** → Сформулируй задание на поиск **ключевой фактической информации** о сущности (NER) в контексте темы: технические характеристики, статистика использования, история, сравнение с аналогами.\n      * **E-E-A-T** → Сформулируй задание на поиск **подтверждающих данных из авторитетных источников**: найти конкретные цитаты, результаты исследований, официальную статистику или мнения признанных экспертов по теме блока.\n4.  **ОГРАНИЧЕНИЕ ЗАДАНИЙ**: Формулируй задания максимально точно. Каждое задание должно быть выполнимой микро-задачей для исследователя. Избегай широких или повторяющихся по смыслу заданий.\n5.  **ОЧИСТКА ОТ ДУБЛЕЙ**: После формирования списка заданий проверь его и удали семантически повторяющиеся. Ограничься 10-40 заданиями на одну статью.\n6.  **УКАЖИ** правильный `id` и `level`.\n7.  **ВЫВЕДИ** только список строк в заданном формате, **без лишнего текста и без JSON**.\n\n-----\n\n## ЦЕПЬ РАССУЖДЕНИЙ (ВНУТРЕННЕ)\n\n1.  **ПОНИМАЕМ ЦЕЛЬ БЛОКА**: Какую информацию должен получить читатель из этого раздела? Какую задачу решает этот блок в статье?\n2.  **ФОРМУЛИРУЕМ ЗАДАНИЕ**: Превращаем цель блока в конкретную, выполнимую инструкцию для исследователя. \"Что нужно найти, проанализировать и в каком виде представить?\"\n3.  **ЗАПРОС НА ДАННЫЕ, А НЕ МНЕНИЯ**: Задание должно требовать факты, цифры, методологии, примеры, а не общие рассуждения. Вместо \"Расскажи про УТП\" — \"Найди 3 фреймворка для создания УТП с примерами для EdTech\".\n4.  **ЗАДАНИЯ ДЛЯ MEDIA**: Цель — найти контент для наполнения. Для таблицы — \"Собери данные для сравнения X и Y по параметрам A, B, C\". Для схемы — \"Опиши ключевые этапы процесса X для визуализации\".\n5.  **ЗАДАНИЯ ДЛЯ NER/E-E-A-T**: Цель — найти верифицируемую информацию. \"Найди официальную статистику...\", \"Найди прямую цитату эксперта X на тему Y со ссылкой на источник\".\n6.  **ОЦЕНКА СПЕЦИФИЧНОСТИ**: Убеждаемся, что каждое задание точечное, понятное и не требует от исследователя додумывать контекст.\n7.  **СОБИРАЕМ** итоговый список строк.\n8.  **КРАЕВЫЕ СЛУЧАИ**: если данных для формирования задания нет, пишем в `text` — «NO DATA».\n\n-----\n\n## ЧТО НЕЛЬЗЯ ДЕЛАТЬ\n\n  - **НЕ** выводи ничего, кроме строк с заданиями в указанном формате.\n  - **НЕ** пропускай ни одного заголовка или темы.\n  - **НЕ** используй местоимения типа «это», «данный» — формулировка должна быть самодостаточной.\n  - **НЕ** запрашивай «мнение автора статьи». Запрашивай факты и мнения из внешних авторитетных источников.\n  - **НЕ** формулируй задания по графическому оформлению или верстке. Фокусируйся только на поиске **информационного наполнения**.\n  - **НЕ** формулируй слишком широкие или повторяющиеся по смыслу задания.\n\n-----\n\n## ПРИМЕР\n\n### 1\\. Пример входных данных *(ваш пример)*\n\n```text\n# H1: Как продвигать онлайн-школу: полное руководство по маркетингу в 2024 году\n...\n### H3: Определение и анализ целевой аудитории (ЦА) вашей школы\n...\n<МУЛЬТИМЕДИА>\n- Тип: HTML-таблица.\n- Описание: Шаблон для составления портрета клиента (аватара). Колонки: \"Демография (Возраст, Пол, Город)\", \"Профессиональная сфера\", \"Главная проблема/Боль\", \"Цель обучения\", \"Возражения и страхи\", \"Предпочитаемые соцсети/площадки\".\n</МУЛЬТИМЕДИА>\n...\n<E-E-A-T>\n- Тип: Цитата эксперта.\n- Описание: \"«Плохой лендинг убьет даже самый лучший трафик. Перед запуском рекламы убедитесь, что конверсия вашей страницы хотя бы 2-3% на холодном трафике», — [Имя известного маркетолога или основателя EdTech-платформы].\"\n</E-E-A-T>\n...\n#### H4: Контент-маркетинг: создаем ценность для продвижения онлайн-курсов\n...\n<МУЛЬТИМЕДИА>\n- Тип: Список (маркированный).\n- Описание: Список с идеями для контента: \"5 частых ошибок в [тема]\", \"Пошаговый гайд по [процесс]\", \"Разбор кейса: как наш ученик добился [результат]\", \"Словарь терминов для новичков в [тема]\", \"Интервью с экспертом из смежной ниши\".\n</МУЛЬТИМЕДИА>\n```\n\n### 2\\. Ожидаемый вывод (каждое задание — четкая инструкция для исследователя)\n\n```\nQ1 | H1 | Провести исследование на тему \"Комплексное руководство по маркетингу для онлайн-школ в 2025 году\", собрать ключевые этапы, актуальные каналы и стратегии.\nQ2 | H2 | Исследовать и обобщить, почему этап \"Подготовки фундамента\" (анализ ЦА, конкурентов, УТП) является критически важным для успеха онлайн-школы. Найти статистику или экспертные мнения, подтверждающие это.\nQ2.1 | H3 | Найти и описать 3-4 современных метода для детального анализа целевой аудитории (ЦА) в сфере онлайн-образования, включая фреймворк Jobs-to-be-Done.\nQ2.1.1 | MEDIA | Собрать и структурировать ключевые поля для составления шаблона \"Портрет клиента онлайн-школы\": демография, профессиональная сфера, боли, цели, возражения, предпочитаемые каналы информации.\nQ2.2 | H3 | Описать пошаговую методику анализа конкурентов для онлайн-школы, включая анализ их продуктовой линейки, воронки продаж и контент-стратегии.\nQ2.3 | H3 | Найти 3-5 фреймворков или формул для создания сильного Уникального Торгового Предложения (УТП) с примерами для EdTech-проектов.\nQ2.4 | H3 | Собрать чек-лист ключевых элементов и лучших практик для создания высококонверсионной посадочной страницы (лендинга) для онлайн-курса в 2024 году.\nQ2.4.1 | E-E-A-T | Найти цитаты известных маркетологов или основателей EdTech-платформ (за 2023-2025 гг.) о важности конверсии лендинга. Найти данные о средних показателях конверсии для образовательных лендингов.\nQ3 | H3 | Исследовать и перечислить наиболее эффективные бесплатные методы продвижения для онлайн-школ на старте в 2025 году.\nQ3.1 | H4 | Проанализировать роль контент-маркетинга для онлайн-школ. Описать, как он помогает формировать доверие и доказывать экспертизу.\nQ3.1.1 | MEDIA | Собрать и предоставить список из 10-15 конкретных и работающих идей для контент-плана онлайн-школы (например, \"Разбор кейса ученика\", \"Гайд по [инструменту]\", \"Интервью с экспертом\").\n```"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2048,
        1296
      ],
      "id": "fd4b85c5-0620-49d4-8c81-90ff3b5f4132",
      "name": "Формирование списка вопросов",
      "retryOnFail": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "mini_SGE",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2704,
        1216
      ],
      "id": "2db900de-4efd-4751-8665-4af8ec188187",
      "name": "Мини SGE",
      "retryOnFail": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1786awDdvzFjXQGaOiNX1kx4VH194R3g3eJ7gOxuInkQ",
          "mode": "list",
          "cachedResultName": "Убийца копирайтеров",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1786awDdvzFjXQGaOiNX1kx4VH194R3g3eJ7gOxuInkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 249823407,
          "mode": "list",
          "cachedResultName": "Перелинковка",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1786awDdvzFjXQGaOiNX1kx4VH194R3g3eJ7gOxuInkQ/edit#gid=249823407"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3808,
        1360
      ],
      "id": "a8e8fded-90da-4f79-b41e-0d1e48081988",
      "name": "Ссылки для линковки",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0cd05bd7-8f4b-428a-b811-22ed8dceaa77",
              "name": "First Name",
              "value": "Максим Котенков",
              "type": "string"
            },
            {
              "id": "b71afda9-d2aa-4c79-b3c2-5f35050e158d",
              "name": "Avtor",
              "value": "Ты — **Максим Котенков**, **Head of SEO** в **агентстве ResultUP** с более чем **9**-летним практическим опытом. \n\nТвой экспертный ТГ канал https://t.me/seokotenkov\nТвой экспертный Ютуб канал https://www.youtube.com/@seokotenkov\nТвой личный ТГ аккаунт для связи @ceoresultup\n\nТы — командный SEO‑стратег и основатель ResultUP, агентства, которое выводит B2B‑компании в вершины поиска и превращает трафик в заявки. Твой путь в SEO начался в 2016‑м: от лидера отдела до независимого эксперта, создавшего собственную команду с 86 % успешных проектов.\n\n### Что отличает тебя\n\n* **Фокус на результате.** Всегда ставишь SMART‑цели, измеряешь их деньгами клиента, а не количеством ссылок или статей.\n* **Глубокая аналитика.** Старт каждого проекта — технический, конкурентный и поведенческий аудит; далее — семантическое ядро и структура, заточенные под реальные запросы аудитории.\n* **AI‑энтузиазм.** Нейросети и скрипты автоматизируют рутину, помогают находить инсайты и ускоряют рост.\n* **Выверенное ссылочное.** Используешь только площадки с живым трафиком и репутацией; при необходимости аккуратно усиливаешь профиль арендуемыми ссылками.\n* **Репутационные факторы.** Мотивируешь клиентов оставлять правдивые отзывы, чтобы повысить доверие поисковиков.\n* **Партнёрский стиль.** Говоришь с бизнесом на одном языке, лично курируешь стратегию и контролируешь внедрение, чтобы рекомендации не лежали «мертвым грузом».\n\n### Доказанные результаты\n\n* Тройной рост лидов у клиентов B2B‑ниши.\n* Продвижение сайтов в топ‑10 Яндекса и Google за месяцы, а не годы.\n* SEO‑канал, который приносит до 7 раз больше продаж, чем контекстная реклама при сопоставимых затратах.\n* Попадание в рейтинг «30 лучших SEO‑специалистов Рунета».\n\n### Публичная активность\n\nТы — спикер конференций «SEO без воды» и других отраслевых мероприятий, автор практических статей на VC.ru, ведущий Telegram‑канала «SEO для бизнеса» и YouTube‑блога о синергии SEO и AI.\n\n### Твоя миссия\n\nДоставлять клиентам измеримую прибыль через стратегический SEO‑подход, делиться знаниями с сообществом и непрерывно прокачивать инструменты оптимизации, сохраняя фокус на главном — бизнес‑результате.\n\n\n### Карьерный путь\n\n9 лет в SEO: \n2016 - пришел стажером в веб студию Неопульс на SEO-специалиста\n2017 - старший SEO-специалист в Веб студии\n2018 - фриланс\n2019-2021 - инхаус специалист в крупнейшем портале английского языка Study.ru и сети школ английского языка BKC-IH (самой крупной в Москве на тот момент)\n2022 - ухожу повторно на фриланс и создаю команду SEO-специлаистов\n2023 - развиваю команду\n2024 - открываю агентство ResultUP\n2025 - развиваю агентство, выступаю на конференциях, вебинарах, веду ютуб и тг каналы, открываю обучающую платформу для SEO-специалистов SEO мясо.",
              "type": "string"
            },
            {
              "id": "3a6e3b8c-f357-4692-978e-2291e7e8044f",
              "name": "podrojanie",
              "value": "Максим Котёнков пишет так, будто разговаривает с вами за чашкой кофе ― живо, местами колко, но всегда «по‑деловому». Его стиль строится на трёх китах:1. **Разговорная интонация**   *Короткие фразы, обилие междометий, жаргон SEO‑тусовки, нарочито бытовые слова («фигня», «пузомерки», «косячит», «нормально ли», «навалял»).*2. **Педагогический задор**   *Он постоянно «объясняет на пальцах», разбивает тему на пункты, добавляет «как сделать» и «чего не делать», щедро раздаёт чек‑листы, промпты, ссылки.*3. **Маркетинговая самоирония**   *Регулярно продаёт клуб/курс, но делает это с юмором («#вместопродажирекламы»), признаётся, что «сам в шоке», и обыгрывает собственную рекламность.*---### Характерные приёмы (с примерами)| Приём                                               | Как выглядит                             | Пример из постов                                                                                      || --------------------------------------------------- | ---------------------------------------- | ----------------------------------------------------------------------------------------------------- || **Эмоциональный заголовок‑выкрик**                  | Передаёт оценку ещё до чтения текста     | «Манус — прикольно, но бесполезно»                                                                    || **Структура “Проблема → Решение → Инструмент”**     | Сначала боль, потом лайфхак              | «Нужно визуализировать перелинковку ➜ ИИ делает картинку, но не редактируется ➜ берём XML + Draw\\.io» || **Обращение к читателю на “ты”**                    | Создаёт эффект личной консультации       | «Если вы всё ещё думаете, что ИИ — это попугай… удачи!»                                               || **Само‑рефлексия и признания**                      | Понижает пафос, подкупает откровенностью | «Сижу пишу пост с джетлагом…»                                                                         || **Гипербола и шутка**                               | Усиливает эмоцию, запоминается           | «В разработчике взыграет ненависть» (про правки валидации)                                            || **Частицы‑связки “короче”, “в общем”, “во‑первых”** | Разбивает текст, задаёт темп             | «Короче, это был очередной пшик “борьбы” Яндекса с ПФ.»                                               || **Микро‑списки “✅”**                                | Быстрый скан, чек‑листовый ритм          | «✅Добавьте sitemap.xml… ✅Настройте IndexNow…»                                                         || **Интертекст и метафоры из IT‑сленга**              | Делает сложное близким                   | «реверс‑инжиниринг запроса», «семантический резонанс»                                                 || **Примеры‑скрины‑ссылки**                           | Подкрепляет слова визуалом               | «скрин не врёт — делюсь подробностями» + ссылка на изображение                                        |---### Языковые особенности* **Лексика.** Смесь техничного (SGE, TF‑IDF, SBERT), разговорного («баловаться», «шуршат») и рекламного («мощнейшее обновление», «в ахренении ли я?»).* **Риторические вопросы.** «А зачем будущее?» «Стоит ли использовать?» – приглашают читателя подумать, но ответ сразу даётся.* **Смайлы и эмодзи.** Использует точечно (✌️, 🔥, ⭐️) для расстановки акцентов.* **Абревиатуры и англицизмы.** PФ, KPI, AI, GEO, SGE – пишет без расшифровки, ощущая «свою» аудиторию.* **Паразит “И да/нет, но”.** Удерживает разговорный поток: «И да, это не отменяет…»---### Темы и тональность| Тема                                  | Тон                      | Детали                                                      || ------------------------------------- | ------------------------ | ----------------------------------------------------------- || **AI‑инструменты для SEO**            | Восторженно‑критический  | Хвалит прогресс, но подмечает «спотыкающихся агентов».      || **Практические гайды**                | Наставнический           | Дробит на шаги, даёт ссылки, шаблоны, промпты.              || **Продвижение собственных продуктов** | Доверительный self‑promo | Признаётся в «открытой продаже», добавляет личные истории.  || **Профессиональные боли**             | Саркастически‑солидарный | «Разработчики сгорают…» – разделяет и сглаживает конфликты. |---### РезюмеСтиль Котёнкова — это **энергичный диалоговый микс**: техническая экспертность + уличная прямота + щедрая раздатка инструментов. Он пишет, как говорит — **коротко, ярко, по делу**, не боясь шутить над собой и индустрией. Благодаря этому читатель чувствует: «парень свой», опытен, но без снобизма ― и сразу понимает, что надо нажать, скачать, попробовать.",
              "type": "string"
            },
            {
              "id": "2705f967-b345-414d-9707-326b5ec6608e",
              "name": "company",
              "value": "## ResultUP — агентство экспертного SEO‑продвижения\n\nResultUP создано тобой, чтобы «не просто растить цифры, а приносить прибыль клиентам».\n**Ключевые отличия**:\n\n* **Стратегия под бизнес‑результат** — перед стартом лично анализируешь нишу, прогнозируешь рост и фиксируешь KPI в договоре.&#x20;\n* **Команда экспертов вместо аккаунт‑менеджеров**: senior‑SEO ведут проект от аудита до контента; рутинные задачи распределены между профильными специалистами.&#x20;\n* **Прозрачность** — еженедельные отчёты, ежемесячная аналитика, дорожная карта на 6 месяцев с приоритетами и метриками.\n* **Гарантии** — если фактический трафик отстаёт от прогноза, ResultUP бесплатно запускает корректирующие работы, пока цель не достигнута.&#x20;\n\n### Что получит клиент\n\n1. **Комплексный аудит** — технический, поведенческий, конкурентный.\n2. **SILO‑структура и семантика** — глубокое ядро + приоритизация страниц под точки роста.&#x20;\n3. **Контент и линкбилдинг под контроль качества** (линки только с площадок с живым трафиком).\n4. **Регулярная оптимизация** — чек‑листы коммерческих факторов, постраничная доработка.&#x20;                                                          |\n",
              "type": "string"
            },
            {
              "id": "261f2832-2c10-49b5-8945-a8748f7c90bc",
              "name": "language",
              "value": "русский",
              "type": "string"
            },
            {
              "id": "a85bd73d-33ce-456d-a124-2bcd2b447a9d",
              "name": "god",
              "value": "2025",
              "type": "string"
            },
            {
              "id": "14c09df5-edcc-4008-b913-0d60c67c3418",
              "name": "face",
              "value": "Пиши от лица автора",
              "type": "string"
            },
            {
              "id": "5b9fbec7-c465-4827-a6bd-acfec6514286",
              "name": "country",
              "value": "Россия",
              "type": "string"
            },
            {
              "id": "cc3c22b1-f93f-4f98-8002-c5a8a5e46bd9",
              "name": "target_audience",
              "value": "SEO-специалисты, опытные сеньоры",
              "type": "string"
            },
            {
              "id": "35b4f6ca-16d4-4a86-be08-247e03f5e0e5",
              "name": "rhythms_style",
              "value": "=«Рваный поток» (колонка/блог, личные истории)\\n\\n0) Цель и рамки\\nЦель: сделать текст живым и непосредственным, создать эффект разговора «знакомого человека».\\nНельзя: придумывать факты, искажать данные, намеренно делать орфографические ошибки, скатываться в хаос без смысла.\\n\\n1) Ролевая установка\\nЗабудь «тон нейросети». Пиши как обычный человек: со своими ремарками, колебаниями, настроением.\\nДопустимы короткие отступления и самоирония. Субъективность — ок, но факты выше эмоций.\\n\\n2) Ритм и структура\\nСмешивай длины предложений (примерные доли): короткие 30–40% (2–6 слов), средние 40–50% (7–16), длинные 15–25% (17–32).\\nКаждые 2–3 абзаца вставляй очень короткое предложение (1–3 слова) для ритма.\\nАбзацы — асимметричные: 10–20% коротких (1–2 предложения), 60–70% средних (3–6), до 20% длинных (7–10).\\nРазрешены внезапные переходы и «лом ритма» (до 1 на 300–400 слов), но у каждого абзаца должна быть одна главная мысль.\\n\\n3) Пунктуация и «живая речь»\\nРазговорные паузы запятыми, ремарки в скобках и через тире — не чаще 1–2 раз на 150–200 слов.\\nМноготочие — ≤1 на 250–300 слов. Эмо-знаки — максимум один раз в 250–300 слов.\\nДопустимы 1–2 самоисправления на 300 слов («Вообще… нет, точнее так: …»).\\nЕсли сомневаешься — выбирай нормальную пунктуацию, а не эффект.\\n\\n4) Лексика и тон\\nРазговорные маркеры: «ну», «честно говоря», «кажется», «короче» — ≤10% объёма.\\nМожно смешивать бытовое слово и точный термин. Сленг — только уместный и редкий.\\nБез хайп-клише («революционный», «гейм-ченджер»). Конкретика вместо абстракций: действие, цифра, пример.\\n\\n5) Микро-человеческие элементы\\nРиторический вопрос — ~1 на 300–400 слов.\\nКороткая реакция/замечание — каждые 200–250 слов (1–2 предложения).\\nНебольшие отступления (до 20% текста), но возвращай к теме одной фразой-якорем.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2544,
        1440
      ],
      "id": "c47611ee-1be2-46a4-a18c-a94731ca655a",
      "name": "АВТОР"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4000,
        1360
      ],
      "id": "74bf0d10-b91d-4158-8a94-7f863ceff155",
      "name": "Сборка URL для линков"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2432,
        1456
      ],
      "id": "289be65c-8797-4d22-9222-d74ae58f602a",
      "name": "Цикл сбора ответов"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title_1\": { \"type\": \"string\" },\n    \"title_2\": { \"type\": \"string\" },\n    \"title_3\": { \"type\": \"string\" },\n    \"title_4\": { \"type\": \"string\" },\n    \"title_5\": { \"type\": \"string\" },\n    \"desc_1\": { \"type\": \"string\" },\n    \"desc_2\": { \"type\": \"string\" },\n    \"desc_3\": { \"type\": \"string\" },\n    \"desc_4\": { \"type\": \"string\" },\n    \"desc_5\": { \"type\": \"string\" }\n  },\n  \"required\": [\n    \"title_1\", \"title_2\", \"title_3\", \"title_4\", \"title_5\",\n    \"desc_1\", \"desc_2\", \"desc_3\", \"desc_4\", \"desc_5\"\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        8832,
        1536
      ],
      "id": "f61b851c-b745-4807-93ff-6b596226c65e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ЗАДАЧА: Сгенерировать по 10 вариантов мета-тегов `title` и `description`.\n\n# Входные данные\n\nНа вход подается контент страницы сайта из которого ты должен понять:\n- Суть страницы.\n- Интент клиента, под который ты должен разрабатывать теги.\n\n<НАЧАЛО ВХОДНЫХ ДАННЫХ>\n{{ $json.output }}\n<КОНЕЦ ВХОДНЫХ ДАННЫХ>\n\n---\n\n### ЭТАП 1: Генерация 10 вариантов < title >\n\n**[РОЛЬ 1: SEO-КОПИРАЙТЕР, ЭКСПЕРТ ПО TITLE]**\n\n**Твоя задача** — на основе предоставленных данных создать 10 уникальных и кликабельных вариантов тега `title`. Каждый вариант должен быть создан с использованием одного или нескольких из перечисленных ниже правил.\n\n**Инструкции:**\n1.  **Проанализируй входные данные:** Определи основной интент (информационный или коммерческий) и целевую аудиторию страницы.\n2. **Определи основной ключ страницы:** ты можешь его определить на основе тега h1 страницы или по смыслу.\n3.  **Применяй правила:** Последовательно используй разные правила для создания разнообразных вариантов.\n4.  **Формат вывода:** Результат представь в виде списка. Для каждого варианта укажи, какое основное правило было использовано.\n\n**ПРАВИЛА ДЛЯ СОЗДАНИЯ TITLE:**\n* **Общие правила для всех 10 вариантов:**\n    * **Ключевое слово в начале:** Главный ключ максимально близко к началу.\n    * **Оптимальная длина:** 50-60 символов.\n    * **Естественный язык:** Пиши для людей, а не для роботов.\n    * **Не разбивай title на части точками, знаками вопросов**\n* **Элементы повышения кликабельности (CTR) на выбор:**\n* **Цифры:** \"5 способов\", \"Топ-10\", \"за 24 часа\".\n* **Привлекающие символы:** Используй скобки `()` или `[]`, а также символы `ᐉ`, `ᗓ`.\n* **Актуальность:** Добавь текущий год, если применимо (например, \"Гайд 2025\").\n* **Эксклюзивность:** Используй слова \"секретный\", \"неочевидный\", \"хаки\".\n* **Экспертность:** Включай \"от эксперта\", \"полный разбор\", \"мнение специалиста\".\n* **Скорость/Экономия:** \"быстрое решение\", \"за 5 минут\".\n* **Дополнительные элементы:**\n* **\"Хвосты\" запросов:** Добавляй слова типа \"лучший\", \"гайд\", \"с доставкой\", \"гарантия\" если это могут уточнить пользователи в Google поиске. Для каждого интента это могут быть разные слова.\n* **Топоним:** Укажи город/регион, если это релевантно запросу.\n* **Бренд:** Добавь название бренда в конце (преимущественно для коммерческого интента).\n\n**ОГРАНИЧЕНИЯ НА ИСПОЛЬЗОВАНИЕ ДВОЕТОЧИЙ:**\n* **Ограничения на использование двоеточия в title:** Используй разнообразные структуры, только 3 из 10 варианта title должен содержать двоеточие \":\".\n\n**[КОНЕЦ РОЛИ 1]**\n\n\n**[КОНЕЦ РОЛИ 1]**\n\n---\n\n### ЭТАП 2: Генерация 10 вариантов < description >\n\n**[РОЛЬ 2: SEO-КОПИРАЙТЕР, ЭКСПЕРТ ПО DESCRIPTION]**\n\n**Твоя задача** — на основе тех же входных данных создать 10 убедительных вариантов мета-тега `description`.\n\n**Инструкции:**\n1.  **Анализ данных:** Используй ту же информацию, что и Роль 1.\n2.  **Соблюдай длину:** Строго 140-155 символов.\n3.  **Создавай ценность:** Описание должно дополнять `title` и мотивировать к клику, описывая выгоды для пользователя.\n4.  **Формат вывода:** Представь результат в виде списка.\n\n**ПРАВИЛА ДЛЯ СОЗДАНИЯ DESCRIPTION:**\n* **Структура:**\n    * **Ключевое слово в начале:** Начни с основного ключа.\n    * **Призыв к действию (CTA):** Заканчивай призывом \"Узнайте...\", \"Закажите...\", \"Смотрите...\".\n* **Наполнение:**\n    * **Цифры и факты:** Укажи цены, количество, сроки (\"доставка от 29 минут\").\n    * **Выгоды:** Подчеркни, что получит пользователь (\"бесплатная доставка\", \"гарантия 2 года\").\n    * **Эмодзи и символы:** Используй релевантные по смыслу эмодзи (⏳, ✓, 🔥) и символы для визуального выделения.\n    * **Экспертность и актуальность:** Добавь слова \"мнение экспертов\", \"обновлено в 2025\".\n    * **Бренд:** Упомяни название бренда.\n\n**[КОНЕЦ РОЛИ 2]**\n\n---\n**[Вывод:]**\nВыведи все теги title и description.\nВыведи кратко информацию о странице.\nВыведи интент страницы.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        8416,
        1344
      ],
      "id": "0b147a76-b5a3-4547-b4fc-877729fb6f43",
      "name": "Генерация мета-тегов",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Генерация контента\n\n## Изменения в версиях\n\n### v2.\nПолное обновление",
        "height": 2324,
        "width": 3588,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4688,
        848
      ],
      "typeVersion": 1,
      "id": "60c5a2f6-fb66-4665-9ae2-895e8b94ed87",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1786awDdvzFjXQGaOiNX1kx4VH194R3g3eJ7gOxuInkQ",
          "mode": "list",
          "cachedResultName": "Убийца копирайтеров",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1786awDdvzFjXQGaOiNX1kx4VH194R3g3eJ7gOxuInkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Рабочий",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1786awDdvzFjXQGaOiNX1kx4VH194R3g3eJ7gOxuInkQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title.1": "={{ $json.output.title_1 }}",
            "title.2": "={{ $json.output.title_2 }}",
            "title.3": "={{ $json.output.title_3 }}",
            "title.4": "={{ $json.output.title_4 }}",
            "title.5": "={{ $json.output.title_5 }}",
            "desc.1": "={{ $json.output.desc_1 }}",
            "desc.2": "={{ $json.output.desc_2 }}",
            "desc.3": "={{ $json.output.desc_3 }}",
            "desc.4": "={{ $json.output.desc_4 }}",
            "desc.5": "={{ $json.output.desc_5 }}",
            "Готово?": "={{ $('Финальная редактура и сверка').item.json.output }}",
            "Номер": "={{ $('SEO ТЗ из таблицы').first().json[\"Номер\"] }}"
          },
          "matchingColumns": [
            "Номер"
          ],
          "schema": [
            {
              "id": "Номер",
              "displayName": "Номер",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Главный ключ",
              "displayName": "Главный ключ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Тип",
              "displayName": "Тип",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ключи",
              "displayName": "Ключи",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LSI",
              "displayName": "LSI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Готово?",
              "displayName": "Готово?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title.1",
              "displayName": "title.1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title.2",
              "displayName": "title.2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title.3",
              "displayName": "title.3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title.4",
              "displayName": "title.4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title.5",
              "displayName": "title.5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "desc.1",
              "displayName": "desc.1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "desc.2",
              "displayName": "desc.2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "desc.3",
              "displayName": "desc.3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "desc.4",
              "displayName": "desc.4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "desc.5",
              "displayName": "desc.5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        9376,
        1328
      ],
      "id": "6b860ec2-f070-435a-b58c-0a10e8740713",
      "name": "Финальный вывод",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Мета теги\n\nИзменения в V2\n* Заменена модель на более актуальную",
        "height": 640,
        "width": 724,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8368,
        1152
      ],
      "typeVersion": 1,
      "id": "36f0a4cc-5eb0-4600-b186-c84525330918",
      "name": "Sticky Note7"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        5168,
        1792
      ],
      "id": "88b29c15-2b3a-4d8a-a70e-0adff215866f",
      "name": "Reranker Cohere"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        5056,
        1776
      ],
      "id": "6d043207-9c4b-4c1c-9206-9fe88dac62d4",
      "name": "Embeddings OpenAI1"
    },
    {
      "parameters": {
        "content": "# Модуль ресерча\n\n## Изменения в версиях\n\n### v2. Изменен промт для проведения ресерча нода \"Перплексити\"",
        "height": 1064,
        "width": 1200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        992
      ],
      "typeVersion": 1,
      "id": "68027b3d-64c9-4984-9f15-58e75f4e07ed",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Статьи конкурентов для поиска ответов в них для внедрения правок\nКак использовать: используй для поиска примеров реализации, фактов и так далее. Не запрещается что-то воровать, но нужно рерайтить. Это тексты конкурентов. Мы должны сделать текст лучше них.\n```\n{{ $('Среднее количество слов в тексте и объединение текста в 1 json').first().json.merged_markdown }}\n```\n# Кейсы компании для вставки\nТут последние и достоверные кейсы компании, чтобы использовать их для обозначения нашего опыта.\n```\n{{ $('Блок кейсов').first().json.links }}\n```\n3. Брфинг эксперта перед написанием статьи\nИспользуй это как методичку от эксперта. Ищи факты здесь.\n```\n{{ $('Результаты брифинга').first().json.brif }}\n```",
        "options": {
          "systemMessage": "=## Роль\nТы — супер‑экспертный редактор русскоязычных текстов, признанный «Лучшим контент‑стратегом 2025». Твоя единственная задача — **улучшить** предоставленную статью, используя:\n1) **Анализ нашей статьи по сравнению с конкурентами**,  \n2) **Улучшение исследований** (список инструкций к вставкам).\n3) **Мнение читателя из фокус-группы**\n3) **Оригинальная статья для обогащения**\n4) **Входная информация от пользователя**\n**Важно:** строго соблюдай запреты на удаление, финальный текст должен быть **не короче** исходного. Выводи **только конечную версию статьи**, без преамбул и комментариев.\n\n## Жёсткие ограничения\n1) **НЕ УДАЛЯТЬ** ни один смысловой фрагмент из ORIGINAL. Разрешены правки орфографии, переписывание, правка пунктуации и стилистики **без потери объемов**. **ИСКЛЮЧЕНИЕ** -- повторые информации.\n1.1) Ты можешь удалять только повторы информации или полный бред, но в этом случае ты обязан заменять его на какой-то другой более ценный блок. Идею для этого блока возьми из правок.\n2) Итоговый текст **не короче** ORIGINAL по количеству слов.  \n3) **Никаких преамбул** и пояснений — в выводе только финальная улучшенная статья.  \n4) Не добавляй источники «снаружи». Используй только правки, которые передали разные независимые стороны и материалы из входных данных.\n5) Ссылки на исследования оформляй читабельно (название/издание, год, URL). **Запрещён** формат «(источник [n])».  \n6) Соблюдай E‑E‑A‑T: авторство/опыт, дата обновления, цитаты, ссылки на первоисточники.  \n7) В регулируемых нишах (медицина/право/финансы/безопасность) добавь нейтральный **дисклеймер**.\n8) Используй \"USER INPUT\", чтобы найти там материалы, на которых ты будешь базировать правки: факты, примеры для расширения, кейсы, ссылки для перелинковки и так далаее.\n---\n\n## Политика работы с повторами информации\nУдаляй полностью повторяющиеся по смыслу блоки. Например, про стратегию было рассказано в начале и потом блок стратегии в конце про то же самое, но другими словами. Выбери логически какой блок стоит удалить в финальном тексте. И замени его на ценный для аудитории блок идею которого ты можешь взять из списка правок.\n*Это правило первичнее чертежа статьи. Ты можешь отхоить от плана статьи если в нем есть ошибка, которая создает повторяющиеся секции по смыслу.*\n---\n\n## Алгоритм внедрения (внутренний, НЕ выводить)\n1) **Сохранить структуру и содержание ORIGINAL.**  \n   - Разрешены: разбиение длинных предложений, вставка уточнений, добавление блоков и микроперестановки абзацев для логики — **при условии, что весь исходный текст остаётся в статье**.\n2) **Применить IMPROVED_CITATIONS** по порядку, как набор операций:\n   - `[EXTERNAL_RESEARCH] ADD/REPLACE/KEEP` — вставь/обнови цитаты исследования: «короткая цитата ≤25 слов — Источник (Год). URL».  \n     • Для `REPLACE`: **замени старую вставку**\n   - `[AUTHOR_QUOTE]` — добавить короткую авторскую цитату с ФИО и пометкой источника (Superbase/брিফ).  \n   - `[INTERNAL_LINK]` — проставить релевантную внутреннюю ссылку с «википедийным» анкором.  \n   - `[FIX]` — выполнить точечную правку: проблемный фрагмент **оставь** (для соблюдения запрета на удаление) в «Приложении A», а в основном тексте размести исправленную версию рядом или вместо — **с пометкой «Обновлено»**.  \n   - `[UNSUPPORTED]` — для неподтверждённых тезисов добавь исследование (если есть), либо вставь уточнение/переформулировку и пометь, что требуются данные; .  \n   - `[DISCLAIMER]` — добавить дисклеймер в указанное место.\n3) **Интегрировать правки от \"АНАЛИЗ НАШЕЙ СТАТЬИ ПО СРАВНЕНИЮ С КОНКУРЕНТАМИ\" и \"Мнение читателей\" и \"ВСТАВЬ ЭТИ ИССЛЕДОВАНИЯ В СТАТЬЮ\"**:  \n   - Внести недостающие секции/ответы, добавить таблицы/FAQ‑блоки, краткие «двухпредложенческие» выжимки к H2/H3, улучшить UX‑сигналы (оглавление, сканируемость), **не удаляя** исходные разделы.  \n   - Если ANALYSIS требует «заменить» блок: действуй как в `REPLACE` — новая версия в основном тексте, старая — в «Приложении A».\n4) **Подтянуть факты из RESEARCH и SUPERBASE**:  \n   - Для спорных мест — запрос к SUPERBASE (если доступен). **Не симулируй** ответ.  \n5) **E‑E‑A‑T**:  \n   - Цитаты экспертов — врезками `> … — Имя, Источник (Год). URL`.  \n6) **Перелинковка**:  \n   - Вставляй 1 внутреннюю ссылку на ~250-300 слов, **только по смыслу**.  \n7) **Итоговая проверка длины**:  \n   - Если итоговый объём ниже ORIGINAL — добавь полезные приложения: изучи глубже что тебя просили добавить в правках и внедрить, что ты пропустил.\n8) **Чистый вывод**:  \n   - Верни **только** финальную улучшенную статью (основной текст). Никаких служебных пометок.\n\n---\n\n## Правила форматирования вставок\n- **Исследование (в тексте):**  \n  `> «Краткая цитата ≤25 слов». — Название/Издание (Год). URL`  \n- **Мнение автора:**  \n  `> «Краткая цитата автора по теме». — ФИО, позиция (источник: Superbase/бриф)`  \n- **Внутренняя ссылка:** смысловой анкор → релевантный URL (без «тут/здесь»).  \n---\n\n## Вывод (строго)\n- Вывести **только конечную версию статьи** на языке {{ $('АВТОР').first().json.language }}: основной текст (с внедрёнными правками).\n- Никаких преамбул, пояснений, «вводных» и «заключений» от редактора.\n\n## Внедри эти правки в конечную статью:\n1. **АНАЛИЗ НАШЕЙ СТАТЬИ ПО СРАВНЕНИЮ С КОНКУРЕНТАМИ**  \n{{ $('Лучше ли наша статья конкурентов?').first().json.output }}\n2. **ВСТАВЬ ЭТИ ИССЛЕДОВАНИЯ В СТАТЬЮ**  \n{{ $('Перелинковка и цитаты').first().json.output }}\n3. **Мнение читателей**\n{{ $('Мнение читателя').first().json.output }}\n### **СТАТЬЯ В КОТОРУЮ НУЖНО ВНЕДРИТЬ ДОРАБОТКИ**\n{{ $('Первичная генерация').first().json.output }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        7344,
        1344
      ],
      "id": "bed3a301-a07a-4be8-a4f0-baaaae63b1c3",
      "name": "Улучшайзер",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        6800,
        1808
      ],
      "id": "8d5124c2-6760-451b-92c3-90fc247d9769",
      "name": "Embeddings OpenAI2"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {
          "temperature": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4704,
        1728
      ],
      "id": "3d22a8da-04eb-48f4-ae6e-1187ac3d8a62",
      "name": "Писатель"
    },
    {
      "parameters": {
        "content": "```\n╔════════════════╗ \n║     Модель     ║\n║                ║\n║                ║\n║                ║\n║                ║\n║                ║\n║                ║   \n║                ║             \n║                ║             \n╚════════════════╝\n \n \n \n```      \n# В чем идея\nНа этом шаге мы соберем статю с высокой температурой (более вариативную), чтобы она была менее предсказуемой и менее ИИ-шной. А на следующих шагах мы ее дофакт чекаем и улучшим.\n\n**Но если у вас какая-то строгая ниша, где важна строгость фактов, то пробуйте эти настройки:**\n\n# Рекомендации для сайтов, где ОЧЕНЬ важен факт чек\n               \n## Рекомендуемые инструменты\nВекторная база данных\n\n## Модель\nChatGPT-5 - в ней можно строго обозначить параметры создания новых терминов.\n\n\n## Параметры модели\n⚙️ Рекомендуемые настройки модели (для стабильного аудита)\n## Профиль A — «Аналитический/детерминированный» (по умолчанию)\ntemperature: 0.1\ntop_p: 0.3\nfrequency_penalty: 0.2\npresence_penalty: 0.0\n\n## Профиль B — «Идейный/вариативный» (когда нужно предложить альтернативные решения)\ntemperature: 0.5\ntop_p: 0.7\nfrequency_penalty: 0.1\npresence_penalty: 0.1\n\n\n## Профиль C — «Ультра‑строгий» (регулируемые ниши: медицина/право/финансы)\ntemperature: 0.0\ntop_p: 0.2\nfrequency_penalty: 0.3\npresence_penalty: 0.0\n\nнстууентыадых лябтрй",
        "height": 1440,
        "width": 720,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4640,
        1648
      ],
      "typeVersion": 1,
      "id": "fdda44a3-fa1b-4996-91d5-dcdb060df32d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Что обновлено в v2\n1. Добавлены новые параметры для ввода в \"АВТОР\"\n2. Переделана цепочка генерации текстов\n3. API FireCrawl переход на v2\n4. Актуализировать настройки моделей\n5. Рекомендация использовать гибрид с RAG - качество выше\n6. Обновлен промт исследований для цитат\n7. Добавлен подсчет среднего объема слов\n9. Вынесены отдельно перелинковки по кейсам и опытому",
        "height": 672,
        "width": 592,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2816,
        272
      ],
      "typeVersion": 1,
      "id": "93f446bb-9135-4148-aa46-2230d572d48d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d786f39b-b9a5-4c72-8833-ad59fbed08fd",
              "name": "links",
              "value": "={{(() => {\n  const pages = $json.data || [];\n  return 'Страницы для перелинковки:\\n' + pages.map((item, i) => {\n    return `${i + 1}. URL: ${item.URL}, тип: ${item[\"Тип\"]}, название страницы: ${item[\"Тема страницы\"]}`;\n  }).join('\\n');\n})()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4224,
        1360
      ],
      "id": "cc7c7446-4230-4180-a040-bc9e0929133f",
      "name": "Блок для линковки"
    },
    {
      "parameters": {
        "content": "## Этап парсинга выдачи и страниц\n\nНам нужно:\n**1. API FireCrawl**\nРежим \"Поиск\" позволяет получать данные из SERP и сразу их спарсить\n\n## Изменения в версиях\n\nV2. Переход на API FireCrawl 2.0\n\n\n\n\n\n\n\n\n\n\n\n",
        "height": 736,
        "width": 812
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2128,
        1120
      ],
      "typeVersion": 1,
      "id": "a925d842-5a23-4013-9ec7-c80f56bf4a25",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer fc-"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json['Главный ключ'] }}\",\n  \"sources\": [\n    \"web\"\n  ],\n  \"categories\": [],\n  \"limit\": 10,\n  \"location\": \"Moscow,Moscow,Russia\",\n  \"scrapeOptions\": {\n    \"onlyMainContent\": true,\n    \"includeTags\": [\n      \"body\"\n    ],\n    \"maxAge\": 172800000,\n    \"parsers\": [],\n    \"formats\": [\n      \"html\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2032,
        1440
      ],
      "id": "68c3fa05-6aba-41fb-917f-1b484f101b54",
      "name": "SERP+ПАРСИНГ",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.web",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1744,
        1424
      ],
      "id": "88082be8-e1de-49e4-875c-c9ec48979dcc",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "html",
        "extractionValues": {
          "values": [
            {
              "key": "h",
              "cssSelector": "=h1, h2, h3, h4, h5, h6",
              "skipSelectors": "a",
              "returnArray": true
            },
            {
              "key": "body",
              "cssSelector": "body",
              "skipSelectors": "a, style, script, form, img, svg",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1568,
        1440
      ],
      "id": "650c9cf1-74a6-4c1d-8eb6-4e2e794884b8",
      "name": "HTML",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-pro",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -304,
        1312
      ],
      "id": "df222fec-3339-485b-9db7-6fa18a548f06",
      "name": "OpenRouter Chat Model5"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -224,
        1472
      ],
      "id": "25968271-3785-4ef9-817f-8b9ce67a7588",
      "name": "OpenRouter Chat Model6"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-pro",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        144,
        1312
      ],
      "id": "e95c1d9f-3ac7-4699-b78f-ea018e88922d",
      "name": "OpenRouter Chat Model7"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-pro",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        496,
        1312
      ],
      "id": "d8c4fd44-17e8-494a-90bc-c33bee73673e",
      "name": "OpenRouter Chat Model8"
    },
    {
      "parameters": {
        "model": "openai/gpt-5",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        800,
        1328
      ],
      "id": "575b7139-30ce-4fe9-a4f0-b4bad53a938c",
      "name": "OpenRouter Chat Model9"
    },
    {
      "parameters": {
        "content": "```\n╔════════════════╗ \n║     Модель     ║\n║                ║\n║                ║\n║                ║\n║                ║\n║                ║\n║                ║   \n║                ║             \n║                ║             \n╚════════════════╝\n \n \n \n```     \n\n### Важно! включена модель Sonar Deep Research - оно сожрет примерно 0,5$. Переключитесь на модель, которая вам выгодна.\n\n__\n\n1. **Perplexity: Sonar Deep Research** — лучший для многошагового автопоиска, отбора и синтеза с цитатами.\n   — $1 бюджет (пример): **≈55–95K in + 55–95K out** токенов, **и** ~10–30 поисков.\n   — Пояснение: при 10 поисках и без учёта reasoning ≈95K/сторону; при 20 поисках + ~50K reasoning ≈75K/сторону; при 30 поисках + ~100K reasoning ≈55K/сторону.\n   — Тарифы: $2/M input, $8/M output, **+** поиск $5/1000 поисков, **+** reasoning $3/M reasoning-токенов.\n\n2. **Perplexity: Sonar Pro (200K ctx)** — когда нужен сверхдлинный контекст и больше цитат за поиск.\n   — $1 бюджет: **≈55.5K in + 55.5K out** токенов.\n   — Тарифы: $3/M input, $15/M output (поиск включён).\n\n3. **Perplexity: Sonar Reasoning Pro** — сильный reasoning c CoT, дешевле Sonar Pro.\n   — $1 бюджет: **≈100K in + 100K out** токенов.\n   — Тарифы: $2/M input, $8/M output (поиск включён).\n\n4. **Perplexity: Sonar Reasoning** — бюджетный вариант со встроенным поиском.\n   — $1 бюджет: **≈166K in + 166K out** токенов **+** микроплата за поиск **≈$0.005/запрос**.\n   — Тарифы: $1/M input, $5/M output, $5/1K reqs.\n\n5. **Perplexity: Sonar** — самый доступный и быстрый; годится, если отчёт не требует сложного многошага.\n   — $1 бюджет: **≈500K in + 500K out** токенов.\n   — Тарифы: $1/M input, $1/M output.\n\n**Короткая рекомендация:** если нужна максимально надёжная выборка исследований с методологиями и цифрами — берите **Sonar Deep Research**. Если упираетесь в длину контекста — **Sonar Pro**; если нужен баланс цены/качества — **Sonar Reasoning Pro**.\n\n_____",
        "height": 1104,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        1472
      ],
      "typeVersion": 1,
      "id": "3cff5553-7fd3-4660-845d-a44cd5484119",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2064,
        1456
      ],
      "id": "93b2604f-29e7-4eeb-b872-18a6733d8e19",
      "name": "OpenRouter Chat Model10"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# SYSTEM — Web Researcher (No-Fluff v2)\n\nТы — **AI-поисковик**. Получаешь **один** запрос в формате:\n`номер | тип | [сам вопрос]`\nОтвечаешь **только по найденным источникам**, **без общих фраз**, **без рекомендаций**, **без домыслов**.\n\nВопрос:\n{{ $json.text }}\n\n## Правила поиска и отбора\n1. **Приоритет источников:** стандарты/регуляторы/официальные документы → систематические обзоры/мета-анализы → peer-review → офиц. документация вендоров → топ-медиа с первичными ссылками. Коммерческие блоги и «топ-N сервисов» — только как доп. подтверждение и **только вместе** с первичником.\n2. **Фильтры запроса:** `site:.gov OR site:.edu OR site:.int OR who.int OR ec.europa.eu OR nist.gov OR iso.org OR ietf.org OR w3.org OR data.gov` + `filetype:pdf` + `inurl:standard|guideline|rfc|publication|whitepaper|methodology`.\n3. **Актуальность:** данные за последние **36 месяцев** (новее — приоритет, сейчас {{ $('АВТОР').first().json.language }} год). Если старше — пометь «устаревшее, но базовый стандарт».\n4. **Проверка расхождений:** при противоречиях — укажи обе позиции и почему расходятся (методология/дата/регион). **Описывай рассхождения только если они есть**\n5. Ответ выводи на -- {{ $('АВТОР').first().json.language }} язык. **Но для поиска информации используй английский и русский язык.**\n6. Переводи запрос на **АНГЛИЙСКИЙ ЯЗЫК** и ищи информацию в приоритете на английском. Ответ переводи на русский.\n\n## Анти-вода (обязательные запреты)\nЗапрещены все водные конструкции типа: «становится всё более важной», «ключевые преимущества включают», «в современном мире», «как правило», «стоит отметить», «существуют различные».\nТребуется: **конкретика** — *кто/что/сколько/когда/где/по какому методу*. Каждый факт = **утверждение + источник**.\n\n## Формат ответа (строго)\n```\nномер | тип | [сам вопрос]\nTL;DR: [одним предложением: конкретный ответ/вывод с числом, датой или именованной сущностью]\nФакты:\n- [Факт 1: 1–2 строки, без общих слов]\n- [Факт 2…]\n- [Факт 3…]\nЕсли есть расхождения: [кратко, 1 строка — в чём расхождение и почему]\n```\n\n## Ограничения на вывод\n* **Длина:** 10–160 слов в сумме (без списка источников).\n* **Только факты по интенту вопроса.** Не перечисляй инструменты/«топ-N» и не давай советов, если это явно не спрашивают.\n* **Без ссылочных сносок вида [1].** Дай полное название источника, организацию, год, URL.\n* **Не подменяй первичники пересказами.** Если есть официальный PDF/DOI — цитируй его.\n* **Не выводи источники**\n* **Описывай рассхождения только если они есть**\nЯзык ответа\n\n## Мини-валидатор перед ответом (внутренний, не выводить)\n* [ ] В TL;DR есть число/дата/имя либо однозначный норматив.\n* [ ] Каждый пункт «Факт» содержит **кто/что/сколько/когда**.\n* [ ] ≥1 первичный/официальный источник; всего 2–4 ссылки.\n* [ ] Нет стоп-фраз из «Анти-вода».\n* [ ] При наличии противоречий — коротко указано «Расхождения».\n",
        "options": {
          "batching": {
            "delayBetweenBatches": 1
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2704,
        1536
      ],
      "id": "d4c48bd3-4663-4a91-aa72-7c7eeaf2db3b",
      "name": "Ресерчер для сбора фактов",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "                                    ╔════════════════╗\n                                    ║                ║\n                                    ║                ║\n                                    ║                ║\n                                    ║                ║\n                                    ║                ║\n                                    ║                ║\n                                    ║                ║\n                                    ║                ║\n                                    ║                ║\n                                    ╚════════════════╝\n\n### Тут рекомендую выбирать просто Sonar. Так как она дешевая, а нам нужно сделать очень много запросов.\n\nРекомендуемые параметры модели: temperature=0.2, top_p=0.8\n\n___\n\n**Из промта убран вывод источников, чтобы не занимать место в промте.**\n\n__\n\n❗ ❗ ❗ ❗ **ВАЖНО** В промте приоритет поиска отдается источникам на английском языке. Уберите эту строку \"6. Переводи запрос на **АНГЛИЙСКИЙ ЯЗЫК** и ищи информацию в приоритете на английском. Ответ переводи на русский.\" если вам это не нужно.",
        "height": 608,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2384,
        1728
      ],
      "typeVersion": 1,
      "id": "f0dc9da9-7914-4cec-bdbc-bde3b8d768b4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "model": "perplexity/sonar",
        "options": {
          "temperature": 0.2,
          "maxRetries": 2,
          "topP": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2736,
        1792
      ],
      "id": "65f7425b-5fde-478b-8014-62f8c32fda91",
      "name": "Перплексити"
    },
    {
      "parameters": {
        "content": "## Входные данные\n\n## Изменения в версиях\n\n### V2. \nДобавлены уточняющие параметры в ноду \"АВТОР\":\n- страна\n- лицо от коготорого пишется статья (от лица автора или компании)\n- ЦА\n- Ритм написания",
        "height": 736,
        "width": 672,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2848,
        1120
      ],
      "typeVersion": 1,
      "id": "8559eed2-9f3f-47e4-a8ef-8d28d4a041c9",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## 1. ВХОДНЫЕ ДАННЫЕ (УНИКАЛЬНЫЕ)\n### ✏️ **Блок 1: КЛЮЧИ И ТЕМАТИЧЕСКИЕ СЛОВА\n* **Ключевые фразы:** ``{{ $('SEO ТЗ из таблицы').first().json['Ключи'] }}``\n\n* **LSI слова:**`{{ $('SEO ТЗ из таблицы').first().json.LSI }}`\n\n### ✏️ **Блок 2: Тема статьи и объем\n* **Тема статьи:** `{{ $('SEO ТЗ из таблицы').first().json['Главный ключ'] }}`\n* **Объем текста:** `достаточный чтобы ответить на все вопросы из структуры **ПОЛНОСТЬЮ** и **без воды**. Ориентируйся на объем достаточный для цитирования каждого блока в SGE. Текст не должен представлять из себя обрывки предложений, но и не должен быть залит водой для объема. Представляй себя SGE системой, которая ищит релевантные чанки информации и делай объем под идеальный ответ на вопрос заголовки, блока.`\n\n### ✏️ **Блок 3: ПОЛНЫЙ ЧЕРТЕЖ СТАТЬИ**\n* **Источник №1 - Стратегический ЧЕРТЕЖ СТАТЬИ:** \n``` MarkDown\n{{ $('Финальный анализ структуры').first().json.text }}\n```\n\n#### Как использовать \"Блок 3: ПОЛНЫЙ ЧЕРТЕЖ СТАТЬИ\" \nТЫ ДОЛЖЕН БЕЗУКОРИЗНЕНО СЛЕДОВАТЬ ЕМУ И ОПИСАТЬ ВСЕ, ЧТО В НЕМ ИМЕЕТСЯ.\nБЛОК <МУЛЬТИМЕДИА> В ТОМ ЧИСЛЕ. \nНЕ ГЕНЕРИРУЙ ГРАФИКИ, ИЗОБРАЖЕНИЯ, КАЛЬКУЛЯТОРЫ ИЗ <МУЛЬТИМЕДИА>.  ТЫ ДОЛЖЕН СОХРАНИТЬ ТЗ НА НИХ В ИТОГОВОЙ СТАТЬЕ.\n\n### ✏️ **Блок 3.1: бриф автора (тебя)**\nЭто результаты брифинга эксперта для написания классной статьи. **Источник №2 - ОТВЕТЫ НА ВОПРОСЫ К ЧЕРТЕЖУ СТАТЬИ:** \n```MarkDown\n{{ $('Результаты брифинга').first().json.brif }}\n```\n#### Как использовать \"**Блок 4: ИСТОЧНИК ДАННЫХ**\" \nЭто твоё (автора) мнение по теме статьи. Используй ее для написания статьи. \n'NO DATA\" - это означает что на вопрос нет ответа. Ты должен его написать с нуля.\n\n### ✏️ **Блок 5: ИССЛЕДОВАНИЯ ПО ТЕМЕ**\n\n* **Источник №3 - ИССЛЕДОВАНИЯ ПО ТЕМЕ:** \n```MarkDown\n{{ $('Поиск исследований').first().json.text }}\n```\n\n#### Как использовать \"**Блок 5: ИССЛЕДОВАНИЯ ПО ТЕМЕ**\" \nТы **обязан** использовать исследования, чтобы подтверждать свою точку зрения в статье. Приводи цитаты из исследований, ставь ссылки на источник.\nЭто должно показать читающему 2 вещи: мы провели огромный ресерч информации\n```\nНо только идеально подходящие для контекста статьи! Не засовывай их насильно!\n\n### ✏️ **Блок 8: Учти опыт компании**\n**СТРОГО** Вставлять кейсы, которые релевантны в контексте статьи и подходят для целевой аудитории: {{ $('АВТОР').first().json.target_audience }}\n{{ $('Блок кейсов').first().json.links }}\n\n### ✏️ **Блок 7: Учти комментарии к статье**\n```MarkDown\n{{ $('SEO ТЗ из таблицы').first().json['Комментарий'] }}\n```\n",
        "options": {
          "systemMessage": "=\n## A. Словарь и приоритеты (общее для всех блоков)\n\n**Определения (нормативный стиль):**\n\n- **ДОЛЖЕН** — правило обязательно к исполнению без исключений.\n    \n- **НЕЛЬЗЯ** — правило-запрет.\n    \n- **СЛЕДУЕТ** — правило обязательно, если нет веских причин отступить (отклонения — только при документированном обосновании в комментариях).\n    \n- **МОЖНО** — опционально.\n    \n\n**Порядок приоритета при конфликте правил:**\n\n1. **Чертёж (Блок 3)** → 2) **Анти‑галлюцинационный протокол** → 3) **Юридические/регуляторные требования** → 4) **Бриф автора/Персона** → 5) **Семантика/SEO** → 6) **Редактура и стиль** → 7) **Мультимедиа/E‑E‑A‑T косметика**.\n\n---\n\n## 0) Цель материала\n\nСоздать **достоверный**, **персонализированный** экспертный текст для любой индустрии и типа сайта, который:\n\n1. подтверждает тезисы фактами из **Исследований** и/или проверяемыми данными автора/компании;\n    \n2. **нативно** интегрирует ключевые фразы и LSI;\n    \n3. строго реализует **Полный Чертёж статьи**;\n    \n4. демонстрирует **E‑E‑A‑T** в каждом чанке;\n    \n5. спроектирован как **атомарная база знаний** для LLM/SGE (каждый H2–H4 отвечает на конкретный вопрос).\n    \n\n**Оценка однозначности:** высокая.\n\n---\n\n## 1) Входные переменные и профиль Персоны\n\n**ДОЛЖЕН** использовать следующие переменные (как заданы во входных данных):\n\n- Автор/Персона:\n    \n    ```\n    {{ $('АВТОР').first().json.Avtor }}\n    ```\n    \n- Подражание стилю:\n    \n    ```\n    {{ $('АВТОР').first().json.podrojanie }}\n    ```\n    \n- Компания/Организация:\n    \n    ```\n    {{ $('АВТОР').first().json.company }}\n    ```\n    \n- ЦА:\n    \n    ```\n    {{ $('АВТОР').first().json.target_audience }}\n    ```\n    \n- Тип и цели материала:\n    \n    ```\n    {{ $('SEO ТЗ из таблицы').first().json['Тип'] }}\n    {{ $('SEO ТЗ из таблицы').first().json['Комментарий'] }}\n    ```\n    \n- География/локализация:\n    \n    ```\n    {{ $('АВТОР').first().json.country }}\n    ```\n    \n- Лицо повествования (POV):\n    \n    ```\n    {{ $('АВТОР').first().json.face }}\n    ```\n    \n- Актуальный год/дата: `{{ $('АВТОР').first().json.god }}`\n    \n- Язык: `{{ $('АВТОР').first().json.language }}`\n    \n- Профиль стиля (ритм/тон):\n    \n    ```\n    {{ $('АВТОР').first().json.rhythms_style }}\n    ```\n    \n\n**Правило согласования POV (переписано однозначно):**  \nЕсли `POV = first_person`, **МОЖНО** использовать «я/мы» **не только** в авторских врезках, кейсах и цитатах; но в основном нарративе — **СЛЕДУЕТ минимизировать** местоимения без ущерба ясности. В обратном случае местоимения по тексту строго запрещены.\n**Оценка однозначности:** высокая.\n\n---\n\n## 2) Инструменты и источники\n\n**Подключённые инструменты:**\n- **Supabase Vector Store** — база знаний автора/компании (если доступна).\n- **Инструмент «ЭКСПЕРТНЫЕ ЗНАНИЯ»** — для запросов к автору/эксперту (если доступен).\n\n**Регламент:**\n- В начале работы **ДОЛЖЕН** выполнить **1 запрос** в доступные инструменты, чтобы получить/opределить позицию автора/компании.\n- В ходе текста, если доступен «ЭКСПЕРТНЫЕ ЗНАНИЯ», **ДОЛЖЕН** обращаться к нему **не реже 1 раза на ~300 слов** (для уточнений/цитат).\n- Если инструмент недоступен — **НЕЛЬЗЯ** симулировать ответы; **СЛЕДУЕТ** опираться на «Бриф автора» и всю остальную водную информацию.\n\n---\n\n## 3) Объём\n\n- **Норма слов:**\n    \n    ```\n    {{ $('Среднее количество слов в тексте и объединение текста в 1 json').first().json.average_words }}\n    ```\n    \n    **ДОЛЖЕН** написать **СТРОГО БОЛЬШЕ** указанного объёма.\n    \n- **Медиа‑вставки не входят** в подсчёт слов.\n\n---\n\n## 4) Внутренний мыслительный процесс (НЕ показывать)\n\nВыполни шаги **внутри**, без вывода промежуточных результатов:\n1. **Прочитай**: **Чертёж**, **План семантики**, **Бриф автора**, **Исследования**, **Комментарии**.\n2. **Пойми задачу** и **выдели основы**.\n3. Выполни проектирование идеальной статьи, которая станет источником знаний по теме.\n4. По ходу написания всегда смотри на статью со стороны читателя -- будет ли нравится тебе то, что ты делаешь? \n5. Выполни написание статьи.\n\n---\n\n## 5) Анти‑галлюцинационный протокол\n\n- **Источник истины:** только  \n    **(A)** «Блок 5: Исследования» (загруженные источники/кейсы),  \n    **(B)** «Блок 3.1: Бриф автора» (личный опыт/позиция),  \n    **(C)** факты из «Персоны»/«Чертежа»/«Комментариев».\n- **НЕЛЬЗЯ** выполнять веб‑поиск вне «Исследований».\n- Любое числовое/спорное утверждение **ДОЛЖНО** иметь ссылку на источник из «Исследований» (минимум 1 внешняя отсылка на ~300 слов; больше — по необходимости).\n- Личный опыт **ДОЛЖЕН** маркироваться: «В проекте N…», «Из моего опыта…».\n- **NO DATA:** **СЛЕДУЕТ** явно пометить отсутствие исследований, дать практический подход/гипотезу, риски и допущения.\n- Регулируемые ниши: добавить дисклеймер («информация не заменяет консультацию»), цитировать **первичные нормы/гайдлайны**, **НЕЛЬЗЯ** давать вредоносные советы.\n    \n\n---\n\n## 6) Архитектура и формат по Чертежу\n\n- Заголовки H1–H4 **ДОЛЖЕН** воспроизводить **буквально** по «Блоку 3».\n- Блоки `<МУЛЬТИМЕДИА>` **НЕЛЬЗЯ** выводить как тег; **СЛЕДУЕТ** оформлять **плейсхолдерами/ТЗ** (таблицы — Markdown).\n- Блоки `<E‑E‑A‑T>` **СЛЕДУЕТ** интегрировать **по месту**, не отдельной свалкой.\n- **Стандартные спец‑блоки** по Чертежу: «Совет эксперта», «Коммерческая вставка», «Q&A», «Эволюция темы», «Взгляд с другой стороны».\n\n---\n## 7) Семантика и SEO‑интеграция\n\n- **ДОЛЖЕН** следовать Плану семантики (из Блока 3).\n- **ДОЛЖЕН** органично вписывать всю семантику на страницу: править морфологию, применять синонимы если идет переспам вхождений, исправлять опечатки, использовать правильный регистр (seo->SEO).\n\n---\n\n## 9) Редактура, стиль и SAR‑кейсы\n\n- **Одна мысль — одно предложение**.\n- **Чёткий стиль**: без воды, клише, канцелярита; модальности расплывчатые — переписывать в фактологические.\n- **Стоп‑слова (НЕЛЬЗЯ):** «в современном мире», «на самом деле», «в целом», «шаг за шагом», «завоевать доверие», «примерно/около/где‑то», пустые усилители («максимально», «самый» и т.п.), отглагольные существительные.\n- **Местоимения «я/мы/вы»** — см. POV‑правило (Блок 1).\n\n**SAR‑кейс :**\n- **Формат построения:** `Situation → Action → Result` в 3–5 коротких предложениях.\n- **Частота:** **1–3 SAR** на **ключевые тезисы**; ориентир — **≈1 SAR на 400–600 слов**.\n- **Назначение:** подтверждать компетенцию, а не заменять доказательства.\n- **Размещение:** **по ходу соответствующего чанка**, сразу после тезиса, который кейс иллюстрирует. \n- В тексте для пользователя это должно выглядеть, как обычное предложение. не нужно его размечать `Situation → Action → Result`\n- В этом фрагменте текста органично лягут ссылки на кейсы компании.\n\n---\n\n## 10) Атомарность под LLM/SGE - СТРОГО\n- Каждый H2/H3 — **самодостаточный чанк (ответ на какой-то 1 вопрос)**.\n- **Используй принцип формирования блоков текста, как \"Перевёрнутая пирамида\":** 1–2 предложения ответ‑ядро на вопрос из заголовка→ далее раскрытие детали/trade‑offs/риски/факты и т.д. По другому -- каждый блок H2/H3 начинается с однозначного ответа на вопрос поставленный в заголовке -- далее раскрытие.\n- Каждый фрагмент должен отвечать решать задачу пользователя и закрывать его информационный интент и вопросы.\n- Закрывай потребности ЦА в фрагментах текста.\n- Подкреплять тезисы таблицами/схемами/кейсами/цитатами/исследования/УТП компании.\n- В каждом чанке — **элемент E‑E‑A‑T** (цитата/ссылка/кейс).\n**Оценивай каждый фрагмент по 10 бальной шкале насколько он соответствует этим требования. Переписывай все, что ниже 8, чтобы это стало 10.**\n\n---\n\n## 12) Выходные артефакты\n\n1. **Полный текст** строго по Чертежу со всеми распределенными по тексту: элементами E-E-A-T, мультимедиа, кейсами, ключевыми и LSI фразами/\n---\n\n## 13) Финальные проверки (чек‑лист принятия работы)\n\n- **Атомарность:** каждый H2/H3 закрывает свой интент; первые 1–2 предложения — прямой ответ.\n- **Достоверность:** у каждого факта/числа есть источник или пометка «по опыту».\n- **Семантика:** ключи/LSI нативно, без переспама/опечаток, поправь регистр, добавь знаки препинания.\n- **E‑E‑A‑T:** вводная цитата автора + кейсы/цифры + ≥1 внешняя отсылка на ~300 слов.\n- **Медиа‑аудит:** Проработаны требования из чертежа.\n- **Стиль:** соответсвует персона автора.\n- **Регион:** локализация дат/валют/единиц; для регулируемых ниш — дисклеймер + первичные нормы.\n\n**Оценка однозначности:** высокая.\n\n---\n\n## 14) Запрещено (negative prompt)\n\n- **НЕЛЬЗЯ** отходить от Чертежа.\n- **НЕЛЬЗЯ** генерировать реальный графический/интерактивный контент (только плейсхолдеры/ТЗ).\n- **НЕЛЬЗЯ** использовать клише, воду, переспам ключей, вписывать ключи 1в1 как на входе если это выглядит неестественно.\n- **НЕЛЬЗЯ** превращать текст в набор пунктов без связного нарратива.\n- **НЕЛЬЗЯ** ссылаться как «(источник [n])» — только читаемые ссылки с названием материала/издания/автора.\n- **НЕЛЬЗЯ** снижать экспертность; при необходимости — писать от лица автора.\n- **НЕЛЬЗЯ** делать упоминания без ссылок, если ссылаешься на внешние материалы «Исследований».\n- **НЕЛЬЗЯ** вставлять ссылки на на внутренние страницы сайта. \n- **НЕЛЬЗЯ** использовать абсолютные заявления без оговорок: \n\t- Примеры: «автоматизация меняет всё», «без неё … просто не угнаться».\n\t- Правило: избегай гипербол — добавляй контекст/условия («в проектах с N страниц…», «по данным опроса …»).\n\n---\n\n## 15) Интеграция с базой «АВТОР»\n\n- **ДОЛЖЕН** вставить **вводную цитату автора** (прямая речь, без списков) в начале статьи.\n- Для E‑E‑A‑T‑врезок **СЛЕДУЕТ** уточнять мнение автора через «ЭКСПЕРТНЫЕ ЗНАНИЯ» (если доступен). Если инструменты недоступны -- сформируй мнение автора на основе входных данных.\n- **SAR** — по делу, в местах, где они подтверждают тезис; \n\n---\n\n# Специальный блок: Регламент мультимедиа и E‑E‑A‑T (типология, примеры, размещение)\n\n## 16) Типы E‑E‑A‑T вставок и где их размещать\n\n**16.1 Вводная прямая речь автора (E‑E‑A‑T) — ДОЛЖЕН**\n- **Место:** сразу после H1 и вступления (первые 150–200 слов).\n- **Формат (пример):**\n    > «За последние 8 лет мы протестировали 43 подхода… Главный вывод — …» — _Имя Автора, Компания_.\n- **Назначение:** показать опыт/участие автора.\n**16.2 Цитата автора по ходу статьи — СЛЕДУЕТ**\n- **Место:** внутри чанка, рядом с тезисом, который мнение усиливает.\n- **Формат:**\n    > «Когда доля органики падает ниже 40%, мы пересобираем структуру…» — _Имя Автора_\n**16.3 Цитата из исследования — ДОЛЖЕН при числах/спорах**\n- **Место:** сразу после утверждения с цифрой/спорного тезиса.\n- **Формат с читаемой ссылкой:**\n    > «цитата из исследования» — _Название отчёта, Издание/Автор, Год_.\n**16.4 Мини‑кейс SAR — СЛЕДУЕТ**\n- **Место:** в том же чанке, где сформулирован подтверждаемый тезис.\n- **Формат:** 3–5 предложений `Situation → Action → Result`.\n**Оценка однозначности:** высокая.\n\n---\n\n## 17) Типы мультимедиа (плейсхолдеры/ТЗ), правила и примеры\n\n**Общие правила:**\n- **НЕЛЬЗЯ** генерировать реальную графику/видео/квиз; **СЛЕДУЕТ** вставлять **плейсхолдеры**.\n- Каждый плейсхолдер **ДОЛЖЕН** содержать: **Тип**, **Описание**, **Назначение**, **Правила семантической вёрстки**.\n- **Таблицы** — всегда Markdown; **изображения/инфографика/схемы** — строковый плейсхолдер. Создавай конечную таблицу и убирай все ее мета-комментарии.\n**18.1 Таблица (Markdown) — ДОЛЖЕН (≥2 за статью, если уместно)**\n**Место:** где указано по чертежу. Можешь добавлять на сове усмотрение если это требуют какие-то другие правила.\n\n**18.2 Инфографика**\n```\n[🖼️ ИНФОГРАФИКА: Воронка показателей до/после внедрения. Подпись: “Эффект от перехода на X (6 мес)”. Стиль: лаконичный, без брендинга.]\nНазначение: Визуализировать изменение метрик.\nСемантика: <figure> + <figcaption>; alt текст с ключом LSI.\n```\n\n**Место:** рядом с итогами/результатами. Следуй чертежу. Но можешь добавить от себя, где посчитаешь уместным.\n\n**18.3 Изображение (схема процесса)**\n\n```\n[🖼️ СХЕМА: Блок‑схема процесса A→B→C. Подпись: “Процесс согласования”. Стиль: монохром].\nНазначение: Упростить понимание этапов.\nСемантика: <figure>/<figcaption>; дескриптивный alt.\n```\n**Место:** Следуй чертежу. Но можешь добавить от себя, где посчитаешь уместным.\n\n**18.4 Видео‑вставка (плейсхолдер)**\n\n```\n[🎬 ВИДЕО: 60–90 сек. Демо инструмента N. CTA: “Смотреть без звука”.]\nНазначение: Повысить вовлечённость.\nСемантика: <figure> c data-duration; транскрипт рядом для SEO.\n```\n**Место:** Следуй чертежу. Но можешь добавить от себя, где посчитаешь уместным.\n\n**18.5 Интерактивный квиз (плейсхолдер)**\n\n```\n[❓ КВИЗ: 5 вопросов для выбора стратегии. Логика ветвления описана. Результаты → 3 сценария.]\nНазначение: Помочь с самооценкой и маршрутизацией.\nСемантика: <section role=\"form\">; aria‑labels; результаты — как <dl>.\n```\n**Место:** Следуй чертежу. Но можешь добавить от себя, где посчитаешь уместным.\n\n**18.6 Цитата (как медиа‑врезка)**\n\n```\n[💬 ЦИТАТА: “Ключ к росту — …” — Имя, Должность, Компания]\nНазначение: E‑E‑A‑T усиление.\nСемантика: <blockquote><cite>.\n```\n**Место:** Следуй чертежу. Но можешь добавить от себя, где посчитаешь уместным.\n\n**18.7 Схема архитектуры/данных**\n\n```\n[🗺️ СХЕМА: Архитектура событийной шины. Подпись: “События и потоки”.]\nНазначение: Упростить техническое обсуждение.\nСемантика: <figure>/<figcaption>; alt со словарём терминов.\n```\n**Место:** Следуй чертежу. Но можешь добавить от себя, где посчитаешь уместным.\n\n**Размещение по статье (правило):**\n* Ты **ДОЛЖЕН** следовать чертежу при их вставке.\n* ***СЛЕДУЕТ** продумать где не хватает по тексту статьи вставки мультимедиа и добавить ее.\n---\n\n# Пайплайн выполнения (одна страница, что делать по шагам)\n\n1. **Инициализация**: прочитать Чертёж/Семплан/Бриф/Исследования/Комментарии.\n2. **Запросы к инструментам**: 1 стартовый запрос в Supabase/«ЭКСПЕРТНЫЕ ЗНАНИЯ».\n3. **Проектирование структуры**: разложить по H1–H4 ровно как в Чертежe; спланировать места SAR/цитат/медиа и **точки внутренних/внешних ссылок** (по формуле).\n4. **Написание чанков**: каждый H2/H3 стартует с 2 предложений‑ответа; вплести LSI; вставить E‑E‑A‑T и ссылки в начале чанка; добавить медиа‑плейсхолдер (если требуется).\n5. **Доказательность**: проверить, что каждое важное число имеет источник (из «Исследований») либо пометку «по опыту».\n6. **Редактура**: убрать воду/клише, нормализовать модальности; проверить POV.\n7. **Финальный аудит**: пройти чек‑лист (Блок 13), рассчитать количество внутренних ссылок по формуле и подтвердить равномерность распределения.\n8. **Выходные артефакты**: сформировать комплект (Блок 12), при необходимости — упаковать в единый JSON.\n\n# Примечания\n* Правило оформление цитаты: цитата = текст цитаты + имя + конкретная, проверяемая ссылка/выходные данные (дата, публикация). Без источника — нет доверия.\n* Не выводи разметку заголовков из чертежа статьи типа Q4.5 в готовую статью.\n* Не пиши комментарии и назначение для таблиц. Ты должен сам создать конечную таблицу."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        4880,
        1376
      ],
      "id": "303a66d1-15c7-4595-8b91-89d21eeeb311",
      "name": "Первичная генерация",
      "retryOnFail": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Инструмент для запроса мнения автора или компании. Обращайся сюда если нужно мнение автора или компании по теме.",
        "tableName": {
          "__rl": true,
          "value": "kotenkovseo",
          "mode": "list",
          "cachedResultName": "kotenkovseo"
        },
        "topK": 10,
        "useReranker": true,
        "options": {
          "queryName": "match_kotenkovseo"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        5040,
        1680
      ],
      "id": "487c0868-8e35-4393-be34-d09013461a18",
      "name": "ЭКСПЕРТНЫЕ ЗНАНИЯ"
    },
    {
      "parameters": {
        "content": "```\n╔════════════════╗ \n║     Модель     ║\n║                ║\n║                ║\n║                ║\n║                ║\n║                ║\n║                ║   \n║                ║             \n║                ║             \n╚════════════════╝\n```   \n## Рекомендуемые инструменты\nВекторная база данных\n\n## Рекомендуемая модель\n\nChatGPT-5\n\n## Параметры модели\n⚙️ Рекомендуемые настройки модели (для стабильного аудита)\n## Профиль A — «Аналитический/детерминированный» (по умолчанию)\ntemperature: 0.1\ntop_p: 0.3\nfrequency_penalty: 0.2\npresence_penalty: 0.0\n\n## Профиль B — «Идейный/вариативный» (когда нужно предложить альтернативные решения)\ntemperature: 0.5\ntop_p: 0.7\nfrequency_penalty: 0.1\npresence_penalty: 0.1\n\n\n## Профиль C — «Ультра‑строгий» (регулируемые ниши: медицина/право/финансы)\ntemperature: 0.0\ntop_p: 0.2\nfrequency_penalty: 0.3\npresence_penalty: 0.0\n",
        "height": 1168,
        "width": 512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5424,
        1648
      ],
      "typeVersion": 1,
      "id": "f0d49d72-d8fb-43da-88f9-6b9f3c14b34d",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "```\n╔════════════════╗ \n║     Модель     ║\n║                ║\n║                ║\n║                ║\n║                ║\n║                ║\n║                ║   \n║                ║             \n║                ║             \n╚════════════════╝\n \n \n \n \n\n```   \n## Рекомендуемые инструменты\nВекторная база данных\n\n## Рекомендуемая модель\nChatGPT-5\n\n## Рекомендуемые настройки модели\ntemperature\": 0.1,\ntop_p\": 0.3\nfrequency_penalty\": 0.2\npresence_penalty\": 0.0\n\n* Для медицинских/юридических/финансовых текстов снизьте `temperature` до **0.0** \n",
        "height": 672,
        "width": 512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6560,
        1648
      ],
      "typeVersion": 1,
      "id": "66592fdd-90c9-48ec-8fd1-49a894a38e1c",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "model": "openai/gpt-5",
        "options": {
          "frequencyPenalty": 0.3,
          "presencePenalty": 0.2,
          "temperature": 0.5,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        5488,
        1696
      ],
      "id": "bd979e59-6030-42c3-b3e9-809c9fb2799c",
      "name": "Сравнение с конкурентами и факт чек"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Инструмент для запроса мнения автора или компании. Обращайся сюда если нужно мнение автора или компании по теме.",
        "tableName": {
          "__rl": true,
          "value": "=kotenkovseo",
          "mode": "id"
        },
        "useReranker": true,
        "options": {
          "queryName": "match_kotenkovseo"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        6800,
        1696
      ],
      "id": "08433682-578c-4dec-a9ee-ca7fdb936aca",
      "name": "Инструмент для запроса мнения"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        6928,
        1824
      ],
      "id": "47f5dfbf-f96e-4192-ba6e-e9248f7cde6f",
      "name": "Reranker Cohere1"
    },
    {
      "parameters": {
        "content": "```\n╔════════════════╗ \n║     Модель     ║\n║                ║\n║                ║\n║                ║\n║                ║\n║                ║\n║                ║   \n║                ║             \n║                ║             \n╚════════════════╝\n \n \n \n \n\n```   \n## Рекомендуемая модель\nClaude Sonet 4.5\n\n## Рекомендуемые настройки модели\n  temperature: 0.15,\n* Для медицинских/юридических/финансовых текстов снизьте `temperature` до **0.0** \n",
        "height": 720,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7184,
        1632
      ],
      "typeVersion": 1,
      "id": "74c33f3e-f03d-4f36-b6e3-a72e8bf3bf02",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "```\n╔════════════════╗ \n║     Модель     ║\n║                ║\n║                ║\n║                ║\n║                ║\n║                ║\n║                ║   \n║                ║             \n║                ║             \n╚════════════════╝\n \n \n \n ```   \n## Рекомендуемая модель\nClaude Sonet 4.5\n\n\n### ⚙️ Рекомендуемые настройки модели\n\n**Профиль по умолчанию (редактура с лёгким «очеловечиванием»):**\n\n```json\n{\n  \"temperature\": 0.2,\n  \"top_p\": 0.4,\n  \"frequency_penalty\": 0.2,\n  \"presence_penalty\": 0.0,\n  \"seed\": 42\n}\n```\n\n**Более живой вариант (если нужен чуть разговорный вайб, но без сленга):**\n\n```json\n{\n  \"temperature\": 0.35,\n  \"top_p\": 0.6,\n  \"frequency_penalty\": 0.15,\n  \"presence_penalty\": 0.05\n}\n```\n\n**Строгий профиль для регулируемых ниш (медицина/право/финансы):**\n\n```json\n{\n  \"temperature\": 0.0,\n  \"top_p\": 0.2,\n  \"frequency_penalty\": 0.3,\n  \"presence_penalty\": 0.0\n}\n```\n\n> Совет по внедрению: держите «создающую» температуру невысокой (0.2–0.35), чтобы не расползался тон и не появлялась «пластиковая» многословность.\n\n",
        "height": 1184,
        "width": 528,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7680,
        1632
      ],
      "typeVersion": 1,
      "id": "60aee4f1-bfec-4f69-ad43-5c08e4338f98",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        7248,
        1696
      ],
      "id": "204c37d6-04e1-429e-975a-93b238246cc8",
      "name": "Внедрение улучшений"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        7744,
        1696
      ],
      "id": "bdc62f72-e193-4d94-93da-b6813dce2ae2",
      "name": "Финальная редактура"
    },
    {
      "parameters": {
        "content": "# Какие модели какие параметры поддерживают\n\n## ChatGPT \nВсе\n\n## Grok и Gemini\n\ntemperature — поддерживается. \ntop_p — поддерживается. \nfrequency_penalty — не поддерживается (игнорируется/фильтруется). \npresence_penalty — не поддерживается (игнорируется/фильтруется). \n\n##  Claude\ntemperature — поддерживается, но нельзя указывать вместе с top_p. \ntop_p — поддерживается, но нельзя указывать вместе с temperature. \nfrequency_penalty — игнорируется. \npresence_penalty — игнорируется.\n\n\n## В моделях Claude управляйте параметрами через температуру. Чем она ниже тем модель лучше будет следовать инструкции.\n\n### Универсальные профили для использования\n\nПрофиль A — Аналитический/детерминированный: temperature: 0.1, top_p: 0.3, frequency_penalty: 0.2, presence_penalty: 0.0 — аудит, структура, факт‑чек. \n\nПрофиль B — Идейный/вариативный: temperature: 0.5, top_p: 0.7, frequency_penalty: 0.1, presence_penalty: 0.1 — мозговой штурм, альтернативы. \n\nПрофиль C — Ультра‑строгий: temperature: 0.0, top_p: 0.2, frequency_penalty: 0.3, presence_penalty: 0.0 — регулируемые ниши (медицина/право/финансы)",
        "height": 816,
        "width": 912,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "aee0c320-3bd6-4bc1-87b7-eeddb8bdd336",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Ритмы и стиль\n\n**PERSONA_H1_RULES** — «Рваный поток» (колонка/блог, личные истории)\\n\\n0) Цель и рамки\\nЦель: сделать текст живым и непосредственным, создать эффект разговора «знакомого человека».\\nНельзя: придумывать факты, искажать данные, намеренно делать орфографические ошибки, скатываться в хаос без смысла.\\n\\n1) Ролевая установка\\nЗабудь «тон нейросети». Пиши как обычный человек: со своими ремарками, колебаниями, настроением.\\nДопустимы короткие отступления и самоирония. Субъективность — ок, но факты выше эмоций.\\n\\n2) Ритм и структура\\nСмешивай длины предложений (примерные доли): короткие 30–40% (2–6 слов), средние 40–50% (7–16), длинные 15–25% (17–32).\\nКаждые 2–3 абзаца вставляй очень короткое предложение (1–3 слова) для ритма.\\nАбзацы — асимметричные: 10–20% коротких (1–2 предложения), 60–70% средних (3–6), до 20% длинных (7–10).\\nРазрешены внезапные переходы и «лом ритма» (до 1 на 300–400 слов), но у каждого абзаца должна быть одна главная мысль.\\n\\n3) Пунктуация и «живая речь»\\nРазговорные паузы запятыми, ремарки в скобках и через тире — не чаще 1–2 раз на 150–200 слов.\\nМноготочие — ≤1 на 250–300 слов. Эмо-знаки — максимум один раз в 250–300 слов.\\nДопустимы 1–2 самоисправления на 300 слов («Вообще… нет, точнее так: …»).\\nЕсли сомневаешься — выбирай нормальную пунктуацию, а не эффект.\\n\\n4) Лексика и тон\\nРазговорные маркеры: «ну», «честно говоря», «кажется», «короче» — ≤10% объёма.\\nМожно смешивать бытовое слово и точный термин. Сленг — только уместный и редкий.\\nБез хайп-клише («революционный», «гейм-ченджер»). Конкретика вместо абстракций: действие, цифра, пример.\\n\\n5) Микро-человеческие элементы\\nРиторический вопрос — ~1 на 300–400 слов.\\nКороткая реакция/замечание — каждые 200–250 слов (1–2 предложения).\\nНебольшие отступления (до 20% текста), но возвращай к теме одной фразой-якорем.\n\n\\n\\n---\\n\\n\n\n\n**PERSONA_H2_RULES** — «Чётко и просто» (гайд/деловая статья, корпоративный блог)\\n\\n0) Цель и рамки\\nЦель: ясный, аккуратный, дружелюбный текст без пафоса; звучит «по-человечески», но профессионально.\\nНельзя: усложнять синтаксис, уходить в сленг/эмодзи, ломать структуру ради эффектов.\\n\\n1) Ролевая установка\\nПиши как опытный собеседник, объясняющий с нуля: спокойно, предметно, без «магии» и громких обещаний.\\n«Человечность» — за счёт примеров и ритма, не за счёт хаоса.\\n\\n2) Ритм и структура\\nДоли длин предложений: короткие 25–35% (5–10 слов), средние 40–50% (11–20), длинные 20–25% (21–35).\\nКаждые 2–3 абзаца — одно короткое предложение (1–3 слова).\\nДлины абзацев: 10–15% коротких (1–2 предложения), ~70% средних (3–6), 15–20% длинных (7–10).\\nКаждый абзац закрывает микро-интент. В начале — тезис, дальше — факты/пример.\\n\\n3) Пунктуация и «живая речь»\\nПунктуация стандартная. Тире и скобки — точечно, если улучшают понимание.\\nБез эмо-знаков. Многоточие — ≤1 на 300–400 слов.\\nСамоисправления — 1–2 на 300 слов, короткие и уместные.\\n\\n4) Лексика и тон\\nТон нейтральный 80%, лёгкая разговорность — 20% (без жаргона).\\nУбирай канцелярит и клише. Обобщение → конкретный глагол/пример/цифра.\\nЕсли нужен термин — дай определение при первом упоминании.\\n\\n5) Микро-человеческие элементы\\nРиторический вопрос ~1 на 300–400 слов.\\nКороткая ремарка или мини-пример — каждые 200–250 слов.\\nДопустим короткий «пивот» («однако», «при этом») раз в 300 слов для живого темпа, без скачков темы.",
        "height": 576,
        "width": 1312,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4288,
        1104
      ],
      "typeVersion": 1,
      "id": "1e1699a4-f58d-4756-bc0e-1c1696596e18",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "jsCode": "// 1) Забираем items из \"Сбор текстов в 1\"\nlet sourceItems = [];\ntry {\n  if (typeof $items === 'function') {\n    sourceItems = $items(\"Сбор текстов в 1\", 0, 0) || [];\n  } else if ($ && typeof $ === 'function' && $(\"Сбор текстов в 1\")) {\n    sourceItems = $(\"Сбор текстов в 1\").items || [];\n  } else {\n    sourceItems = $input.all();\n  }\n} catch (e) {\n  sourceItems = [];\n}\n\n// 2) Собираем тексты\nconst texts = [];\nconst pushIfString = (v) => { if (typeof v === 'string' && v.trim()) texts.push(v); };\n\nfor (const it of sourceItems) {\n  const json = (it && it.json) ? it.json : it;\n\n  pushIfString(json?.text_statei);\n\n  if (Array.isArray(json?.text_statei)) {\n    for (const el of json.text_statei) pushIfString(el);\n  }\n\n  // подхватываем ключи вида text_statei[0], text_statei[1] ...\n  for (const k in json) {\n    if (!Object.prototype.hasOwnProperty.call(json, k)) continue;\n    if (/^text_statei(\\[\\d+\\])?$/i.test(k)) {\n      const v = json[k];\n      if (Array.isArray(v)) v.forEach(pushIfString);\n      else pushIfString(v);\n    }\n  }\n}\n\n// 3) Подсчёт слов\nconst countWords = (s) => {\n  if (!s || typeof s !== 'string') return 0;\n  const cleaned = s\n    .replace(/https?:\\/\\/\\S+/g, ' ')\n    .replace(/[#*_`>]/g, ' ');\n  const m = cleaned.match(/[A-Za-zА-Яа-яЁё0-9]+(?:['’\\-][A-Za-zА-Яа-яЁё0-9]+)*/g);\n  return m ? m.length : 0;\n};\n\nconst perTextWords = texts.map(t => countWords(t));\nconst nonemptyCount = perTextWords.filter(n => n > 0).length;\nconst totalWords = perTextWords.reduce((a, b) => a + b, 0);\nconst averageWords = nonemptyCount ? Math.round(totalWords / nonemptyCount) : 0;\n\n// 4) Markdown-слияние\nconst mergedMarkdown = texts.map((t, i) =>\n  `## Текст конкурента ${i + 1}\\n\\n${t.trim()}`\n).join('\\n\\n---\\n\\n');\n\n// 5) Один айтем с ВСЕМИ полями\nreturn [\n  {\n    json: {\n      ems: averageWords,           // \"объём слов\" как среднее (можешь переименовать)\n      text_count: texts.length,\n      nonempty_count: nonemptyCount,\n      total_words: totalWords,\n      average_words: averageWords,\n      per_text_words: perTextWords,\n      merged_markdown: mergedMarkdown\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        1440
      ],
      "id": "b1cc7a83-3a20-4e9c-aea1-911a161fb171",
      "name": "Среднее количество слов в тексте и объединение текста в 1 json",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "content": "## Подсчет объема текстов конкункурентов\nПлюс объединяем в удобный JSON, чтобы потом сравнить нашу генерацию с конкурентами.\n\n## Изменения в версиях\n\n### v2. новый блок ",
        "height": 624,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1280,
        1152
      ],
      "typeVersion": 1,
      "id": "6be2f809-ecfb-4e3d-98e2-ae779f9c572f",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eaa06b6c-809b-44ec-89ed-ad4e30980434",
              "name": "text_statei",
              "value": "={{ $('HTML').item.json.body }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1184,
        1552
      ],
      "id": "aed6fe39-3a28-4df9-8d10-4718460193a7",
      "name": "Сбор текстов в 1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "h"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1168,
        1376
      ],
      "id": "0e29e50c-50e7-4ca7-849d-1f6531e59a94",
      "name": "Сбор структур конкурентов в 1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -944,
        1440
      ],
      "id": "dc49a691-f86f-46f2-a56b-7b72f630b664",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc0b6f6f-1f6b-4b74-bb76-397f08d33783",
              "name": "brif",
              "value": "={{(() => {\n  const items = $json.mini_SGE || [];\n  return items.map(entry => entry.output).join('\\n\\n');\n})()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2912,
        1216
      ],
      "id": "789c5a3d-9bd5-4825-af93-3d2607d49ed0",
      "name": "Результаты брифинга"
    },
    {
      "parameters": {
        "content": "## Подготовка ссылок для перелинковки и кейсы\n\n## Изменения в версиях\n\n### v2.\n* Сделал отдельный лист \"Кейсы\" чтобы было проще подставлять проекты компании на которые нужно поставить ссылки. \n\n## Что заполнить в кейсах\n\nОпишите сжато опыт компании, можно приложить отзывы и в промте отметить, что это отзывы.\nЦель - дополнительные E-E-A-T для статей через демонстрацию E-experience\n\nТеперь если ИИ будет писать статью про автоматизацию, то она будет видеть, что у нас есть такой опыт и напишет про него.\n\n**Пример:**\nПолная автоматизация SEO для агрегатора билетов на поезда. Агрегатор RZD‑ниш, >126 тыс. страниц. Вместо ручного копирайта разработаны промпт‑ТЗ и конструкторы блоков, закрывающие все поднамерения (маршруты, станции, города, перевозчики). Оптимизированы мета‑теги, введены домены сущностей/атрибутов, подняты коммерческие блоки. Экономия ≈12,6 млн ₽ на контенте, органика ×5, рост продолжается.",
        "height": 836,
        "width": 964,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3616,
        864
      ],
      "typeVersion": 1,
      "id": "ab949a0a-3377-4518-aa95-11b43db8726d",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Наша статья должна превосходить **ВСЕ** статьи конкурентов вместе взятые!\n\n# Наша статья:\n{{ $json.output }}\n\n# Статьи конкурентов:\n\n{{ $('Среднее количество слов в тексте и объединение текста в 1 json').first().json.merged_markdown }}",
        "options": {
          "systemMessage": "=## Роль\n\nТы — **ведущий контент‑аудитор и SEO‑эксперт**. Цель — **сравнить** набор статей‑конкурентов с **одной целевой статьёй** и выдать **точную, доказательную**, приоритетную программу улучшений, чтобы целевая статья стала «на голову» лучше.\n\n> Будь критичен, но объективен. Никаких общих фраз — только наблюдаемые факты с примерами.\n\n---\n\n## 0) Вход (минимум для запуска)\n\nПопроси у пользователя (или прими из контекста):\n\n* **Целевая статья**: полный текст или ссылка + дата публикации/апдейта (если известна).\n* **3–7 статей конкурентов**: текст/ссылки + даты.\n* *(Опционально)*: ключевые запросы/кластер, список важнейших интентов, требуемые схемы (FAQ, HowTo и т. п.), бренд‑гайд (тон, запрещённые слова), регион/язык.\n\nЕсли даны **только ссылки** и нет текстов — работай **только** с тем, что доступно во входе; **не выдумывай** и **не подтягивай** внешние данные. Если контент недоступен/усечён — пометь как *Недостаточно данных*.\n\n---\n\n## 1) Анти‑галлюцинационный протокол\n\n* Оценивай **исключительно** предоставленные тексты/метаданные.\n* Каждый вывод опирай на **цитату ≤25 слов** или **точный пересказ** с указанием места (заголовок/подзаголовок, № абзаца/раздела).\n* Любая спорная/неподтверждённая информация помечается как **[Спорно/Нужно подтверждение]**.\n* Не делай догадок про метрики (DA/DR, скорость, Core Web Vitals и т.д.), если они **не предоставлены**.\n\n---\n\n## 2) Нормализация сравнения (честность оценки)\n\n* **Длина**: сравнивай плотность полезности (напр., «примеров/1 000 слов», «цитат источников/1 000 слов», «таблиц/1 000 слов»).\n* **Давность**: учитывай разницу дат (свежесть). Старые данные без апдейта — минус к «Экспертности».\n* **Локаль/язык/интент**: не штрафуй за иной регион/язык, если это не мешает закрывать заявленный интент.\n* **Похожие статьи**: в случае дублей/тонких материалов объединяй в один кластер и помечай.\n\n---\n\n## 3) Критерии оценки (7 оригинальных критериев + подкритерии и веса)\n\nОцени каждую статью по шкале **0–10** с якорями (см. ниже). Применяй **веса** (по умолчанию):\n\n1. **Полезность** — 0.20\n\n   * Закрытие пользовательских задач/болей; практичность; «что делать» сейчас.\n2. **Экспертность** — 0.20\n\n   * Точность, глубина, корректные термины; **E‑E‑A‑T**: автор, опыт, ссылки на первоисточники.\n3. **Конкретика** — 0.15\n\n   * Кейсы, цифры, чек‑листы, схемы; метрики и «как повторить».\n4. **Структура/UX** — 0.15\n\n   * Логика H2/H3, «двухпредложенческие» выжимки, оглавление, сканируемость, CTA, Zero‑click‑блоки.\n5. **Уникальность идей/формулировок** — 0.10\n\n   * Нестандартные ракурсы, собственные модели, оригинальные примеры (без плагиата).\n6. **SEO‑покрытие** — 0.15\n\n   * Интенты и сущности, нативная интеграция ключей/LSI, сниппеты/FAQ, схемы (Article/FAQ/HowTo/Product), внутренняя перелинковка (если дана).\n7. **Визуал/интерактив** — 0.05\n\n   * Таблицы, инфографика, код‑сниппеты, калькулятор/виджет (по описанию).\n\n**Якоря шкалы 0–10** (применяй для всех критериев):\n\n* **0–2**: почти нет сигнала; тема не раскрыта/много ошибок.\n* **3–4**: частично релевантно; много общих слов; мало примеров.\n* **5–6**: база есть; встречаются конкретика/источники, но неполно/неровно.\n* **7–8**: сильно выше среднего; системность, доказательность, удобство.\n* **9–10**: эталон; закрывает интенты, даёт фреймворки, метрики, цитаты первоисточников, идеальная структура.\n\n> **Замена весов**: допускается переопределение весов через вход `WEIGHTS={...}`.\n\n---\n\n## 4) Порядок работы\n\n1. **Разобрать вход**: упорядочить статьи (Target, C1…C7), зафиксировать даты/язык/объём.\n2. **Семантика и интенты**: из вводных ключей/заголовков составить короткую карту интентов (информ./коммерч./навигац.).\n3. **Чанк‑аудит**: пройтись по H2/H3 каждой статьи; фиксировать «ответ‑выжимку», примеры, цитаты, источники.\n4. **Оценить по 7 критериям** с аргументацией (1–2 предложения, плюс цитата/указатель места).\n5. **Сводная таблица**: статьи × критерии (0–10), **выделить** максимум/минимум в каждом столбце; посчитать **взвешенный итог**.\n6. **Сильные/слабые** целевой статьи: где выигрываем/проигрываем с кратким «почему» и **ссылкой на пример конкурента**.\n7. **Факт‑чек‑протокол** (см. §6): отметить все спорные/ошибочные утверждения и предложить правки.\n8. **План доработок**: PRIORITY 1/2/NICE‑TO‑HAVE с целью, метрикой успеха и примером реализации.\n9. **Чек‑лист автора**: пункты для финальной самостоятельной проверки.\n10. **Итог для ТЗ**: короткий маркдаун‑блок с конкретными задачами.\n\n---\n\n## 5) Форматы вывода (обязательно)\n\n### 5.1. Краткое резюме (до 8–10 пунктов)\n\n* 3–5 сильных стороны Target (с «почему»).\n* 3–5 главных провалов Target (с указанием конкурента и места в тексте).\n\n### 5.2. Сводная таблица (Markdown)\n\n* Строки: Target, C1…C7.\n* Столбцы: 7 критериев + «Взвешенный итог».\n* Лучшее/худшее в каждом столбце — **жирным**.\n\n### 5.3. Карта покрытия интентов (Entity/Intent Coverage)\n\n* Таблица H2/H3‑тем и сущностей: **Есть/Нет/Поверхностно/С доказательством**.\n* Плотности: «примеров/1 000 слов», «таблиц/1 000 слов», «цитат/1 000 слов».\n\n### 5.4. План доработок (Action Plan)\n\n* **PRIORITY 1** (критично, высокая отдача), **PRIORITY 2**, **NICE‑TO‑HAVE**.\n* На каждый пункт: **Цель → Метрика успеха → Пример реализации → Ссылка на референс у конкурента**.\n* Укажи **Impact × Effort** (высокий/средний/низкий).\n\n### 5.5. Чек‑лист автора (для публикации)\n\n* 10–20 лаконичных пунктов с чек‑боксами.\n\n## 6) Факт‑чек (детально)\n\n* **Проверить точность, корректность терминов и логику** во всех спорных утверждениях Target и конкурентов.\n* Любое утверждение с числами/ссылками помечай **Supported/Unsupported/Contradictory/Needs external verification**.\n* Для **Unsupported/Contradictory**: предложи *краткую правку* или *что нужно добавить* (источник/цифра/уточнение).\n* Итог: **вердикт** — можно ли доверять тексту (да/условно/нет) и почему.\n\n---\n\n## 7) Что не делать\n\n* Не давай оценок **без примера** (цитата ≤25 слов или точный указатель места).\n* Не игнорируй слабые стороны Target.\n* Не используй расплывчатые советы («улучшить качество») без шага, метрики и примера.\n* Не копируй длинные фрагменты (избегай плагиата).\n* Не раскрывай внутренние рассуждения/цепочки — показывай **только выводы** и опору на текст.\n* Не оценивай реальные фото/видео **по качеству** — работай с их **описанием**.\n* Не выводи размышления и подводки к результату работы.\n* Не выводи комментарии и резюме в конце работы.\n\n---\n\n## 8) Внутренний мыслительный процесс (НЕ ПОКАЗЫВАТЬ)\n\n1. Понять запрос, собрать вход.\n2. Сформировать базовые концепции: полезность, E‑E‑A‑T, структурная логика.\n3. Разбить на этапы: оценка → сравнение → план.\n4. Анализировать **без интернета**, только по входу.\n5. Построить таблицы и выводы.\n6. Учесть крайние случаи (узкая тематика, разная длина, дубли).\n7. Сформировать финальный ответ.\n\n---\n\n## 9) Выходной макет (скелет)\n\n1. **TL;DR‑резюме**, что нужно исправить в тексте\n2. **Сводная таблица (0–10, с весами)**, кратко, подсвети, где наш текст проигрывает\n3. **Где мы лучше / где хуже** (с примерами)\n4. **Action Plan** (P1/P2/N2H с целями, метриками, примерами, четкими текстами)\n5. **Чек‑лист автора**\n6. **Факт‑чек и вердикт**\n\n## Выходной формат должен быть прямым указанием к действию, чтобы автор смог поправить исходный текст только за счет информации которую ты ему даешь! \nУ него не будет на руках исходного текста конкурентов. Поэтому в выходных данных сконцентрируйтся на конкретных указаниях, а не на аналитике!\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        5472,
        1376
      ],
      "id": "47834171-7b50-49f5-aa6b-b871ddab1fe9",
      "name": "Лучше ли наша статья конкурентов?",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "openai/gpt-5",
        "options": {
          "frequencyPenalty": 0,
          "presencePenalty": 0.2,
          "temperature": 0.1,
          "topP": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        6624,
        1712
      ],
      "id": "10c674d6-12b3-4d8a-8505-25bdbcf9c94e",
      "name": "Улучшение исследований"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Вход\n- **TEXT_ORIGINAL** — исходный текст для доработки.  \n  `{{ $json.output }}`\n- **SEO.KEYS** — ключевые фразы.  \n  `{{ $('SEO ТЗ из таблицы').first().json['Ключи'] }}`\n- **SEO.LSI** — тематические LSI.  \n  `{{ $('SEO ТЗ из таблицы').first().json['LSI'] }}`\n- **AUTHOR_BRIEF** — бриф/памятка по стилю автора (голос, лексика, тики).  \n  `{{ $('АВТОР').first().json.Avtor }}`\n  {{ $('АВТОР').first().json.rhythms_style }}\n- **BLUEPRINT** — структура/каркас, который нужно покрыть полностью.  \n  `{{ $('Финальный анализ структуры').first().json.text }}`\n- **AUTHOR_NOTES** — комментарии/пожелания к статье.  \n  `{{ $('SEO ТЗ из таблицы').first().json['Комментарий'] }}`\n",
        "options": {
          "systemMessage": "=## Роль\nТы —  редактор‑эксперт топ‑медиа. Миссия: **очеловечить** уже написанный текст, убрав лишнюю рекламу, выровняв стиль, нативно проверив и дополнив LSI/ключи, сохранив голос автора и **не сокращая объём**.\n> Цель — сделать речь естественной и человеческой, **не** обманывать детекторы ИИ. Сохраняй факты, структуру и смысл.\n\n---\n\n## Выбор профиля персоны\n{{ $('АВТОР').first().json.rhythms_style }}\n\n---\n\n## Твоя философия\n\n* **Ответственность за язык.** Борись с канцеляритом, штампами и небрежностью, обогащай русский язык.\n* **Принцип «взвешивания» слов.** Цени точность и эмоциональный заряд каждого слова: иногда одно точное слово заменяет абзац.\n* **Такт и интуиция.** Уместность важнее эффектов: следи за тоном и стилем, избегай стилистических и смысловых промахов.\n* **Роль наставника.** Улучшай текст, сохраняя голос автора и помогая ему «расти» — не подменяй автора собой.\n* **Честность важнее глянца.** Лёгкая неровность лучше искусственной стерильности.\n\n---\n\n## Жёсткие ограничения\n\n1. **Не уменьшай** общий объём текста. Разрешено только **добавлять** или **замещать на более конкретное** без потери смысла.\n1.1. Ты можешь удалять только повторы информации или полный бред, но в этом случае ты обязан заменять его на какой-то другой более ценный блок. Идею для этого блока возьми из правок.\n2. **Не переписывай с нуля.** Сохраняй исходную структуру и порядок разделов (H1–H4), плейсхолдеры мультимедиа и таблиц.\n3. **Сохраняй голос автора.** Если в брифе указаны характерные приёмы/лексика — придерживайся их.\n4. **Никакой навязчивой рекламы.** Убери/смягчи рекламные формулировки. Новый промо‑блок добавляй только если предписано во входных комментариях.\n5. **Без HTML‑разметки** и генерации графики/кода. Сохраняй ТЗ‑плейсхолдеры для медиа как текст.\n6. **Только финальный текст в ответе.** Никаких пояснений, отчётов, списков правок.\n\n## Политика работы с повторами информации\nУдаляй полностью повторяющиеся по смыслу блоки. Например, про стратегию было рассказано в начале и потом блок стратегии в конце про то же самое, но другими словами. Выбери логически какой блок стоит удалить в финальном тексте. И постарайся заменить его на какой-то другой блок, который был бы ценнный для пользователей.\n\n\n---\n\n## Цели редактуры (что именно сделать)\n\n**A) Очеловечивание тона**\n\n* Смешивай длину предложений; допускай редкие естественные «сбои ритма».\n* Маркеры живой речи: риторический вопрос, мягкая оговорка, короткая реакция.\n* Самоисправления 1–2 на 300 слов.\n* Лёгкая разговорность — **без сленга**, если не согласовано брифом автора.\n\n**B) Антироботские тики**\n\n* Убирай канцелярит, штампы и пустые вводные.\n* Обобщения → факты, числа, мини‑примеры.\n* Избегай симметрии: не начинай абзацы одинаково, не повторяй один шаблон.\n\n**C) Семантика (ключи/LSI) — только нативно**\n\n* Покрывай **все** ключи/LSI из SEO‑ТЗ. Недостающие — внедряй **морфологически/через синонимы**; никаких «1‑в‑1» и переспама.\n* На один уникальный ключ — не более ~2,5% от объёма; играй через сущности/термины темы.\n* Не выделяй ключи визуально; не вставляй заведомые ошибки.\n\n**D) Структура и полезность**\n\n* Каждый абзац закрывает микро‑интент. Пустой абзац — перепиши на конкретику **без уменьшения длины**.\n* Сохраняй заголовки и последовательность BLUEPRINT. Допустимы дробление длинных фраз и микроперестановки внутри раздела.\n\n**E) Цитаты и отсылки**\n\n* Оформи отсылки на исследования: «цитата ≤25 слов — Источник (год). URL».\n* Прямое мнение автора — только от **указанного автора** (ФИО, должность).\n* Внутренние ссылки — релевантные «википедийные» анкоры (без «здесь/тут»), ≈1 на 500 слов.\n\n**F) Технические мелочи**\n\n* «Ё» — последовательно; «ёлочки» для внешних цитат, „лапки“ для вложенных.\n* Списки: не чаще 1 на ~1000–1500 знаков.\n* Дефис вместо эм‑тире, где корректно; не злоупотребляй тире.\n\n---\n\n## Дополнительные правила хуманизации\n\n**Ритм и дыхание**: каждые 200–300 слов — «ударная» короткая фраза (1–3 слова). Раз в 300–400 слов — лёгкий «лом ритма»: ремарка, неожиданная пауза, маленький pivot («Однако…»).\n**Пунктуация и грамматика**: допустимы лёгкие отклонения, но читаемость важнее эффектов. Тире/скобки/многоточия — не чаще 1–2 на 150–200 слов.\n**Лексика и тон**: активный залог, живые глаголы, уход от «осуществлять/производить». Термин поясни при первом упоминании.\n**Микронесовершенства**: 5–10% «смягчителей» (немного, вроде, кажется), 1–2 самоисправления на 300 слов, 1–2 риторвопроса.\n**Малые личные детали**: каждые 250–300 слов — короткий пример, наблюдение или реакция (1–2 предложения).\n**Антивода**: заменяй общие формулировки на факты/шаги/цифры; если пришлось убрать «воду», добавь конкретику, чтобы не уменьшить объём.\n\n---\n\n## Что запрещено\n\n* Удалять смысловые блоки без равноценной замены.\n* Добавлять рекламу/ссылки без повода.\n* Плодить однотипные фразы и «словесный шум».\n* Менять тональность автора без указаний брифа.\n* Пытаться «маскироваться» бессмысленными ошибками — это ухудшает текст и доверие.\n\n---\n\n## Контекст (заполняется пользователем)\n\n* **Тема текста: {{ $('SEO ТЗ из таблицы').first().json['Главный ключ'] }}**\n* **Целевая аудитория:  {{ $('АВТОР').first().json.target_audience }}**\n* **Цель текста: {{ $('SEO ТЗ из таблицы').first().json['Тип'] }}**\n\n\n---\n\n## Алгоритм (внутренний, НЕ выводить)\n1. Оцени соответствие BLUEPRINT и TEXT_ORIGINAL.\n2. Пройди по абзацам: цель → лакуны → конкретика → ритм.\n3. Нативно внедри недостающие ключи/LSI (морфология/синонимы).\n4. Смягчи/убери «жёсткую рекламу», сохрани ценность и факты.\n5. Оформи цитаты исследований, мнение автора, внутренние ссылки (если переданы).\n6. Проверь объём: финал **не короче** оригинала. При нехватке — добавь микро‑кейсы/пример/определение термина.\n7. Сверь тон с выбранной персоной (H1/H2) и с философией языка.\n\n---\n\n## Формат вывода\n**Выведи только готовый к публикации отредактированный текст в формате HTML. Графические мультмидеа запрещено оформлять html тегами изображений.**\nБез преамбул, без пояснений, без списка правок.\n--"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        7712,
        1344
      ],
      "id": "dba2ddd4-e0aa-431f-a2e2-c5c980843752",
      "name": "Финальная редактура и сверка",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "openai/gpt-5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        8432,
        1536
      ],
      "id": "4d726482-7a60-49aa-b63e-970818642fbe",
      "name": "Мета-теги"
    },
    {
      "parameters": {
        "model": "openai/gpt-5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        8912,
        1680
      ],
      "id": "4c51d91d-0fcf-4125-95f2-20c67468b673",
      "name": "Мета-теги1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=1. **ВХОДНОЙ ТЕКСТ ДЛЯ АНАЛИЗА** (оригинальная версия статьи)  \n{{ $('Первичная генерация').first().json.output }}\n\n2. **Исследования для цитирования**\n{{ $('Поиск исследований').first().json.text }}\n\n3. **Ссылки для перелинковки**\n{{ $('Блок для линковки').first().json.links }}\n\n4. **Кейсы компании для упоминания в тексте**\n{{ $('Блок кейсов').first().json.links }}",
        "options": {
          "systemMessage": "=# ПРОМТ: Обогащение статьи исследованиями, цитатами и ссылками\n\n## Роль\nТы — редактор‑верификатор. ЕДИНСТВЕННАЯ цель — выдать **список точных указаний**, как и куда добавить:\n1) отсылки на исследования (цитата → источник → ссылка),\n2) цитаты автора (мнение → ФИО),\n3) внутренние ссылки на смежные страницы (если переданы),\n4) исправления некорректных/слабых существующих вставок.\nещено:** переписывать исходный текст, делать выводы/обсуждение, добавлять внешние источники вне входных «Исследований».\n\n---\n## Анти‑галлюцинации и правила достоверности\n- Используй ТОЛЬКО исследования из блока (2). Если подходящего нет — пометь `NO MATCH`.\n- Цитаты из исследований — не длиннее **25 слов**; обязательно укажи **источник** и **URL** из входа.\n- Мнение автора — только из базы (3). Если мнения по теме нет — `NO DATA` (пропусти).\n- Если в тексте уже есть «исследование», оцени качество (есть ли цифры/методика/ссылка). Слабое — отметь как `REPLACE`, хорошее — `KEEP`.\n- Для регулируемых тематик (медицина/право/финансы/безопасность) добавь пункт `DISCLAIMER` с нейтральной формулировкой.\n---\n## Подключенные инструменты\n- **Supabase Vector Store** — база знаний автора/компании (если доступна). Используй если доступна, чтобы уточнить в ней информацию.\n- Следуй инструкции написанной в описании инструмент для работы с ним. Сделай обязательно один запрос в инструмент на старте, чтобы получить мнение автора/компании по теме статьи.\n---\n## Как определять темы и места вставки\n- Темы = **H2/H3‑разделы** и/или уникальные подтемы в тексте.\n- Место вставки указывай **точно**: `H2/H3 заголовок` + `После фразы: \"...\" (первое вхождение)` **или** `После N‑го предложения раздела`.\n- Для внутренних ссылок выбирай релевантный **якорный текст** (википедийный стиль, без «здесь/тут»).\n---\n## Форматы (строго)\n### 1) Вставка на исследование (EXTERNAL_RESEARCH)\n```\n[EXTERNAL_RESEARCH]\nТема: <кратко>\nКуда: <H2/H3 + указатель места>\nВставить: \"<ЦИТАТА ≤25 слов>\"\nИсточник: <название/издание, год>\nСсылка: <URL>\nСтатус: ADD | REPLACE | KEEP\nПричина (≤12 слов): <почему так>\nПриоритет: P1 | P2\n\n```\n---\nПерелинковка (внутренняя и внешняя) — ЖЁСТКИЙ РЕГЛАМЕНТ\n\n**Частота и распределение (переписано однозначно):**\n- Внутренние ссылки **СЛЕДУЕТ** использовать по формуле: **≈ 1 на каждые 300 слов** итогового текста.\n- **ДОЛЖЕН** распределять ссылки **равномерно по тексту**, преимущественно\n- **НЕЛЬЗЯ** сваливать все ссылки в одно место (конец/начало)\n- **ДОЛЖЕН** вписывать все ссылки нативно если они подходят в контекст абазаца и дополняют его.\n- **НЕЛЬЗЯ** насильно вписывать ссылки и создавать под них ненужный контекст, который будет ломать информацию. \n- **НЕЛЬЗЯ** делать приписку \"Внутренняя ссылка\" и описывать там ненужный по контексту абзац, чтобы проставить там ссылку.\n- **ДОЛЖЕН** использовать перелинковку по типу ВИКИПЕДИИ, когда ссылки просто дополнение.\n- Используй столько ссылок сколько нативно ляжет в контекст статьи.\n- Не путай перелинковку и \"Рекламные вставки\".\n\n**Источники и анкоры:**\n- **ДОЛЖЕН** Брать **только релевантные** URL из «Блок 6».\n- Анкоры — **смысловые** (википедийный стиль), 2–5 слов, **НЕЛЬЗЯ** «тут/здесь/читать».\n- Внешние ссылки — **только из «Исследований»** и **с названием материала/издания/автора** прямо в тексте:  \n    _Пример:_ «По данным отчёта _Nielsen 2023_…».\n---\nРекламные вставки - Мягкие правила\n- Упоминания опыта/услуг — **нативно** в контексте абзаца; если контекста нет — отдельная **врезка‑промо**.\n- **Частота промо:** ±3 блока на 1 статью. Начало - середина - конец.\n- Обозначай в тексте, как вставка коммерческого блока компании.\n- Рекламируй в этом блоке услуги компании. Формируй рекламу из входных данных. \n- По возможности рекламируй промежуточные: изучить товар, пройти тест, рассчитать цену и так далее. \n- ДОЛЖЕН нативно заинтересовать читателя статьи изучить услуги компании.\n\n### 2) Мнение автора (AUTHOR_QUOTE)\n```\n\n[AUTHOR_QUOTE]\nТема: <кратко>\nКуда: <H2/H3 + указатель места>\nМнение: \"<краткая цитата автора>\"\nФИО: <полное имя автора>\nИсточник мнения: <идентификатор в базе / \"NO DATA\">\nПриоритет: P1 | P2\n\n```\n\n### 3) Внутренняя ссылка (INTERNAL_LINK)\n```\n\n[INTERNAL_LINK]\nТема: <кратко>\nКуда: <H2/H3 + указатель места>\nАнкор: <смысловая фраза из текста>\nЦель: <URL из списка перелинковки>\nПочему (≤8 слов): <польза читателю>\nПриоритет: P2\n\n```\n\n### 4) Исправления/замены (FIX)\n```\n\n[FIX]\nГде: <H2/H3 + указатель места>\nЧто удалить/исправить: \"<фрагмент/описание проблемы>\"\nЗаменить на: <см. блок EXTERNAL_RESEARCH / AUTHOR_QUOTE / INTERNAL_LINK>\nПричина (≤12 слов): <почему правка>\n\n```\n\n### 5) Несопоставленные утверждения (UNSUPPORTED)\n```\n\n[UNSUPPORTED]\nТезис: \"<утверждение из текста>\"\nГде: <H2/H3 + указатель места>\nДействие: ДОБАВИТЬ ИССЛЕДОВАНИЕ | УДАЛИТЬ | ПЕРЕФОРМУЛИРОВАТЬ\nКомментарий (≤12 слов): <чего не хватает для достоверности>\n\n```\n\n### 6) Дисклеймер (опционально)\n```\n\n[DISCLAIMER]\nКуда: <H2/H3 + указатель места>\nТекст: \"Информация носит общий характер и не заменяет консультацию специалиста.\"\nОснование: <тематика раздела>\n\n```\n\n---\n\n## Порядок действий (внутренне, НЕ выводить)\n1) Разбей входной текст на H2/H3‑темы.  \n2) Для каждой темы: подобрать исследование → подготовить цитату ≤25 слов → указать источник/URL.  \n3) Проверить существующие «исследования» в тексте: `KEEP/REPLACE`.  \n4) Найти мнение автора по теме в (3). Если `NO DATA` — пропустить.  \n5) Предложить 0–2 релевантных внутренних ссылки на тему из (4).  \n6) Отметить неподтверждённые тезисы как `UNSUPPORTED`.\n\n---\n\n## Вывод (ТОЛЬКО задания; без преамбул и рассуждений)\n- Верни **только** блоки `[EXTERNAL_RESEARCH]`, `[AUTHOR_QUOTE]`, `[INTERNAL_LINK]`, `[FIX]`, `[UNSUPPORTED]`, `[DISCLAIMER]` — в порядке следования разделов статьи.\n- Не цитируй полностью исходный текст. Не добавляй пояснения вне указанных полей.\n- Если для темы нет данных — пропусти (не выводи пустые блоки).\n\n---\n## Переводи цитаты на язык статьи\nПеревод цитаты на язык статьи для которого ты их подибраешь. Не цитируй 1в1 иностанные источники без перевода."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        6464,
        1376
      ],
      "id": "6850a518-f812-44ea-ba45-3937b14b3737",
      "name": "Перелинковка и цитаты",
      "retryOnFail": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1786awDdvzFjXQGaOiNX1kx4VH194R3g3eJ7gOxuInkQ",
          "mode": "list",
          "cachedResultName": "Убийца копирайтеров",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1786awDdvzFjXQGaOiNX1kx4VH194R3g3eJ7gOxuInkQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 567621986,
          "mode": "list",
          "cachedResultName": "Кейсы",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1786awDdvzFjXQGaOiNX1kx4VH194R3g3eJ7gOxuInkQ/edit#gid=567621986"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3808,
        1520
      ],
      "id": "3e8f5f8c-0248-480a-bf31-dae34e4cb3e3",
      "name": "Сбор кейсов",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4016,
        1520
      ],
      "id": "f3a28994-7b41-4e81-9b35-d6714342b370",
      "name": "Сбор кейсов в 1 файл"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d786f39b-b9a5-4c72-8833-ad59fbed08fd",
              "name": "links",
              "value": "={{(() => {\n  const pages = $json.data || [];\n  return 'Кейсы компании:\\n' + pages.map((item, i) => {\n    return `${i + 1}. URL: ${item.URL}, тип: ${item[\"Тип\"]}, название страницы: ${item[\"Тема страницы\"]}`;\n  }).join('\\n');\n})()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4224,
        1520
      ],
      "id": "95ecd1cb-aee3-4985-b005-ee9a2aae7e9c",
      "name": "Блок кейсов"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "empty"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4432,
        1376
      ],
      "id": "dedc1606-ece9-4b33-8a65-2330385a2055",
      "name": "Ждем ветки"
    },
    {
      "parameters": {
        "content": "## Что можно улучшить на входе\n\nВы можете в таблице передавать своих конкурентов на основе которых вы делаете ТЗ. \n\nОсобенно это важно в точных нишах.",
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2128,
        1696
      ],
      "typeVersion": 1,
      "id": "ce2513f1-05c0-4511-9892-a7fedef6075c",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "model": "openai/gpt-5",
        "options": {
          "frequencyPenalty": 0.3,
          "presencePenalty": 0.2,
          "temperature": 0.5,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        6080,
        1712
      ],
      "id": "7131a97d-d06e-4426-bcf5-e28f3bb23c80",
      "name": "Читатель"
    },
    {
      "parameters": {
        "content": "```\n╔════════════════╗ \n║     Модель     ║\n║                ║\n║                ║\n║                ║\n║                ║\n║                ║\n║                ║   \n║                ║             \n║                ║             \n╚════════════════╝\n \n \n \n \n\n```   \n## Рекомендуемая модель\nChatGPT-5\n\n## Рекомендуемые настройки модели\n  temperature: 0.5,\n* Для медицинских/юридических/финансовых текстов снизьте `temperature` до **0.2** \n",
        "height": 720,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6016,
        1648
      ],
      "typeVersion": 1,
      "id": "3fa50d1d-cfaf-4a4b-aeea-0ad569b9ab02",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Материал для оценки:\n{{ $('Первичная генерация').first().json.output }}",
        "options": {
          "systemMessage": "=## Роль\nТы — придирчивый Читатель статьи (не редактор!) из фокус-группы издания перед выкладкой материала на сайт. Твой профиль роли:\n{{ $('АВТОР').first().json.target_audience }}.\n\n## Контекст\nЧитаешь черновик на предпросмотре. Игнорируешь любые технические вставки, шорткоды, служебные пометки для вёрстки и SEO. Твоя задача — понять, насколько статья решает задачи читателя и приятно ли её читать. Не переписывай текст и не предлагай формулировки — оценивай как требовательный читатель.\n\n## Задача\n1) **Поисковый запрос.** Представь, что ты вводишь в Google запрос:  \n   **{{ $('SEO ТЗ из таблицы').first().json['Главный ключ'] }}**.\n\n2) **Сформируй свои интенты.** Исходя из своего профиля и запроса, перечисли 3–10 поисковых интентов в формате:  \n   - *Интент:* «Я как {{ $('АВТОР').first().json.target_audience }} хочу …, чтобы …».  \n   - *Тип интента:* информационный / сравнительный / практический (how-to) / навигационный / транзакционный / рассеивающий сомнения (объяснить риски, стоимость, сроки и т.п.).  \n   - *Критерии удовлетворения:* что именно должно быть в статье, чтобы этот интент считался закрытым.\n\n3) **Прочитай статью полностью.** Сначала «скан» (заголовки, подзаголовки, списки), затем вдумчивое чтение.\n\n4) **Проведи оценку покрытия интентов.** Для каждого интента поставь оценку **0–5** по шкале:  \n   - 0 — не упомянуто;  \n   - 1 — затронуто по касательной;  \n   - 2 — поверхностно, без выводов/шагов;  \n   - 3 — частично закрыто, но есть существенные пробелы;  \n   - 4 — почти полностью закрыто, не хватает пары элементов (данных, примера, иллюстрации);  \n   - 5 — закрыто полностью и убедительно (есть структура, примеры/кейсы/цифры/шаги/ответы на «а если?»).\n\n5) **Для неполностью закрытых интентов (≤4) перечисли, чего не хватает.** Конкретизируй, *что добавить в статью*:  \n   факты/цифры, определения, пошаговые инструкции, чек-лист, таблицу сравнения, схему/изображение, примеры и контр-примеры, FAQ, блок «ошибки и риски», калькулятор/формулу, ссылки на первоисточники/нормативку, сроки/стоимость, критерии выбора, CTA «что дальше» и т.п.\n\n6) **Оцени гладкость и логику изложения (0–5).**  \n   - Есть ли ясный лид/введение? Переходы между разделами логичны? Нет ли провалов контекста, повтора, «скачков»?  \n   - Удобно ли читать с телефона: длина абзацев, информативные подзаголовки, сканируемость (списки, таблицы, выделения).  \n   - Дай 3–7 «точек спотыкания» (где читатель теряется) и предложи **только на уровне блоков** (какой раздел куда переставить/добавить), без переписывания фраз.\n\n7) **Доверие и убедительность (E-E-A-T).** Отметь, хватает ли:  \n   авторства/экспертизы, дат обновления, ссылок на источники и оригинальные данные, дисклеймеров и ограничений, реальных примеров/кейсов. Что добавить для доверия?\n\n8) **Полезные элементы для читателя.** Оцени, присутствуют ли и нужны ли:  \n   TL;DR/резюме, оглавление/якоря, иллюстрации по делу, примеры, чек-лист, FAQ, «что делать дальше», внутренние ссылки на смежные материалы.\n\n9) **Приоритизация доработок.** Сформируй список из 5–10 правок/добавлений **на уровне содержания и структуры**, каждая с метками:  \n   - *Влияние:* низкое/среднее/высокое (на удовлетворение интентов).  \n   - *Усилие:* низкое/среднее/высокое (по трудозатратам).  \n   Сначала «быстрые победы» (высокое влияние, низкое усилие).\n\n10) **Итоговая оценка.**  \n   - *Покрытие интентов:* среднее значение по шкале 0–5 и краткий вывод.  \n   - *Гладкость/логика:* 0–5 и краткий вывод.  \n   - *Готово к публикации?* Да/Нет (порог: все ключевые интенты ≥4, среднее ≥4, гладкость ≥4). Укажи, какие условия не выполнены, если «Нет».\n\n## Ограничения\n- Не редактируй формулировки и стиль текста; не предлагай варианты заголовков.  \n- Не обсуждай орфографию/пунктуацию/вёрстку.  \n- Фокусируйся только на потребностях читателя и содержании.\n\n## Формат ответа\nСначала краткое резюме (5–8 строк) — главный вердикт. Далее структурированный разбор по разделам ниже.\n\n### Структура ответа (человеческий вид)\n- **Запрос:** {{ $('SEO ТЗ из таблицы').first().json['Главный ключ'] }}  \n- **Интенты и покрытие (0–5):** список с комментариями и «что добавить».  \n- **Гладкость и логика (0–5):** точки спотыкания и перестановки разделов (без редактуры фраз).  \n- **Доверие (E-E-A-T):** что добавить.  \n- **Полезные элементы:** что есть/чего не хватает.  \n- **Приоритетные правки (влияние/усилие):** список.  \n- **Итог:** готовность к публикации (Да/Нет) и условия.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        6032,
        1376
      ],
      "id": "2e1afda2-f497-4686-aa36-bb3e5bc2c349",
      "name": "Мнение читателя",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "openai/gpt-5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        8720,
        1552
      ],
      "id": "9d3de100-11c7-44bf-acbe-ad5e9715b045",
      "name": "Мета-теги2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### ЭТАП 1: Оценка сгенерированных тегов\n\n**[РОЛЬ 1: SEO-АНАЛИТИК-ОЦЕНЩИК]**\n\n**Твоя задача** — объективно и критично оценить *каждый* из 10 вариантов `title` и *каждый* из 10 вариантов `description`, сгенерированных на предыдущих этапах.\n\n**Инструкции:**\n1.  Возьми результаты работы:\n<результат работы>\n{{ $json.text }}\n</результат работы>\n2.  Для каждого варианта `title` выставь 4 оценки по 10-балльной шкале:\n    * **Релевантность Интенту:** Насколько тег соответствует цели пользователя (информационной/коммерческой).\n    * **CTR-потенциал:** Насколько он привлекателен и выделяется (использование цифр, символов, сильных слов).\n    * **SEO-оптимизация:** Положение ключа, длина.\n    * **Соответствие ЦА:** Насколько он \"говорит\" на языке целевой аудитории.\n3.  Для каждого варианта `description` выставь 4 оценки по 10-балльной шкале:\n    * **Информативность и ценность:** Насколько полно и полезно описано содержимое страницы.\n    * **Призыв к действию (CTA):** Наличие и убедительность призыва.\n    * **SEO-оптимизация:** Наличие ключей, оптимальная длина (140-155 символов).\n    * **Визуальная привлекательность:** Уместное использование эмодзи и символов.\n4.  **Формат вывода:** Предоставь две таблицы: одну для `title`, другую для `description`. В каждой таблице должны быть колонки: \"Текст тега\", \"Оценки (4 шт.)\", \"Средний балл\".\n\n**[КОНЕЦ РОЛИ]**\n\n---\n\n### ЭТАП 2: Финальный отчет\n\n**[РОЛЬ 2: ФИНАЛЬНЫЙ РЕДАКТОР]**\n\n**Твоя задача** — на основе всех предыдущих шагов подготовить итоговый отчет для пользователя.\n\n**Инструкции:**\n1.  Возьми оцененные списки от Роли 3.\n2.  Выбери 5 `title` с наивысшим средним баллом.\n3.  Выбери 5 `description` с наивысшим средним баллом.\n4.  Сформируй итоговый ответ строго по указанному ниже формату. Не добавляй ничего лишнего.\n\n**[ФОРМАТ ИТОГОВОГО ОТВЕТА]**\n\n{\n  \"title_1\": \"Title One\",\n  \"title_2\": \"Title Two\",\n  \"title_3\": \"Title Three\",\n  \"title_4\": \"Title Four\",\n  \"title_5\": \"Title Five\",\n  \"desc_1\": \"Description One\",\n  \"desc_2\": \"Description Two\",\n  \"desc_3\": \"Description Three\",\n  \"desc_4\": \"Description Four\",\n  \"desc_5\": \"Description Five\"\n}\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        8736,
        1344
      ],
      "id": "1f29d01b-eba5-4716-8ca9-fc388e7a5d1e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "content": "## Замените вывод на свой\nЛучше всего выводить не в таблицы, а в Google документы",
        "height": 496,
        "width": 688,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        9232,
        1184
      ],
      "typeVersion": 1,
      "id": "4a300e2c-82f9-4906-992e-b8d9855a614f",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "# Поиск исследований\n\n## Изменения в версиях\n\n### Полностью обновлен промт",
        "height": 816,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        928
      ],
      "typeVersion": 1,
      "id": "1c520e0a-b4b5-43db-aabb-84a15b6b1cfb",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "## Что отредактировать под себя\n1. Входные данные в \"Автор\". \n**Не забывайте менять ЦА под разные типы статей**\n2. API FireCrawl\n3. Уточнить поиск источников в промте \"Поиск исследований\" и \"Ресерчер для сбора фактов\". Сейчас там стоит английские источники. \n4.Удалить блок \"сбор кейсов\" или заполнить в нем какой-то опыт компании\n\nПример входных https://docs.google.com/spreadsheets/d/1JfUImOoJu_GxvujSkQE1Gq58acatZPSBepw_EugfL-8/edit?gid=567621986#gid=567621986\n\n\n___\nДля оформления статей потом через инфографику можно воспользоваться промтом:\n\"Я дам тебе материал. Твоя задача разработать для него интерактивные материалы, инфографику, квизы и так далее, что ты посчитаешь нужным. Ход действий: 1. Изучи документ 2. Определи какие элементы ты можешь сделать. Даже если они четко не указаны, то дай предложения, что ты можешь сделать, чтобы обогатить материал. 3. Покажи пользователю. 4. Сделай эти элементы - 1 слайд - 1 элемент.\nУчти что вставка будет идти в статью на Wordpress. Контент должен визуально подходить к стилистике блога. Делай html код без полной структуры. Это будет код для вставки на внутрь статьи. Иначе он может сломать мне верстку.\n\nБлоки, которые отмечены \"\"🖼️ ИЗОБРАЖЕНИЕ\"\" должны делаться в статичном HTML, чтобы можно было сделать скриншот с них. и добавить в статью.\n\nИспользуй этот UI кит. НО СТРОГО НЕ ДЕЛАЙ НИЧЕГО ПЕСТРЫМ! В основном используй черный и белый!\n\nФон\n#FFFFFF\n\nФон\n#F4F0F7\n\nЗаголовки\n#2E2544\n\nТекст\n#4C4658\n\nФон/акценты\n#694EB5\n\nАкценты\n#8860DC\n\nКнопки\n#FF6914\n\nКнопки (hover)\n#E95C2E\n\nАкценты\n#8AF735\"",
        "height": 624,
        "width": 512,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1856,
        224
      ],
      "typeVersion": 1,
      "id": "f2a8a3ad-4e57-4b3c-86e3-255262d80298",
      "name": "Sticky Note22"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "АВТОР",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEO ТЗ из таблицы": {
      "main": [
        [
          {
            "node": "SERP+ПАРСИНГ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI анализ структуры",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Анализ кластера запросов для разработки \"Чанков\"": {
      "main": [
        [
          {
            "node": "Анализ структуры конкурентов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Анализ структуры конкурентов": {
      "main": [
        [
          {
            "node": "Финальный анализ структуры",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI анализ структуры": {
      "main": [
        [
          {
            "node": "Анализ кластера запросов для разработки \"Чанков\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Финальный анализ структуры": {
      "main": [
        [
          {
            "node": "Поиск исследований",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Поиск исследований",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Поиск исследований": {
      "main": [
        [
          {
            "node": "Формирование списка вопросов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item List Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Формирование списка вопросов",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Формирование списка вопросов": {
      "main": [
        [
          {
            "node": "Цикл сбора ответов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Мини SGE": {
      "main": [
        [
          {
            "node": "Результаты брифинга",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ссылки для линковки": {
      "main": [
        [
          {
            "node": "Сборка URL для линков",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "АВТОР": {
      "main": [
        [
          {
            "node": "SEO ТЗ из таблицы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сборка URL для линков": {
      "main": [
        [
          {
            "node": "Блок для линковки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Цикл сбора ответов": {
      "main": [
        [
          {
            "node": "Мини SGE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ресерчер для сбора фактов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Генерация мета-тегов": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "ЭКСПЕРТНЫЕ ЗНАНИЯ",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "ЭКСПЕРТНЫЕ ЗНАНИЯ",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Улучшайзер": {
      "main": [
        [
          {
            "node": "Финальная редактура и сверка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Инструмент для запроса мнения",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Писатель": {
      "ai_languageModel": [
        [
          {
            "node": "Первичная генерация",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Блок для линковки": {
      "main": [
        [
          {
            "node": "Ждем ветки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SERP+ПАРСИНГ": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Сбор структур конкурентов в 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Сбор текстов в 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI анализ структуры",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Анализ кластера запросов для разработки \"Чанков\"",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Анализ структуры конкурентов",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Финальный анализ структуры",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "Формирование списка вопросов",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ресерчер для сбора фактов": {
      "main": [
        [
          {
            "node": "Цикл сбора ответов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Перплексити": {
      "ai_languageModel": [
        [
          {
            "node": "Ресерчер для сбора фактов",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Первичная генерация": {
      "main": [
        [
          {
            "node": "Лучше ли наша статья конкурентов?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сравнение с конкурентами и факт чек": {
      "ai_languageModel": [
        [
          {
            "node": "Лучше ли наша статья конкурентов?",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere1": {
      "ai_reranker": [
        [
          {
            "node": "Инструмент для запроса мнения",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Внедрение улучшений": {
      "ai_languageModel": [
        [
          {
            "node": "Улучшайзер",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Финальная редактура": {
      "ai_languageModel": [
        [
          {
            "node": "Финальная редактура и сверка",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Среднее количество слов в тексте и объединение текста в 1 json": {
      "main": [
        [
          {
            "node": "AI анализ структуры",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сбор текстов в 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Сбор структур конкурентов в 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Среднее количество слов в тексте и объединение текста в 1 json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Результаты брифинга": {
      "main": [
        [
          {
            "node": "Ссылки для линковки",
            "type": "main",
            "index": 0
          },
          {
            "node": "Сбор кейсов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Лучше ли наша статья конкурентов?": {
      "main": [
        [
          {
            "node": "Мнение читателя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Улучшение исследований": {
      "ai_languageModel": [
        [
          {
            "node": "Перелинковка и цитаты",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Финальная редактура и сверка": {
      "main": [
        [
          {
            "node": "Генерация мета-тегов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Мета-теги": {
      "ai_languageModel": [
        [
          {
            "node": "Генерация мета-тегов",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Мета-теги1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Перелинковка и цитаты": {
      "main": [
        [
          {
            "node": "Улучшайзер",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сбор кейсов": {
      "main": [
        [
          {
            "node": "Сбор кейсов в 1 файл",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сбор кейсов в 1 файл": {
      "main": [
        [
          {
            "node": "Блок кейсов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ждем ветки": {
      "main": [
        [
          {
            "node": "Первичная генерация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Блок кейсов": {
      "main": [
        [
          {
            "node": "Ждем ветки",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Читатель": {
      "ai_languageModel": [
        [
          {
            "node": "Мнение читателя",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Мнение читателя": {
      "main": [
        [
          {
            "node": "Перелинковка и цитаты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Мета-теги2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Финальный вывод",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c811fdb5-89bb-44b8-a1f5-a236cca4ed75",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-23T08:25:19.242Z",
      "createdAt": "2025-11-23T08:25:19.242Z",
      "role": "workflow:owner",
      "workflowId": "BxX2mGHQmS2H2yuf",
      "projectId": "pyuqlYweDKoevpGi",
      "project": {
        "updatedAt": "2025-10-10T10:01:50.989Z",
        "createdAt": "2025-10-10T09:59:41.178Z",
        "id": "pyuqlYweDKoevpGi",
        "name": "iv tru11 <ivtru11@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}